/* Primitives - Static Once */
:root {
  --amber-100: #fff9da;
  --amber-200: #fff09f;
  --amber-300: #ffe35a;
  --amber-400: #ffce1b;
  --amber-500: #ffc40a;
  --amber-600: #f4b400;
  --amber-700: #e3a600;
  --amber-800: #d39a00;
  --amber-900: #c08b00;
  --amber-1000: #af7e00;
  --amber-1100: #9f7200;
  --amber-1200: #906800;
  --amber-1300: #815d00;
  --amber-1400: #745300;
  --amber-1500: #674a00;
  --amber-1600: #5b4100;
  --amber-1700: #4f3800;
  --amber-1800: #422f00;
  --amber-1900: #3a2900;
  --amber-2000: #332400;
  --amber-2100: #2e2100;
  --amber-2200: #291d00;
  --amber-2300: #241a00;
  --amber-2400: #191200;
  --atoll-100: #e4fcfc;
  --atoll-200: #c8f8f8;
  --atoll-300: #9ff3f3;
  --atoll-400: #54e9e9;
  --atoll-500: #1de2e2;
  --atoll-600: #0bd3d3;
  --atoll-700: #0ac4c4;
  --atoll-800: #0ab6b6;
  --atoll-900: #0aa5a5;
  --atoll-1000: #0a9696;
  --atoll-1100: #098888;
  --atoll-1200: #097b7b;
  --atoll-1300: #096e6e;
  --atoll-1400: #086464;
  --atoll-1500: #075858;
  --atoll-1600: #064e4e;
  --atoll-1700: #054343;
  --atoll-1800: #043838;
  --atoll-1900: #043131;
  --atoll-2000: #032b2b;
  --atoll-2100: #032727;
  --atoll-2200: #032323;
  --atoll-2300: #021f1f;
  --atoll-2400: #021616;
  --bahama-100: #edfbff;
  --bahama-200: #d2f4ff;
  --bahama-300: #b7edff;
  --bahama-400: #86e1ff;
  --bahama-500: #6bdaff;
  --bahama-600: #58ccf3;
  --bahama-700: #4abee4;
  --bahama-800: #3eb0d7;
  --bahama-900: #2fa0c7;
  --bahama-1000: #2191b8;
  --bahama-1100: #1483aa;
  --bahama-1200: #09779e;
  --bahama-1300: #006b8f;
  --bahama-1400: #006082;
  --bahama-1500: #005573;
  --bahama-1600: #004b66;
  --bahama-1700: #004158;
  --bahama-1800: #003649;
  --bahama-1900: #003041;
  --bahama-2000: #002a39;
  --bahama-2100: #002634;
  --bahama-2200: #00222e;
  --bahama-2300: #001e29;
  --bahama-2400: #00151d;
  --clay-100: #faf6f6;
  --clay-200: #f5eced;
  --clay-300: #eee1e2;
  --clay-400: #e4cfd0;
  --clay-500: #dfc6c8;
  --clay-600: #d7b7b9;
  --clay-700: #cda8aa;
  --clay-800: #c5999b;
  --clay-900: #bc878a;
  --clay-1000: #b2777a;
  --clay-1100: #aa686b;
  --clay-1200: #a15a5f;
  --clay-1300: #964d52;
  --clay-1400: #8c4247;
  --clay-1500: #82373c;
  --clay-1600: #762e33;
  --clay-1700: #67282c;
  --clay-1800: #552124;
  --clay-1900: #4b1d20;
  --clay-2000: #431a1c;
  --clay-2100: #3b181a;
  --clay-2200: #361517;
  --clay-2300: #2f1214;
  --clay-2400: #210d0f;
  --crimson-100: #fef6f8;
  --crimson-200: #fdeaef;
  --crimson-300: #fbdce4;
  --crimson-400: #f9c7d4;
  --crimson-500: #f7bccb;
  --crimson-600: #f3aabd;
  --crimson-700: #ed98ae;
  --crimson-800: #e887a0;
  --crimson-900: #e2718e;
  --crimson-1000: #dc5b7c;
  --crimson-1100: #d5456a;
  --crimson-1200: #ce2f57;
  --crimson-1300: #c21541;
  --crimson-1400: #b0133a;
  --crimson-1500: #9c1134;
  --crimson-1600: #8c0f2e;
  --crimson-1700: #790d28;
  --crimson-1800: #670b22;
  --crimson-1900: #5a0a1e;
  --crimson-2000: #50081b;
  --crimson-2100: #4a0818;
  --crimson-2200: #420716;
  --crimson-2300: #3b0614;
  --crimson-2400: #2b040e;
  --forest-100: #f4f8f3;
  --forest-200: #e9f2e8;
  --forest-300: #dae8da;
  --forest-400: #c4dac4;
  --forest-500: #b8d3b9;
  --forest-600: #a6c7a7;
  --forest-700: #93bb94;
  --forest-800: #81af81;
  --forest-900: #6da16d;
  --forest-1000: #609261;
  --forest-1100: #558556;
  --forest-1200: #4a794c;
  --forest-1300: #426d43;
  --forest-1400: #3b623b;
  --forest-1500: #345734;
  --forest-1600: #2f4d2f;
  --forest-1700: #284228;
  --forest-1800: #213721;
  --forest-1900: #1d301d;
  --forest-2000: #192a19;
  --forest-2100: #172617;
  --forest-2200: #152215;
  --forest-2300: #121e12;
  --forest-2400: #0d150d;
  --glacier-100: #f6f9fa;
  --glacier-200: #eaeff1;
  --glacier-300: #dfe5e8;
  --glacier-400: #ced5d8;
  --glacier-500: #c6ced1;
  --glacier-600: #b7c0c3;
  --glacier-700: #a8b2b6;
  --glacier-800: #9ba5aa;
  --glacier-900: #8b979b;
  --glacier-1000: #7d898e;
  --glacier-1100: #6f7c81;
  --glacier-1200: #637177;
  --glacier-1300: #56656b;
  --glacier-1400: #4c5b62;
  --glacier-1500: #415158;
  --glacier-1600: #37484f;
  --glacier-1700: #2d3f45;
  --glacier-1800: #22343c;
  --glacier-1900: #1b2e36;
  --glacier-2000: #162931;
  --glacier-2100: #12252d;
  --glacier-2200: #0d2129;
  --glacier-2300: #091e25;
  --glacier-2400: #01151d;
  --lasalle-blue-100: #f2f4f8;
  --lasalle-blue-200: #e6e9f1;
  --lasalle-blue-300: #d9dfea;
  --lasalle-blue-400: #ccd4e4;
  --lasalle-blue-500: #bfc9dd;
  --lasalle-blue-600: #b3bed6;
  --lasalle-blue-700: #a6b3cf;
  --lasalle-blue-800: #99a9c8;
  --lasalle-blue-900: #8fa0c3;
  --lasalle-blue-1000: #7a8fb8;
  --lasalle-blue-1100: #667dad;
  --lasalle-blue-1200: #526ca2;
  --lasalle-blue-1300: #3d5b97;
  --lasalle-blue-1400: #294a8c;
  --lasalle-blue-1500: #193d84;
  --lasalle-blue-1600: #0d327d;
  --lasalle-blue-1700: #002776;
  --lasalle-blue-1800: #00246d;
  --lasalle-blue-1900: #002163;
  --lasalle-blue-2000: #001e5a;
  --lasalle-blue-2100: #001b50;
  --lasalle-blue-2200: #001642;
  --lasalle-blue-2300: #00102f;
  --lasalle-blue-2400: #000e2a;
  --lasalle-gray-100: #f8f9fb;
  --lasalle-gray-200: #eaedf3;
  --lasalle-gray-300: #dde2eb;
  --lasalle-gray-400: #ccd4e4;
  --lasalle-gray-500: #c2cbdd;
  --lasalle-gray-600: #b6c0d2;
  --lasalle-gray-700: #a9b4cb;
  --lasalle-gray-800: #9ca9c2;
  --lasalle-gray-900: #8f9ebb;
  --lasalle-gray-1000: #8292b2;
  --lasalle-gray-1100: #7586aa;
  --lasalle-gray-1200: #6f7e9a;
  --lasalle-gray-1300: #657390;
  --lasalle-gray-1400: #5b6984;
  --lasalle-gray-1500: #535f77;
  --lasalle-gray-1600: #4a556a;
  --lasalle-gray-1700: #424b5e;
  --lasalle-gray-1800: #384152;
  --lasalle-gray-1900: #303745;
  --lasalle-gray-2000: #272d38;
  --lasalle-gray-2100: #1e232c;
  --lasalle-gray-2200: #161920;
  --lasalle-gray-2300: #0d0f13;
  --lasalle-gray-2400: #050506;
  --lasalle-teal-100: #f7fafa;
  --lasalle-teal-200: #eef4f5;
  --lasalle-teal-300: #dee9eb;
  --lasalle-teal-400: #d0e0e2;
  --lasalle-teal-500: #c3d7da;
  --lasalle-teal-600: #b6cfd2;
  --lasalle-teal-700: #a8c6ca;
  --lasalle-teal-800: #9bbdc2;
  --lasalle-teal-900: #8db4ba;
  --lasalle-teal-1000: #80abb1;
  --lasalle-teal-1100: #80abb1;
  --lasalle-teal-1200: #659aa1;
  --lasalle-teal-1300: #589199;
  --lasalle-teal-1400: #51858d;
  --lasalle-teal-1500: #4a7a81;
  --lasalle-teal-1600: #436e74;
  --lasalle-teal-1700: #3c6368;
  --lasalle-teal-1800: #35575c;
  --lasalle-teal-1900: #2e4b50;
  --lasalle-teal-2000: #274043;
  --lasalle-teal-2100: #203437;
  --lasalle-teal-2200: #19292b;
  --lasalle-teal-2300: #121d1f;
  --lasalle-teal-2400: #0b1112;
  --lavender-100: #faf8fa;
  --lavender-200: #f3ecf3;
  --lavender-300: #ece1ec;
  --lavender-400: #e0cfe0;
  --lavender-500: #dbc6da;
  --lavender-600: #d1b6d0;
  --lavender-700: #c7a7c7;
  --lavender-800: #bd98bd;
  --lavender-900: #b187b1;
  --lavender-1000: #a677a6;
  --lavender-1100: #9c689c;
  --lavender-1200: #935b93;
  --lavender-1300: #845185;
  --lavender-1400: #774977;
  --lavender-1500: #694169;
  --lavender-1600: #5c3a5c;
  --lavender-1700: #503250;
  --lavender-1800: #432943;
  --lavender-1900: #3b243a;
  --lavender-2000: #342033;
  --lavender-2100: #2f1d2e;
  --lavender-2200: #2a1929;
  --lavender-2300: #251624;
  --lavender-2400: #191018;
  --lilac-100: #faf7fe;
  --lilac-200: #f3ebfc;
  --lilac-300: #eddefb;
  --lilac-400: #e2cbf8;
  --lilac-500: #dcc2f7;
  --lilac-600: #d2b1f3;
  --lilac-700: #c8a1ee;
  --lilac-800: #bd91ea;
  --lilac-900: #b17ee5;
  --lilac-1000: #a66cdf;
  --lilac-1100: #9a5bda;
  --lilac-1200: #904bd6;
  --lilac-1300: #8538d1;
  --lilac-1400: #7a27cc;
  --lilac-1500: #6d19c1;
  --lilac-1600: #6116ab;
  --lilac-1700: #551396;
  --lilac-1800: #47107d;
  --lilac-1900: #3e0e6f;
  --lilac-2000: #370d62;
  --lilac-2100: #320c59;
  --lilac-2200: #2d0a51;
  --lilac-2300: #280948;
  --lilac-2400: #1d0733;
  --lima-100: #f0fce5;
  --lima-200: #def7c4;
  --lima-300: #c5f299;
  --lima-400: #9ce950;
  --lima-500: #86e429;
  --lima-600: #75d516;
  --lima-700: #6ec616;
  --lima-800: #67b717;
  --lima-900: #5fa618;
  --lima-1000: #589619;
  --lima-1100: #51881a;
  --lima-1200: #4b7b1a;
  --lima-1300: #446e1a;
  --lima-1400: #3d6318;
  --lima-1500: #365815;
  --lima-1600: #304d13;
  --lima-1700: #2a4310;
  --lima-1800: #22380d;
  --lima-1900: #1e310c;
  --lima-2000: #1b2b0a;
  --lima-2100: #182709;
  --lima-2200: #152308;
  --lima-2300: #131e07;
  --lima-2400: #0d1505;
  --magenta-100: #fff6fd;
  --magenta-200: #ffe8f9;
  --magenta-300: #ffdaf5;
  --magenta-400: #fcc3ed;
  --magenta-500: #f9b8e9;
  --magenta-600: #f4a5e0;
  --magenta-700: #f091d8;
  --magenta-800: #ec7cd0;
  --magenta-900: #e664c6;
  --magenta-1000: #df4aba;
  --magenta-1100: #d532ad;
  --magenta-1200: #c91e9f;
  --magenta-1300: #b80e8e;
  --magenta-1400: #a70780;
  --magenta-1500: #960372;
  --magenta-1600: #860066;
  --magenta-1700: #750058;
  --magenta-1800: #63004b;
  --magenta-1900: #580042;
  --magenta-2000: #4f003c;
  --magenta-2100: #480036;
  --magenta-2200: #420032;
  --magenta-2300: #3b002d;
  --magenta-2400: #2c0021;
  --ocean-100: #f1fafd;
  --ocean-200: #e4f6fb;
  --ocean-300: #d3f0f8;
  --ocean-400: #aedcea;
  --ocean-500: #a6d4e2;
  --ocean-600: #95c6d5;
  --ocean-700: #86b8c8;
  --ocean-800: #78abbc;
  --ocean-900: #6ba0b1;
  --ocean-1000: #588fa1;
  --ocean-1100: #498195;
  --ocean-1200: #3d768a;
  --ocean-1300: #306a7f;
  --ocean-1400: #236075;
  --ocean-1500: #18556b;
  --ocean-1600: #08475e;
  --ocean-1700: #024158;
  --ocean-1800: #00384d;
  --ocean-1900: #003041;
  --ocean-2000: #002a3a;
  --ocean-2100: #002634;
  --ocean-2200: #00222f;
  --ocean-2300: #001e29;
  --ocean-2400: #00151d;
  --orange-100: #fff6f1;
  --orange-200: #ffebdf;
  --orange-300: #ffddc9;
  --orange-400: #ffc8a9;
  --orange-500: #ffbe99;
  --orange-600: #fcac7e;
  --orange-700: #f89963;
  --orange-800: #f58647;
  --orange-900: #f06f25;
  --orange-1000: #ea5601;
  --orange-1100: #d44d01;
  --orange-1200: #c14701;
  --orange-1300: #ad3f01;
  --orange-1400: #9c3901;
  --orange-1500: #8b3301;
  --orange-1600: #7a2d01;
  --orange-1700: #6a2700;
  --orange-1800: #592000;
  --orange-1900: #4e1d00;
  --orange-2000: #461900;
  --orange-2100: #3f1700;
  --orange-2200: #381500;
  --orange-2300: #321200;
  --orange-2400: #230d00;
  --royal-100: #f7f8fe;
  --royal-200: #eaeefc;
  --royal-300: #dee4fb;
  --royal-400: #c8d3f8;
  --royal-500: #becbf7;
  --royal-600: #acbdf4;
  --royal-700: #9aaff1;
  --royal-800: #89a1ef;
  --royal-900: #7491ec;
  --royal-1000: #6081e9;
  --royal-1100: #4c72e7;
  --royal-1200: #3b65e4;
  --royal-1300: #2b57dc;
  --royal-1400: #274ec7;
  --royal-1500: #2245b0;
  --royal-1600: #1e3d9c;
  --royal-1700: #1a3588;
  --royal-1800: #162c71;
  --royal-1900: #132763;
  --royal-2000: #112258;
  --royal-2100: #101f50;
  --royal-2200: #0e1c47;
  --royal-2300: #0c183e;
  --royal-2400: #09112c;
  --salem-100: #ebfdf4;
  --salem-200: #cafae2;
  --salem-300: #a2f6cc;
  --salem-400: #52eea1;
  --salem-500: #24e987;
  --salem-600: #10da76;
  --salem-700: #10cb6e;
  --salem-800: #0fbc67;
  --salem-900: #0dab60;
  --salem-1000: #0b9a59;
  --salem-1100: #098c53;
  --salem-1200: #077f4e;
  --salem-1300: #057148;
  --salem-1400: #046744;
  --salem-1500: #035a3e;
  --salem-1600: #044f3a;
  --salem-1700: #044535;
  --salem-1800: #053930;
  --salem-1900: #05322c;
  --salem-2000: #042c27;
  --salem-2100: #042824;
  --salem-2200: #03241f;
  --salem-2300: #031f1c;
  --salem-2400: #021614;
  --sand-100: #fcf7f4;
  --sand-200: #f7ece3;
  --sand-300: #f2e1d3;
  --sand-400: #e9d0bb;
  --sand-500: #e0c8b4;
  --sand-600: #d2baa8;
  --sand-700: #c3ad9c;
  --sand-800: #b4a090;
  --sand-900: #a49183;
  --sand-1000: #948477;
  --sand-1100: #86776b;
  --sand-1200: #7a6c62;
  --sand-1300: #6d6157;
  --sand-1400: #62574f;
  --sand-1500: #574d46;
  --sand-1600: #4d443d;
  --sand-1700: #423b35;
  --sand-1800: #37312c;
  --sand-1900: #302b27;
  --sand-2000: #2a2622;
  --sand-2100: #27221f;
  --sand-2200: #221e1b;
  --sand-2300: #1e1a18;
  --sand-2400: #151211;
  --science-100: #f3f9ff;
  --science-200: #e2f1ff;
  --science-300: #cee6ff;
  --science-400: #b1d8ff;
  --science-500: #a2d1ff;
  --science-600: #8cc3f9;
  --science-700: #79b6f2;
  --science-800: #65a8eb;
  --science-900: #4f99e4;
  --science-1000: #388adc;
  --science-1100: #237cd4;
  --science-1200: #106ecd;
  --science-1300: #0061c3;
  --science-1400: #0057af;
  --science-1500: #004d9b;
  --science-1600: #004489;
  --science-1700: #003c77;
  --science-1800: #003264;
  --science-1900: #002c58;
  --science-2000: #00274e;
  --science-2100: #002347;
  --science-2200: #001f3f;
  --science-2300: #001c38;
  --science-2400: #001427;
  --violet-100: #fcf6fe;
  --violet-200: #f8ebfe;
  --violet-300: #f3dbfc;
  --violet-400: #edc7fb;
  --violet-500: #e9bdfa;
  --violet-600: #e2aaf7;
  --violet-700: #da97f3;
  --violet-800: #d385ef;
  --violet-900: #cb6fea;
  --violet-1000: #c258e5;
  --violet-1100: #b841e0;
  --violet-1200: #af29db;
  --violet-1300: #a110d0;
  --violet-1400: #910ebd;
  --violet-1500: #810da8;
  --violet-1600: #730b95;
  --violet-1700: #640a82;
  --violet-1800: #54086e;
  --violet-1900: #4a0761;
  --violet-2000: #430656;
  --violet-2100: #3d064e;
  --violet-2200: #370548;
  --violet-2300: #31053f;
  --violet-2400: #24032f;
  --watercourse-100: #e4fcf6;
  --watercourse-200: #c9f9ed;
  --watercourse-300: #a0f4df;
  --watercourse-400: #55ecc6;
  --watercourse-500: #1fe6b4;
  --watercourse-600: #0bd7a4;
  --watercourse-700: #0ac899;
  --watercourse-800: #09b98d;
  --watercourse-900: #08a981;
  --watercourse-1000: #079974;
  --watercourse-1100: #068a69;
  --watercourse-1200: #057e60;
  --watercourse-1300: #047155;
  --watercourse-1400: #03654d;
  --watercourse-1500: #035a45;
  --watercourse-1600: #034f3c;
  --watercourse-1700: #024535;
  --watercourse-1800: #02392c;
  --watercourse-1900: #023226;
  --watercourse-2000: #022c22;
  --watercourse-2100: #01281f;
  --watercourse-2200: #01241c;
  --watercourse-2300: #012019;
  --watercourse-2400: #011611;
  --elevationLevels-e1-crisp-axis: 0px;
  --elevationLevels-e1-crisp-blur: 3px;
  --elevationLevels-e1-crisp-color: #4b5b611f;
  --elevationLevels-e1-crisp-projection: 1px;
  --elevationLevels-e1-crisp-projectionReversed: -1px;
  --elevationLevels-e1-sharp-axis: 0px;
  --elevationLevels-e1-sharp-blur: 3px;
  --elevationLevels-e1-sharp-color: #4b5b611f;
  --elevationLevels-e1-sharp-projection: 2px;
  --elevationLevels-e1-sharp-projectionReversed: -2px;
  --elevationLevels-e1-soft-axis: 0px;
  --elevationLevels-e1-soft-blur: 16px;
  --elevationLevels-e1-soft-color: #01151c14;
  --elevationLevels-e1-soft-projection: 4px;
  --elevationLevels-e1-soft-projectionReversed: -4px;
  --elevationLevels-e2-sharp-axis: 0px;
  --elevationLevels-e2-sharp-blur: 4px;
  --elevationLevels-e2-sharp-color: #4b5b611c;
  --elevationLevels-e2-sharp-projection: 3px;
  --elevationLevels-e2-sharp-projectionReversed: -3px;
  --elevationLevels-e2-soft-axis: 0px;
  --elevationLevels-e2-soft-blur: 21px;
  --elevationLevels-e2-soft-color: #01151c14;
  --elevationLevels-e2-soft-projection: 6px;
  --elevationLevels-e2-soft-projectionReversed: -6px;
  --elevationLevels-e3-sharp-axis: 0px;
  --elevationLevels-e3-sharp-blur: 6px;
  --elevationLevels-e3-sharp-color: #4b5b611a;
  --elevationLevels-e3-sharp-projection: 4px;
  --elevationLevels-e3-sharp-projectionReversed: -4px;
  --elevationLevels-e3-soft-axis: 0px;
  --elevationLevels-e3-soft-blur: 26px;
  --elevationLevels-e3-soft-color: #01151c14;
  --elevationLevels-e3-soft-projection: 8px;
  --elevationLevels-e3-soft-projectionReversed: -8px;
  --elevationLevels-e4-sharp-axis: 0px;
  --elevationLevels-e4-sharp-blur: 9px;
  --elevationLevels-e4-sharp-color: #4b5b611a;
  --elevationLevels-e4-sharp-projection: 6px;
  --elevationLevels-e4-sharp-projectionReversed: -6px;
  --elevationLevels-e4-soft-axis: 0px;
  --elevationLevels-e4-soft-blur: 34px;
  --elevationLevels-e4-soft-color: #01151c12;
  --elevationLevels-e4-soft-projection: 11px;
  --elevationLevels-e4-soft-projectionReversed: -11px;
  --elevationLevels-e6-sharp-axis: 0px;
  --elevationLevels-e6-sharp-blur: 17px;
  --elevationLevels-e6-sharp-color: #4b5b6114;
  --elevationLevels-e6-sharp-projection: 11px;
  --elevationLevels-e6-sharp-projectionReversed: -11px;
  --elevationLevels-e6-soft-axis: 0px;
  --elevationLevels-e6-soft-blur: 55px;
  --elevationLevels-e6-soft-color: #01151c0f;
  --elevationLevels-e6-soft-projection: 23px;
  --elevationLevels-e6-soft-projectionReversed: -23px;
  --elevationLevels-e7-sharp-axis: 0px;
  --elevationLevels-e7-sharp-blur: 24px;
  --elevationLevels-e7-sharp-color: #4b5b6114;
  --elevationLevels-e7-sharp-projection: 16px;
  --elevationLevels-e7-sharp-projectionReversed: -16px;
  --elevationLevels-e7-soft-axis: 0px;
  --elevationLevels-e7-soft-blur: 71px;
  --elevationLevels-e7-soft-color: #01151c12;
  --elevationLevels-e7-soft-projection: 32px;
  --elevationLevels-e7-soft-projectionReversed: -32px;
  --elevationLevels-e8-sharp-axis: 0px;
  --elevationLevels-e8-sharp-blur: 35px;
  --elevationLevels-e8-sharp-color: #4b5b6112;
  --elevationLevels-e8-sharp-projection: 23px;
  --elevationLevels-e8-sharp-projectionReversed: -23px;
  --elevationLevels-e8-soft-axis: 0px;
  --elevationLevels-e8-soft-blur: 91px;
  --elevationLevels-e8-soft-color: #01151c0f;
  --elevationLevels-e8-soft-projection: 46px;
  --elevationLevels-e8-soft-projectionReversed: -46px;
  --elevationLevels-e9-sharp-axis: 0px;
  --elevationLevels-e9-sharp-blur: 49px;
  --elevationLevels-e9-sharp-color: #4b5b610f;
  --elevationLevels-e9-sharp-projection: 33px;
  --elevationLevels-e9-sharp-projectionReversed: -33px;
  --elevationLevels-e9-soft-axis: 0px;
  --elevationLevels-e9-soft-blur: 116px;
  --elevationLevels-e9-soft-color: #01151c0f;
  --elevationLevels-e9-soft-projection: 65px;
  --elevationLevels-e9-soft-projectionReversed: -65px;
  --elevationLevels-e10-sharp-axis: 0px;
  --elevationLevels-e10-sharp-blur: 70px;
  --elevationLevels-e10-sharp-color: #4b5b610f;
  --elevationLevels-e10-sharp-projection: 46px;
  --elevationLevels-e10-sharp-projectionReversed: -46px;
  --elevationLevels-e10-soft-axis: 0px;
  --elevationLevels-e10-soft-blur: 149px;
  --elevationLevels-e10-soft-color: #01151c0f;
  --elevationLevels-e10-soft-projection: 92px;
  --elevationLevels-e10-soft-projectionReversed: -92px;
  --elevationLevels-E5-sharp-axis: 0px;
  --elevationLevels-E5-sharp-blur: 12px;
  --elevationLevels-E5-sharp-color: #4b5b6117;
  --elevationLevels-E5-sharp-projection: 8px;
  --elevationLevels-E5-sharp-projectionReversed: -8px;
  --elevationLevels-E5-soft-axis: 0px;
  --elevationLevels-E5-soft-blur: 43px;
  --elevationLevels-E5-soft-color: #01151c12;
  --elevationLevels-E5-soft-projection: 16px;
  --elevationLevels-E5-soft-projectionReversed: -16px;
  --spacing-0: 0px;
  --spacing-025: 4px;
  --spacing-050: 8px;
  --spacing-075: 12px;
  --spacing-100: 16px;
  --spacing-125: 20px;
  --spacing-150: 24px;
  --spacing-175: 28px;
  --spacing-200: 32px;
  --spacing-225: 36px;
  --spacing-250: 40px;
  --spacing-275: 44px;
  --spacing-300: 48px;
  --spacing-350: 56px;
  --spacing-400: 64px;
  --spacing-450: 72px;
  --spacing-500: 80px;
  --spacing-550: 88px;
  --spacing-600: 96px;
  --spacing-650: 104px;
  --spacing-700: 112px;
  --spacing-750: 120px;
  --spacing-850: 136px;
  --spacing-950: 152px;
  --spacing-1050: 168px;
  --spacing-1250: 200px;
  --spacing-1450: 232px;
  --spacing-micro-1: var(--spacing-025);
  --spacing-micro-2: var(--spacing-050);
  --spacing-micro-3: var(--spacing-075);
  --spacing-micro-4: var(--spacing-100);
  --spacing-micro-5: var(--spacing-125);
  --spacing-micro-6: var(--spacing-150);
  --radius-default: 6px;
  --radius-defaultWrap: 10px;
  --radius-full: 100px;
  --radius-none: 0px;
  --radius-strong: 8px;
  --radius-stronger: 12px;
  --radius-weak: 3px;
  --breakpoint-desktop-default: 1920px;
  --breakpoint-desktop-extraLarge: 2400px;
  --breakpoint-desktop-large: 2200px;
  --breakpoint-laptop-Default: 1460px;
  --breakpoint-laptop-Large: 1700px;
  --breakpoint-laptop-Small: 1220px;
  --breakpoint-mobile-Default: 400px;
  --breakpoint-mobile-Large: 520px;
  --breakpoint-mobile-Small: 320px;
  --breakpoint-tablet-Default: 780px;
  --breakpoint-tablet-Large: 980px;
  --breakpoint-tablet-Small: 624px;
  --core-typeFace-legacy: "Source Sans Pro";
  --core-typeFace-primary: "Source Sans Pro";
  --core-typeFace-secondary: "Inter";
  --core-typeFace-serif: "Source Serif Pro";
  --core-typeFontVariant-none: "none";
  --core-typeFontVariant-smallCaps: "all-small-caps";
  --core-typeLetterSpacing-0: 0.17499999701976776px;
  --core-typeLetterSpacing-1: 0px;
  --core-typeLetterSpacing-2: 0px;
  --core-typeLetterSpacing-3: -0.03999999910593033px;
  --core-typeLetterSpacing-4: -0.10000000149011612px;
  --core-typeLetterSpacing-5: -0.05999999865889549px;
  --core-typeLetterSpacing-6: -0.1599999964237213px;
  --core-typeLetterSpacing-7: -0.6000000238418579px;
  --core-typeLetterSpacing-8: -0.8399999737739563px;
  --core-typeLetterSpacing-9: -1.5px;
  --core-typeLetterSpacing-10: -1.7100000381469727px;
  --core-typeLetterSpacing-11: -2.1600000858306885px;
  --core-typeLineHeight-100: 16px;
  --core-typeLineHeight-125: 20px;
  --core-typeLineHeight-150: 24px;
  --core-typeLineHeight-175: 28px;
  --core-typeLineHeight-200: 32px;
  --core-typeLineHeight-250: 40px;
  --core-typeLineHeight-325: 52px;
  --core-typeLineHeight-375: 60px;
  --core-typeLineHeight-475: 76px;
  --core-typeLineHeight-525: 84px;
  --core-typeLineHeight-675: 108px;
  --core-typeLineHeight-0750: 12px;
  --core-typeParagraphSpacing-050: 8px;
  --core-typeParagraphSpacing-075: 12px;
  --core-typeParagraphSpacing-100: 16px;
  --core-typeParagraphSpacing-150: 24px;
  --core-typeParagraphSpacing-200: 32px;
  --core-typeParagraphSpacing-400: 64px;
  --core-typeSize-100: 16px;
  --core-typeSize-125: 20px;
  --core-typeSize-150: 24px;
  --core-typeSize-200: 32px;
  --core-typeSize-250: 40px;
  --core-typeSize-300: 48px;
  --core-typeSize-375: 60px;
  --core-typeSize-475: 76px;
  --core-typeSize-600: 96px;
  --core-typeSize-0625: 10px;
  --core-typeSize-0750: 12px;
  --core-typeSize-0875: 14px;
  --core-typeSize-1125: 18px;
  --core-typeTextDecoration-none: none;
  --core-typeTextDecoration-strikeThrough: strike-through;
  --core-typeTextDecoration-underlined: underlined;
  --core-typeTextTransform-none: none;
  --core-typeTextTransform-uppercase: uppercase;
  --core-typeWeight-light: 300;
  --core-typeWeight-regular: 400;
  --core-typeWeight-strong: 600;
  --core-typeWeight-stronger: 700;
  --grayscale-100: #f7f7f7;
  --grayscale-200: #efefef;
  --grayscale-300: #e3e3e3;
  --grayscale-400: #d4d4d4;
  --grayscale-500: #cccccc;
  --grayscale-600: #bebebe;
  --grayscale-700: #b0b0b0;
  --grayscale-800: #a3a3a3;
  --grayscale-900: #959595;
  --grayscale-1000: #868686;
  --grayscale-1100: #797979;
  --grayscale-1200: #6e6e6e;
  --grayscale-1300: #636363;
  --grayscale-1400: #595959;
  --grayscale-1500: #4f4f4f;
  --grayscale-1600: #454545;
  --grayscale-1700: #3d3d3d;
  --grayscale-1800: #323232;
  --grayscale-1900: #2b2b2b;
  --grayscale-2000: #262626;
  --grayscale-2100: #232323;
  --grayscale-2200: #1f1f1f;
  --grayscale-2300: #1b1b1b;
  --grayscale-2400: #131313;
  --scale-s0-iconSize: 10px;
  --scale-s0-letterSpacing: var(--core-typeLetterSpacing-0);
  --scale-s0-lineHeight: var(--core-typeLineHeight-0750);
  --scale-s0-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s0-size: var(--core-typeSize-0625);
  --scale-s0-typeface: var(--core-typeFace-primary);
  --scale-s0-weight: var(--core-typeWeight-regular);
  --scale-s1-iconSize: 12px;
  --scale-s1-letterSpacing: var(--core-typeLetterSpacing-1);
  --scale-s1-lineHeight: var(--core-typeLineHeight-100);
  --scale-s1-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s1-size: var(--core-typeSize-0750);
  --scale-s1-typeface: var(--core-typeFace-primary);
  --scale-s1-weight: var(--core-typeWeight-regular);
  --scale-s2-iconSize: 16px;
  --scale-s2-letterSpacing: var(--core-typeLetterSpacing-2);
  --scale-s2-lineHeight: var(--core-typeLineHeight-125);
  --scale-s2-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s2-size: var(--core-typeSize-0875);
  --scale-s2-typeface: var(--core-typeFace-primary);
  --scale-s2-weight: var(--core-typeWeight-regular);
  --scale-s3-5-iconSize: 20px;
  --scale-s3-5-letterSpacing: var(--core-typeLetterSpacing-4);
  --scale-s3-5-lineHeight: var(--core-typeLineHeight-175);
  --scale-s3-5-paragraphSpacing: var(--core-typeParagraphSpacing-100);
  --scale-s3-5-size: var(--core-typeSize-1125);
  --scale-s3-5-typeface: var(--core-typeFace-primary);
  --scale-s3-5-weight: var(--core-typeWeight-regular);
  --scale-s3-iconSize: 18px;
  --scale-s3-letterSpacing: var(--core-typeLetterSpacing-3);
  --scale-s3-lineHeight: var(--core-typeLineHeight-150);
  --scale-s3-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s3-size: var(--core-typeSize-100);
  --scale-s3-typeface: var(--core-typeFace-primary);
  --scale-s3-weight: var(--core-typeWeight-regular);
  --scale-s4-iconSize: 20px;
  --scale-s4-letterSpacing: var(--core-typeLetterSpacing-4);
  --scale-s4-lineHeight: var(--core-typeLineHeight-175);
  --scale-s4-paragraphSpacing: var(--core-typeParagraphSpacing-100);
  --scale-s4-size: var(--core-typeSize-125);
  --scale-s4-typeface: var(--core-typeFace-primary);
  --scale-s4-weight: var(--core-typeWeight-regular);
  --scale-s5-iconSize: 24px;
  --scale-s5-letterSpacing: var(--core-typeLetterSpacing-5);
  --scale-s5-lineHeight: var(--core-typeLineHeight-200);
  --scale-s5-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s5-size: var(--core-typeSize-150);
  --scale-s5-typeface: var(--core-typeFace-primary);
  --scale-s5-weight: var(--core-typeWeight-regular);
  --scale-s6-iconSize: 32px;
  --scale-s6-letterSpacing: var(--core-typeLetterSpacing-6);
  --scale-s6-lineHeight: var(--core-typeLineHeight-250);
  --scale-s6-paragraphSpacing: var(--core-typeParagraphSpacing-100);
  --scale-s6-size: var(--core-typeSize-200);
  --scale-s6-typeface: var(--core-typeFace-primary);
  --scale-s6-weight: var(--core-typeWeight-regular);
  --scale-s7-iconSize: 40px;
  --scale-s7-letterSpacing: var(--core-typeLetterSpacing-7);
  --scale-s7-lineHeight: var(--core-typeLineHeight-325);
  --scale-s7-paragraphSpacing: var(--core-typeParagraphSpacing-100);
  --scale-s7-size: var(--core-typeSize-250);
  --scale-s7-typeface: var(--core-typeFace-primary);
  --scale-s7-weight: var(--core-typeWeight-regular);
  --scale-s8-iconSize: 48px;
  --scale-s8-letterSpacing: var(--core-typeLetterSpacing-8);
  --scale-s8-lineHeight: var(--core-typeLineHeight-375);
  --scale-s8-paragraphSpacing: var(--core-typeParagraphSpacing-150);
  --scale-s8-size: var(--core-typeSize-300);
  --scale-s8-typeface: var(--core-typeFace-primary);
  --scale-s8-weight: var(--core-typeWeight-regular);
  --scale-s9-iconSize: 60px;
  --scale-s9-letterSpacing: var(--core-typeLetterSpacing-9);
  --scale-s9-lineHeight: var(--core-typeLineHeight-475);
  --scale-s9-paragraphSpacing: var(--core-typeParagraphSpacing-150);
  --scale-s9-size: var(--core-typeSize-375);
  --scale-s9-typeface: var(--core-typeFace-primary);
  --scale-s9-weight: var(--core-typeWeight-regular);
  --scale-s10-iconSize: 76px;
  --scale-s10-letterSpacing: var(--core-typeLetterSpacing-10);
  --scale-s10-lineHeight: var(--core-typeLineHeight-525);
  --scale-s10-paragraphSpacing: var(--core-typeParagraphSpacing-200);
  --scale-s10-size: var(--core-typeSize-475);
  --scale-s10-typeface: var(--core-typeFace-primary);
  --scale-s10-weight: var(--core-typeWeight-regular);
  --scale-s11-iconSize: 96px;
  --scale-s11-letterSpacing: var(--core-typeLetterSpacing-11);
  --scale-s11-lineHeight: var(--core-typeLineHeight-675);
  --scale-s11-paragraphSpacing: var(--core-typeParagraphSpacing-400);
  --scale-s11-size: var(--core-typeSize-600);
  --scale-s11-typeface: var(--core-typeFace-primary);
  --scale-s11-weight: var(--core-typeWeight-regular);
  --basics-black: #000000;
  --basics-white: #ffffff;
  --jllRed-100: #fff5f6;
  --jllRed-200: #ffe9eb;
  --jllRed-300: #ffdbdd;
  --jllRed-400: #ffc5c9;
  --jllRed-500: #ffbabf;
  --jllRed-600: #ffa6ac;
  --jllRed-700: #ff9198;
  --jllRed-800: #ff7a82;
  --jllRed-900: #ff5c67;
  --jllRed-1000: #fe3643;
  --jllRed-1100: #ef1c29;
  --jllRed-1200: #de0614;
  --jllRed-1300: #c80512;
  --jllRed-1400: #b50510;
  --jllRed-1500: #a2040e;
  --jllRed-1600: #90040d;
  --jllRed-1700: #7e030b;
  --jllRed-1800: #6b0309;
  --jllRed-1900: #5f0208;
  --jllRed-2000: #550208;
  --jllRed-2100: #4e0207;
  --jllRed-2200: #460206;
  --jllRed-2300: #3f0206;
  --jllRed-2400: #2f0104;
  --TestWebhook2: #5b14ff;
}
