/* Primitives - Static variables without modes */
:root {
  --amber-100: rgb(255, 249, 218);
  --amber-1000: rgb(175, 126, 0);
  --amber-1100: rgb(159, 114, 0);
  --amber-1200: rgb(144, 104, 0);
  --amber-1300: rgb(129, 93, 0);
  --amber-1400: rgb(116, 83, 0);
  --amber-1500: rgb(103, 74, 0);
  --amber-1600: rgb(91, 65, 0);
  --amber-1700: rgb(79, 56, 0);
  --amber-1800: rgb(66, 47, 0);
  --amber-1900: rgb(58, 41, 0);
  --amber-200: rgb(255, 240, 159);
  --amber-2000: rgb(51, 36, 0);
  --amber-2100: rgb(46, 33, 0);
  --amber-2200: rgb(41, 29, 0);
  --amber-2300: rgb(36, 26, 0);
  --amber-2400: rgb(25, 18, 0);
  --amber-300: rgb(255, 227, 90);
  --amber-400: rgb(255, 206, 27);
  --amber-500: rgb(255, 196, 10);
  --amber-600: rgb(244, 180, 0);
  --amber-700: rgb(227, 166, 0);
  --amber-800: rgb(211, 154, 0);
  --amber-900: rgb(192, 139, 0);
  --atoll-100: rgb(228, 252, 252);
  --atoll-1000: rgb(10, 150, 150);
  --atoll-1100: rgb(9, 136, 136);
  --atoll-1200: rgb(9, 123, 123);
  --atoll-1300: rgb(9, 110, 110);
  --atoll-1400: rgb(8, 100, 100);
  --atoll-1500: rgb(7, 88, 88);
  --atoll-1600: rgb(6, 78, 78);
  --atoll-1700: rgb(5, 67, 67);
  --atoll-1800: rgb(4, 56, 56);
  --atoll-1900: rgb(4, 49, 49);
  --atoll-200: rgb(200, 248, 248);
  --atoll-2000: rgb(3, 43, 43);
  --atoll-2100: rgb(3, 39, 39);
  --atoll-2200: rgb(3, 35, 35);
  --atoll-2300: rgb(2, 31, 31);
  --atoll-2400: rgb(2, 22, 22);
  --atoll-300: rgb(159, 243, 243);
  --atoll-400: rgb(84, 233, 233);
  --atoll-500: rgb(29, 226, 226);
  --atoll-600: rgb(11, 211, 211);
  --atoll-700: rgb(10, 196, 196);
  --atoll-800: rgb(10, 182, 182);
  --atoll-900: rgb(10, 165, 165);
  --bahama-100: rgb(237, 251, 255);
  --bahama-1000: rgb(33, 145, 184);
  --bahama-1100: rgb(20, 131, 170);
  --bahama-1200: rgb(9, 119, 158);
  --bahama-1300: rgb(0, 107, 143);
  --bahama-1400: rgb(0, 96, 130);
  --bahama-1500: rgb(0, 85, 115);
  --bahama-1600: rgb(0, 75, 102);
  --bahama-1700: rgb(0, 65, 88);
  --bahama-1800: rgb(0, 54, 73);
  --bahama-1900: rgb(0, 48, 65);
  --bahama-200: rgb(210, 244, 255);
  --bahama-2000: rgb(0, 42, 57);
  --bahama-2100: rgb(0, 38, 52);
  --bahama-2200: rgb(0, 34, 46);
  --bahama-2300: rgb(0, 30, 41);
  --bahama-2400: rgb(0, 21, 29);
  --bahama-300: rgb(183, 237, 255);
  --bahama-400: rgb(134, 225, 255);
  --bahama-500: rgb(107, 218, 255);
  --bahama-600: rgb(88, 204, 243);
  --bahama-700: rgb(74, 190, 228);
  --bahama-800: rgb(62, 176, 215);
  --bahama-900: rgb(47, 160, 199);
  --basics-black: rgb(0, 0, 0);
  --basics-white: rgb(255, 255, 255);
  --borderWidth: 1;
  --breakpoint-desktop-default: 1920;
  --breakpoint-desktop-extraLarge: 2400;
  --breakpoint-desktop-large: 2200;
  --breakpoint-laptop-Default: 1460;
  --breakpoint-laptop-Large: 1700;
  --breakpoint-laptop-Small: 1220;
  --breakpoint-mobile-Default: 400;
  --breakpoint-mobile-Large: 520;
  --breakpoint-mobile-Small: 320;
  --breakpoint-tablet-Default: 780;
  --breakpoint-tablet-Large: 980;
  --breakpoint-tablet-Small: 624;
  --clay-100: rgb(250, 246, 246);
  --clay-1000: rgb(178, 119, 122);
  --clay-1100: rgb(170, 104, 107);
  --clay-1200: rgb(161, 90, 95);
  --clay-1300: rgb(150, 77, 82);
  --clay-1400: rgb(140, 66, 71);
  --clay-1500: rgb(130, 55, 60);
  --clay-1600: rgb(118, 46, 51);
  --clay-1700: rgb(103, 40, 44);
  --clay-1800: rgb(85, 33, 36);
  --clay-1900: rgb(75, 29, 32);
  --clay-200: rgb(245, 236, 237);
  --clay-2000: rgb(67, 26, 28);
  --clay-2100: rgb(59, 24, 26);
  --clay-2200: rgb(54, 21, 23);
  --clay-2300: rgb(47, 18, 20);
  --clay-2400: rgb(33, 13, 15);
  --clay-300: rgb(238, 225, 226);
  --clay-400: rgb(228, 207, 208);
  --clay-500: rgb(223, 198, 200);
  --clay-600: rgb(215, 183, 185);
  --clay-700: rgb(205, 168, 170);
  --clay-800: rgb(197, 153, 155);
  --clay-900: rgb(188, 135, 138);
  --core-typeFace-legacy: Source Sans Pro;
  --core-typeFace-primary: Source Sans Pro;
  --core-typeFace-secondary: Inter;
  --core-typeFace-serif: Source Serif Pro;
  --core-typeFontVariant-none: none;
  --core-typeFontVariant-smallCaps: all-small-caps;
  --core-typeLetterSpacing-0: 0.17499999701976776;
  --core-typeLetterSpacing-1: 0;
  --core-typeLetterSpacing-10: -1.7100000381469727;
  --core-typeLetterSpacing-11: -2.1600000858306885;
  --core-typeLetterSpacing-2: 0;
  --core-typeLetterSpacing-3: -0.03999999910593033;
  --core-typeLetterSpacing-4: -0.10000000149011612;
  --core-typeLetterSpacing-5: -0.05999999865889549;
  --core-typeLetterSpacing-6: -0.1599999964237213;
  --core-typeLetterSpacing-7: -0.6000000238418579;
  --core-typeLetterSpacing-8: -0.8399999737739563;
  --core-typeLetterSpacing-9: -1.5;
  --core-typeLineHeight-0750: 12;
  --core-typeLineHeight-100: 16;
  --core-typeLineHeight-125: 20;
  --core-typeLineHeight-150: 24;
  --core-typeLineHeight-175: 28;
  --core-typeLineHeight-200: 32;
  --core-typeLineHeight-250: 40;
  --core-typeLineHeight-325: 52;
  --core-typeLineHeight-375: 60;
  --core-typeLineHeight-475: 76;
  --core-typeLineHeight-525: 84;
  --core-typeLineHeight-675: 108;
  --core-typeParagraphSpacing-050: 8;
  --core-typeParagraphSpacing-075: 12;
  --core-typeParagraphSpacing-100: 16;
  --core-typeParagraphSpacing-150: 24;
  --core-typeParagraphSpacing-200: 32;
  --core-typeParagraphSpacing-400: 64;
  --core-typeSize-0625: 10;
  --core-typeSize-0750: 12;
  --core-typeSize-0875: 14;
  --core-typeSize-100: 16;
  --core-typeSize-1125: 18;
  --core-typeSize-125: 20;
  --core-typeSize-150: 24;
  --core-typeSize-200: 32;
  --core-typeSize-250: 40;
  --core-typeSize-300: 48;
  --core-typeSize-375: 60;
  --core-typeSize-475: 76;
  --core-typeSize-600: 96;
  --core-typeTextDecoration-none: none;
  --core-typeTextDecoration-strikeThrough: strike-through;
  --core-typeTextDecoration-underlined: underlined;
  --core-typeTextTransform-none: none;
  --core-typeTextTransform-uppercase: uppercase;
  --core-typeWeight-light: 300;
  --core-typeWeight-regular: 400;
  --core-typeWeight-strong: 600;
  --core-typeWeight-stronger: 700;
  --crimson-100: rgb(254, 246, 248);
  --crimson-1000: rgb(220, 91, 124);
  --crimson-1100: rgb(213, 69, 106);
  --crimson-1200: rgb(206, 47, 87);
  --crimson-1300: rgb(194, 21, 65);
  --crimson-1400: rgb(176, 19, 58);
  --crimson-1500: rgb(156, 17, 52);
  --crimson-1600: rgb(140, 15, 46);
  --crimson-1700: rgb(121, 13, 40);
  --crimson-1800: rgb(103, 11, 34);
  --crimson-1900: rgb(90, 10, 30);
  --crimson-200: rgb(253, 234, 239);
  --crimson-2000: rgb(80, 8, 27);
  --crimson-2100: rgb(74, 8, 24);
  --crimson-2200: rgb(66, 7, 22);
  --crimson-2300: rgb(59, 6, 20);
  --crimson-2400: rgb(43, 4, 14);
  --crimson-300: rgb(251, 220, 228);
  --crimson-400: rgb(249, 199, 212);
  --crimson-500: rgb(247, 188, 203);
  --crimson-600: rgb(243, 170, 189);
  --crimson-700: rgb(237, 152, 174);
  --crimson-800: rgb(232, 135, 160);
  --crimson-900: rgb(226, 113, 142);
  --elevationLevels-e1-crisp-axis: 0;
  --elevationLevels-e1-crisp-blur: 3;
  --elevationLevels-e1-crisp-color: rgba(75, 91, 97, 0.12);
  --elevationLevels-e1-crisp-projection: 1;
  --elevationLevels-e1-crisp-projectionReversed: -1;
  --elevationLevels-e1-sharp-axis: 0;
  --elevationLevels-e1-sharp-blur: 3;
  --elevationLevels-e1-sharp-color: rgba(75, 91, 97, 0.12);
  --elevationLevels-e1-sharp-projection: 2;
  --elevationLevels-e1-sharp-projectionReversed: -2;
  --elevationLevels-e1-soft-axis: 0;
  --elevationLevels-e1-soft-blur: 16;
  --elevationLevels-e1-soft-color: rgba(1, 21, 28, 0.08);
  --elevationLevels-e1-soft-projection: 4;
  --elevationLevels-e1-soft-projectionReversed: -4;
  --elevationLevels-e10-sharp-axis: 0;
  --elevationLevels-e10-sharp-blur: 70;
  --elevationLevels-e10-sharp-color: rgba(75, 91, 97, 0.06);
  --elevationLevels-e10-sharp-projection: 46;
  --elevationLevels-e10-sharp-projectionReversed: -46;
  --elevationLevels-e10-soft-axis: 0;
  --elevationLevels-e10-soft-blur: 149;
  --elevationLevels-e10-soft-color: rgba(1, 21, 28, 0.06);
  --elevationLevels-e10-soft-projection: 92;
  --elevationLevels-e10-soft-projectionReversed: -92;
  --elevationLevels-e2-sharp-axis: 0;
  --elevationLevels-e2-sharp-blur: 4;
  --elevationLevels-e2-sharp-color: rgba(75, 91, 97, 0.11);
  --elevationLevels-e2-sharp-projection: 3;
  --elevationLevels-e2-sharp-projectionReversed: -3;
  --elevationLevels-e2-soft-axis: 0;
  --elevationLevels-e2-soft-blur: 21;
  --elevationLevels-e2-soft-color: rgba(1, 21, 28, 0.08);
  --elevationLevels-e2-soft-projection: 6;
  --elevationLevels-e2-soft-projectionReversed: -6;
  --elevationLevels-e3-sharp-axis: 0;
  --elevationLevels-e3-sharp-blur: 6;
  --elevationLevels-e3-sharp-color: rgba(75, 91, 97, 0.1);
  --elevationLevels-e3-sharp-projection: 4;
  --elevationLevels-e3-sharp-projectionReversed: -4;
  --elevationLevels-e3-soft-axis: 0;
  --elevationLevels-e3-soft-blur: 26;
  --elevationLevels-e3-soft-color: rgba(1, 21, 28, 0.08);
  --elevationLevels-e3-soft-projection: 8;
  --elevationLevels-e3-soft-projectionReversed: -8;
  --elevationLevels-e4-sharp-axis: 0;
  --elevationLevels-e4-sharp-blur: 9;
  --elevationLevels-e4-sharp-color: rgba(75, 91, 97, 0.1);
  --elevationLevels-e4-sharp-projection: 6;
  --elevationLevels-e4-sharp-projectionReversed: -6;
  --elevationLevels-e4-soft-axis: 0;
  --elevationLevels-e4-soft-blur: 34;
  --elevationLevels-e4-soft-color: rgba(1, 21, 28, 0.07);
  --elevationLevels-e4-soft-projection: 11;
  --elevationLevels-e4-soft-projectionReversed: -11;
  --elevationLevels-E5-sharp-axis: 0;
  --elevationLevels-E5-sharp-blur: 12;
  --elevationLevels-E5-sharp-color: rgba(75, 91, 97, 0.09);
  --elevationLevels-E5-sharp-projection: 8;
  --elevationLevels-E5-sharp-projectionReversed: -8;
  --elevationLevels-E5-soft-axis: 0;
  --elevationLevels-E5-soft-blur: 43;
  --elevationLevels-E5-soft-color: rgba(1, 21, 28, 0.07);
  --elevationLevels-E5-soft-projection: 16;
  --elevationLevels-E5-soft-projectionReversed: -16;
  --elevationLevels-e6-sharp-axis: 0;
  --elevationLevels-e6-sharp-blur: 17;
  --elevationLevels-e6-sharp-color: rgba(75, 91, 97, 0.08);
  --elevationLevels-e6-sharp-projection: 11;
  --elevationLevels-e6-sharp-projectionReversed: -11;
  --elevationLevels-e6-soft-axis: 0;
  --elevationLevels-e6-soft-blur: 55;
  --elevationLevels-e6-soft-color: rgba(1, 21, 28, 0.06);
  --elevationLevels-e6-soft-projection: 23;
  --elevationLevels-e6-soft-projectionReversed: -23;
  --elevationLevels-e7-sharp-axis: 0;
  --elevationLevels-e7-sharp-blur: 24;
  --elevationLevels-e7-sharp-color: rgba(75, 91, 97, 0.08);
  --elevationLevels-e7-sharp-projection: 16;
  --elevationLevels-e7-sharp-projectionReversed: -16;
  --elevationLevels-e7-soft-axis: 0;
  --elevationLevels-e7-soft-blur: 71;
  --elevationLevels-e7-soft-color: rgba(1, 21, 28, 0.07);
  --elevationLevels-e7-soft-projection: 32;
  --elevationLevels-e7-soft-projectionReversed: -32;
  --elevationLevels-e8-sharp-axis: 0;
  --elevationLevels-e8-sharp-blur: 35;
  --elevationLevels-e8-sharp-color: rgba(75, 91, 97, 0.07);
  --elevationLevels-e8-sharp-projection: 23;
  --elevationLevels-e8-sharp-projectionReversed: -23;
  --elevationLevels-e8-soft-axis: 0;
  --elevationLevels-e8-soft-blur: 91;
  --elevationLevels-e8-soft-color: rgba(1, 21, 28, 0.06);
  --elevationLevels-e8-soft-projection: 46;
  --elevationLevels-e8-soft-projectionReversed: -46;
  --elevationLevels-e9-sharp-axis: 0;
  --elevationLevels-e9-sharp-blur: 49;
  --elevationLevels-e9-sharp-color: rgba(75, 91, 97, 0.06);
  --elevationLevels-e9-sharp-projection: 33;
  --elevationLevels-e9-sharp-projectionReversed: -33;
  --elevationLevels-e9-soft-axis: 0;
  --elevationLevels-e9-soft-blur: 116;
  --elevationLevels-e9-soft-color: rgba(1, 21, 28, 0.06);
  --elevationLevels-e9-soft-projection: 65;
  --elevationLevels-e9-soft-projectionReversed: -65;
  --forest-100: rgb(244, 248, 243);
  --forest-1000: rgb(96, 146, 97);
  --forest-1100: rgb(85, 133, 86);
  --forest-1200: rgb(74, 121, 76);
  --forest-1300: rgb(66, 109, 67);
  --forest-1400: rgb(59, 98, 59);
  --forest-1500: rgb(52, 87, 52);
  --forest-1600: rgb(47, 77, 47);
  --forest-1700: rgb(40, 66, 40);
  --forest-1800: rgb(33, 55, 33);
  --forest-1900: rgb(29, 48, 29);
  --forest-200: rgb(233, 242, 232);
  --forest-2000: rgb(25, 42, 25);
  --forest-2100: rgb(23, 38, 23);
  --forest-2200: rgb(21, 34, 21);
  --forest-2300: rgb(18, 30, 18);
  --forest-2400: rgb(13, 21, 13);
  --forest-300: rgb(218, 232, 218);
  --forest-400: rgb(196, 218, 196);
  --forest-500: rgb(184, 211, 185);
  --forest-600: rgb(166, 199, 167);
  --forest-700: rgb(147, 187, 148);
  --forest-800: rgb(129, 175, 129);
  --forest-900: rgb(109, 161, 109);
  --glacier-100: rgb(246, 249, 250);
  --glacier-1000: rgb(125, 137, 142);
  --glacier-1100: rgb(111, 124, 129);
  --glacier-1200: rgb(99, 113, 119);
  --glacier-1300: rgb(86, 101, 107);
  --glacier-1400: rgb(76, 91, 98);
  --glacier-1500: rgb(65, 81, 88);
  --glacier-1600: rgb(55, 72, 79);
  --glacier-1700: rgb(45, 63, 69);
  --glacier-1800: rgb(34, 52, 60);
  --glacier-1900: rgb(27, 46, 54);
  --glacier-200: rgb(234, 239, 241);
  --glacier-2000: rgb(22, 41, 49);
  --glacier-2100: rgb(18, 37, 45);
  --glacier-2200: rgb(13, 33, 41);
  --glacier-2300: rgb(9, 30, 37);
  --glacier-2400: rgb(1, 21, 29);
  --glacier-300: rgb(223, 229, 232);
  --glacier-400: rgb(206, 213, 216);
  --glacier-500: rgb(198, 206, 209);
  --glacier-600: rgb(183, 192, 195);
  --glacier-700: rgb(168, 178, 182);
  --glacier-800: rgb(155, 165, 170);
  --glacier-900: rgb(139, 151, 155);
  --grayscale-100: rgb(247, 247, 247);
  --grayscale-1000: rgb(134, 134, 134);
  --grayscale-1100: rgb(121, 121, 121);
  --grayscale-1200: rgb(110, 110, 110);
  --grayscale-1300: rgb(99, 99, 99);
  --grayscale-1400: rgb(89, 89, 89);
  --grayscale-1500: rgb(79, 79, 79);
  --grayscale-1600: rgb(69, 69, 69);
  --grayscale-1700: rgb(61, 61, 61);
  --grayscale-1800: rgb(50, 50, 50);
  --grayscale-1900: rgb(43, 43, 43);
  --grayscale-200: rgb(239, 239, 239);
  --grayscale-2000: rgb(38, 38, 38);
  --grayscale-2100: rgb(35, 35, 35);
  --grayscale-2200: rgb(31, 31, 31);
  --grayscale-2300: rgb(27, 27, 27);
  --grayscale-2400: rgb(19, 19, 19);
  --grayscale-300: rgb(227, 227, 227);
  --grayscale-400: rgb(212, 212, 212);
  --grayscale-500: rgb(204, 204, 204);
  --grayscale-600: rgb(190, 190, 190);
  --grayscale-700: rgb(176, 176, 176);
  --grayscale-800: rgb(163, 163, 163);
  --grayscale-900: rgb(149, 149, 149);
  --jllRed-100: rgb(255, 245, 246);
  --jllRed-1000: rgb(254, 54, 67);
  --jllRed-1100: rgb(239, 28, 41);
  --jllRed-1200: rgb(222, 6, 20);
  --jllRed-1300: rgb(200, 5, 18);
  --jllRed-1400: rgb(181, 5, 16);
  --jllRed-1500: rgb(162, 4, 14);
  --jllRed-1600: rgb(144, 4, 13);
  --jllRed-1700: rgb(126, 3, 11);
  --jllRed-1800: rgb(107, 3, 9);
  --jllRed-1900: rgb(95, 2, 8);
  --jllRed-200: rgb(255, 233, 235);
  --jllRed-2000: rgb(85, 2, 8);
  --jllRed-2100: rgb(78, 2, 7);
  --jllRed-2200: rgb(70, 2, 6);
  --jllRed-2300: rgb(63, 2, 6);
  --jllRed-2400: rgb(47, 1, 4);
  --jllRed-300: rgb(255, 219, 221);
  --jllRed-400: rgb(255, 197, 201);
  --jllRed-500: rgb(255, 186, 191);
  --jllRed-600: rgb(255, 166, 172);
  --jllRed-700: rgb(255, 145, 152);
  --jllRed-800: rgb(255, 122, 130);
  --jllRed-900: rgb(255, 92, 103);
  --lasalle-blue-100: rgb(242, 244, 248);
  --lasalle-blue-1000: rgb(122, 143, 184);
  --lasalle-blue-1100: rgb(102, 125, 173);
  --lasalle-blue-1200: rgb(82, 108, 162);
  --lasalle-blue-1300: rgb(61, 91, 151);
  --lasalle-blue-1400: rgb(41, 74, 140);
  --lasalle-blue-1500: rgb(25, 61, 132);
  --lasalle-blue-1600: rgb(13, 50, 125);
  --lasalle-blue-1700: rgb(0, 39, 118);
  --lasalle-blue-1800: rgb(0, 36, 109);
  --lasalle-blue-1900: rgb(0, 33, 99);
  --lasalle-blue-200: rgb(230, 233, 241);
  --lasalle-blue-2000: rgb(0, 30, 90);
  --lasalle-blue-2100: rgb(0, 27, 80);
  --lasalle-blue-2200: rgb(0, 22, 66);
  --lasalle-blue-2300: rgb(0, 16, 47);
  --lasalle-blue-2400: rgb(0, 14, 42);
  --lasalle-blue-300: rgb(217, 223, 234);
  --lasalle-blue-400: rgb(204, 212, 228);
  --lasalle-blue-500: rgb(191, 201, 221);
  --lasalle-blue-600: rgb(179, 190, 214);
  --lasalle-blue-700: rgb(166, 179, 207);
  --lasalle-blue-800: rgb(153, 169, 200);
  --lasalle-blue-900: rgb(143, 160, 195);
  --lasalle-gray-100: rgb(248, 249, 251);
  --lasalle-gray-1000: rgb(130, 146, 178);
  --lasalle-gray-1100: rgb(117, 134, 170);
  --lasalle-gray-1200: rgb(111, 126, 154);
  --lasalle-gray-1300: rgb(101, 115, 144);
  --lasalle-gray-1400: rgb(91, 105, 132);
  --lasalle-gray-1500: rgb(83, 95, 119);
  --lasalle-gray-1600: rgb(74, 85, 106);
  --lasalle-gray-1700: rgb(66, 75, 94);
  --lasalle-gray-1800: rgb(56, 65, 82);
  --lasalle-gray-1900: rgb(48, 55, 69);
  --lasalle-gray-200: rgb(234, 237, 243);
  --lasalle-gray-2000: rgb(39, 45, 56);
  --lasalle-gray-2100: rgb(30, 35, 44);
  --lasalle-gray-2200: rgb(22, 25, 32);
  --lasalle-gray-2300: rgb(13, 15, 19);
  --lasalle-gray-2400: rgb(5, 5, 6);
  --lasalle-gray-300: rgb(221, 226, 235);
  --lasalle-gray-400: rgb(204, 212, 228);
  --lasalle-gray-500: rgb(194, 203, 221);
  --lasalle-gray-600: rgb(182, 192, 210);
  --lasalle-gray-700: rgb(169, 180, 203);
  --lasalle-gray-800: rgb(156, 169, 194);
  --lasalle-gray-900: rgb(143, 158, 187);
  --lasalle-teal-100: rgb(247, 250, 250);
  --lasalle-teal-1000: rgb(128, 171, 177);
  --lasalle-teal-1100: rgb(128, 171, 177);
  --lasalle-teal-1200: rgb(101, 154, 161);
  --lasalle-teal-1300: rgb(88, 145, 153);
  --lasalle-teal-1400: rgb(81, 133, 141);
  --lasalle-teal-1500: rgb(74, 122, 129);
  --lasalle-teal-1600: rgb(67, 110, 116);
  --lasalle-teal-1700: rgb(60, 99, 104);
  --lasalle-teal-1800: rgb(53, 87, 92);
  --lasalle-teal-1900: rgb(46, 75, 80);
  --lasalle-teal-200: rgb(238, 244, 245);
  --lasalle-teal-2000: rgb(39, 64, 67);
  --lasalle-teal-2100: rgb(32, 52, 55);
  --lasalle-teal-2200: rgb(25, 41, 43);
  --lasalle-teal-2300: rgb(18, 29, 31);
  --lasalle-teal-2400: rgb(11, 17, 18);
  --lasalle-teal-300: rgb(222, 233, 235);
  --lasalle-teal-400: rgb(208, 224, 226);
  --lasalle-teal-500: rgb(195, 215, 218);
  --lasalle-teal-600: rgb(182, 207, 210);
  --lasalle-teal-700: rgb(168, 198, 202);
  --lasalle-teal-800: rgb(155, 189, 194);
  --lasalle-teal-900: rgb(141, 180, 186);
  --lavender-100: rgb(250, 248, 250);
  --lavender-1000: rgb(166, 119, 166);
  --lavender-1100: rgb(156, 104, 156);
  --lavender-1200: rgb(147, 91, 147);
  --lavender-1300: rgb(132, 81, 133);
  --lavender-1400: rgb(119, 73, 119);
  --lavender-1500: rgb(105, 65, 105);
  --lavender-1600: rgb(92, 58, 92);
  --lavender-1700: rgb(80, 50, 80);
  --lavender-1800: rgb(67, 41, 67);
  --lavender-1900: rgb(59, 36, 58);
  --lavender-200: rgb(243, 236, 243);
  --lavender-2000: rgb(52, 32, 51);
  --lavender-2100: rgb(47, 29, 46);
  --lavender-2200: rgb(42, 25, 41);
  --lavender-2300: rgb(37, 22, 36);
  --lavender-2400: rgb(25, 16, 24);
  --lavender-300: rgb(236, 225, 236);
  --lavender-400: rgb(224, 207, 224);
  --lavender-500: rgb(219, 198, 218);
  --lavender-600: rgb(209, 182, 208);
  --lavender-700: rgb(199, 167, 199);
  --lavender-800: rgb(189, 152, 189);
  --lavender-900: rgb(177, 135, 177);
  --layout-breakpoints-from-desktop: var(--breakpoint-desktop-default);
  --layout-breakpoints-from-desktopExtraLarge: var(--breakpoint-desktop-extraLarge);
  --layout-breakpoints-from-desktopLarge: var(--breakpoint-desktop-large);
  --layout-breakpoints-from-laptop: var(--breakpoint-laptop-Default);
  --layout-breakpoints-from-laptopSmall: var(--breakpoint-laptop-Small);
  --layout-breakpoints-from-mobile: var(--breakpoint-mobile-Default);
  --layout-breakpoints-from-mobileLarge: var(--breakpoint-mobile-Large);
  --layout-breakpoints-from-mobileSmall: var(--breakpoint-mobile-Small);
  --layout-breakpoints-from-mobileSmall-5: var(--breakpoint-laptop-Large);
  --layout-breakpoints-from-tablet: var(--breakpoint-tablet-Default);
  --layout-breakpoints-from-tabletLarge: var(--breakpoint-tablet-Large);
  --layout-breakpoints-from-tabletSmall: var(--breakpoint-tablet-Small);
  --lilac-100: rgb(250, 247, 254);
  --lilac-1000: rgb(166, 108, 223);
  --lilac-1100: rgb(154, 91, 218);
  --lilac-1200: rgb(144, 75, 214);
  --lilac-1300: rgb(133, 56, 209);
  --lilac-1400: rgb(122, 39, 204);
  --lilac-1500: rgb(109, 25, 193);
  --lilac-1600: rgb(97, 22, 171);
  --lilac-1700: rgb(85, 19, 150);
  --lilac-1800: rgb(71, 16, 125);
  --lilac-1900: rgb(62, 14, 111);
  --lilac-200: rgb(243, 235, 252);
  --lilac-2000: rgb(55, 13, 98);
  --lilac-2100: rgb(50, 12, 89);
  --lilac-2200: rgb(45, 10, 81);
  --lilac-2300: rgb(40, 9, 72);
  --lilac-2400: rgb(29, 7, 51);
  --lilac-300: rgb(237, 222, 251);
  --lilac-400: rgb(226, 203, 248);
  --lilac-500: rgb(220, 194, 247);
  --lilac-600: rgb(210, 177, 243);
  --lilac-700: rgb(200, 161, 238);
  --lilac-800: rgb(189, 145, 234);
  --lilac-900: rgb(177, 126, 229);
  --lima-100: rgb(240, 252, 229);
  --lima-1000: rgb(88, 150, 25);
  --lima-1100: rgb(81, 136, 26);
  --lima-1200: rgb(75, 123, 26);
  --lima-1300: rgb(68, 110, 26);
  --lima-1400: rgb(61, 99, 24);
  --lima-1500: rgb(54, 88, 21);
  --lima-1600: rgb(48, 77, 19);
  --lima-1700: rgb(42, 67, 16);
  --lima-1800: rgb(34, 56, 13);
  --lima-1900: rgb(30, 49, 12);
  --lima-200: rgb(222, 247, 196);
  --lima-2000: rgb(27, 43, 10);
  --lima-2100: rgb(24, 39, 9);
  --lima-2200: rgb(21, 35, 8);
  --lima-2300: rgb(19, 30, 7);
  --lima-2400: rgb(13, 21, 5);
  --lima-300: rgb(197, 242, 153);
  --lima-400: rgb(156, 233, 80);
  --lima-500: rgb(134, 228, 41);
  --lima-600: rgb(117, 213, 22);
  --lima-700: rgb(110, 198, 22);
  --lima-800: rgb(103, 183, 23);
  --lima-900: rgb(95, 166, 24);
  --magenta-100: rgb(255, 246, 253);
  --magenta-1000: rgb(223, 74, 186);
  --magenta-1100: rgb(213, 50, 173);
  --magenta-1200: rgb(201, 30, 159);
  --magenta-1300: rgb(184, 14, 142);
  --magenta-1400: rgb(167, 7, 128);
  --magenta-1500: rgb(150, 3, 114);
  --magenta-1600: rgb(134, 0, 102);
  --magenta-1700: rgb(117, 0, 88);
  --magenta-1800: rgb(99, 0, 75);
  --magenta-1900: rgb(88, 0, 66);
  --magenta-200: rgb(255, 232, 249);
  --magenta-2000: rgb(79, 0, 60);
  --magenta-2100: rgb(72, 0, 54);
  --magenta-2200: rgb(66, 0, 50);
  --magenta-2300: rgb(59, 0, 45);
  --magenta-2400: rgb(44, 0, 33);
  --magenta-300: rgb(255, 218, 245);
  --magenta-400: rgb(252, 195, 237);
  --magenta-500: rgb(249, 184, 233);
  --magenta-600: rgb(244, 165, 224);
  --magenta-700: rgb(240, 145, 216);
  --magenta-800: rgb(236, 124, 208);
  --magenta-900: rgb(230, 100, 198);
  --ocean-100: rgb(241, 250, 253);
  --ocean-1000: rgb(88, 143, 161);
  --ocean-1100: rgb(73, 129, 149);
  --ocean-1200: rgb(61, 118, 138);
  --ocean-1300: rgb(48, 106, 127);
  --ocean-1400: rgb(35, 96, 117);
  --ocean-1500: rgb(24, 85, 107);
  --ocean-1600: rgb(8, 71, 94);
  --ocean-1700: rgb(2, 65, 88);
  --ocean-1800: rgb(0, 56, 77);
  --ocean-1900: rgb(0, 48, 65);
  --ocean-200: rgb(228, 246, 251);
  --ocean-2000: rgb(0, 42, 58);
  --ocean-2100: rgb(0, 38, 52);
  --ocean-2200: rgb(0, 34, 47);
  --ocean-2300: rgb(0, 30, 41);
  --ocean-2400: rgb(0, 21, 29);
  --ocean-300: rgb(211, 240, 248);
  --ocean-400: rgb(174, 220, 234);
  --ocean-500: rgb(166, 212, 226);
  --ocean-600: rgb(149, 198, 213);
  --ocean-700: rgb(134, 184, 200);
  --ocean-800: rgb(120, 171, 188);
  --ocean-900: rgb(107, 160, 177);
  --orange-100: rgb(255, 246, 241);
  --orange-1000: rgb(234, 86, 1);
  --orange-1100: rgb(212, 77, 1);
  --orange-1200: rgb(193, 71, 1);
  --orange-1300: rgb(173, 63, 1);
  --orange-1400: rgb(156, 57, 1);
  --orange-1500: rgb(139, 51, 1);
  --orange-1600: rgb(122, 45, 1);
  --orange-1700: rgb(106, 39, 0);
  --orange-1800: rgb(89, 32, 0);
  --orange-1900: rgb(78, 29, 0);
  --orange-200: rgb(255, 235, 223);
  --orange-2000: rgb(70, 25, 0);
  --orange-2100: rgb(63, 23, 0);
  --orange-2200: rgb(56, 21, 0);
  --orange-2300: rgb(50, 18, 0);
  --orange-2400: rgb(35, 13, 0);
  --orange-300: rgb(255, 221, 201);
  --orange-400: rgb(255, 200, 169);
  --orange-500: rgb(255, 190, 153);
  --orange-600: rgb(252, 172, 126);
  --orange-700: rgb(248, 153, 99);
  --orange-800: rgb(245, 134, 71);
  --orange-900: rgb(240, 111, 37);
  --radius-default: 6;
  --radius-defaultWrap: 10;
  --radius-full: 100;
  --radius-none: 0;
  --radius-strong: 8;
  --radius-stronger: 12;
  --radius-weak: 3;
  --royal-100: rgb(247, 248, 254);
  --royal-1000: rgb(96, 129, 233);
  --royal-1100: rgb(76, 114, 231);
  --royal-1200: rgb(59, 101, 228);
  --royal-1300: rgb(43, 87, 220);
  --royal-1400: rgb(39, 78, 199);
  --royal-1500: rgb(34, 69, 176);
  --royal-1600: rgb(30, 61, 156);
  --royal-1700: rgb(26, 53, 136);
  --royal-1800: rgb(22, 44, 113);
  --royal-1900: rgb(19, 39, 99);
  --royal-200: rgb(234, 238, 252);
  --royal-2000: rgb(17, 34, 88);
  --royal-2100: rgb(16, 31, 80);
  --royal-2200: rgb(14, 28, 71);
  --royal-2300: rgb(12, 24, 62);
  --royal-2400: rgb(9, 17, 44);
  --royal-300: rgb(222, 228, 251);
  --royal-400: rgb(200, 211, 248);
  --royal-500: rgb(190, 203, 247);
  --royal-600: rgb(172, 189, 244);
  --royal-700: rgb(154, 175, 241);
  --royal-800: rgb(137, 161, 239);
  --royal-900: rgb(116, 145, 236);
  --salem-100: rgb(235, 253, 244);
  --salem-1000: rgb(11, 154, 89);
  --salem-1100: rgb(9, 140, 83);
  --salem-1200: rgb(7, 127, 78);
  --salem-1300: rgb(5, 113, 72);
  --salem-1400: rgb(4, 103, 68);
  --salem-1500: rgb(3, 90, 62);
  --salem-1600: rgb(4, 79, 58);
  --salem-1700: rgb(4, 69, 53);
  --salem-1800: rgb(5, 57, 48);
  --salem-1900: rgb(5, 50, 44);
  --salem-200: rgb(202, 250, 226);
  --salem-2000: rgb(4, 44, 39);
  --salem-2100: rgb(4, 40, 36);
  --salem-2200: rgb(3, 36, 31);
  --salem-2300: rgb(3, 31, 28);
  --salem-2400: rgb(2, 22, 20);
  --salem-300: rgb(162, 246, 204);
  --salem-400: rgb(82, 238, 161);
  --salem-500: rgb(36, 233, 135);
  --salem-600: rgb(16, 218, 118);
  --salem-700: rgb(16, 203, 110);
  --salem-800: rgb(15, 188, 103);
  --salem-900: rgb(13, 171, 96);
  --sand-100: rgb(252, 247, 244);
  --sand-1000: rgb(148, 132, 119);
  --sand-1100: rgb(134, 119, 107);
  --sand-1200: rgb(122, 108, 98);
  --sand-1300: rgb(109, 97, 87);
  --sand-1400: rgb(98, 87, 79);
  --sand-1500: rgb(87, 77, 70);
  --sand-1600: rgb(77, 68, 61);
  --sand-1700: rgb(66, 59, 53);
  --sand-1800: rgb(55, 49, 44);
  --sand-1900: rgb(48, 43, 39);
  --sand-200: rgb(247, 236, 227);
  --sand-2000: rgb(42, 38, 34);
  --sand-2100: rgb(39, 34, 31);
  --sand-2200: rgb(34, 30, 27);
  --sand-2300: rgb(30, 26, 24);
  --sand-2400: rgb(21, 18, 17);
  --sand-300: rgb(242, 225, 211);
  --sand-400: rgb(233, 208, 187);
  --sand-500: rgb(224, 200, 180);
  --sand-600: rgb(210, 186, 168);
  --sand-700: rgb(195, 173, 156);
  --sand-800: rgb(180, 160, 144);
  --sand-900: rgb(164, 145, 131);
  --scale-s0-iconSize: 10;
  --scale-s0-letterSpacing: var(--core-typeLetterSpacing-0);
  --scale-s0-lineHeight: var(--core-typeLineHeight-0750);
  --scale-s0-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s0-size: var(--core-typeSize-0625);
  --scale-s0-typeface: var(--core-typeFace-primary);
  --scale-s0-weight: var(--core-typeWeight-regular);
  --scale-s1-iconSize: 12;
  --scale-s1-letterSpacing: var(--core-typeLetterSpacing-1);
  --scale-s1-lineHeight: var(--core-typeLineHeight-100);
  --scale-s1-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s1-size: var(--core-typeSize-0750);
  --scale-s1-typeface: var(--core-typeFace-primary);
  --scale-s1-weight: var(--core-typeWeight-regular);
  --scale-s10-iconSize: 76;
  --scale-s10-letterSpacing: var(--core-typeLetterSpacing-10);
  --scale-s10-lineHeight: var(--core-typeLineHeight-525);
  --scale-s10-paragraphSpacing: var(--core-typeParagraphSpacing-200);
  --scale-s10-size: var(--core-typeSize-475);
  --scale-s10-typeface: var(--core-typeFace-primary);
  --scale-s10-weight: var(--core-typeWeight-regular);
  --scale-s11-iconSize: 96;
  --scale-s11-letterSpacing: var(--core-typeLetterSpacing-11);
  --scale-s11-lineHeight: var(--core-typeLineHeight-675);
  --scale-s11-paragraphSpacing: var(--core-typeParagraphSpacing-400);
  --scale-s11-size: var(--core-typeSize-600);
  --scale-s11-typeface: var(--core-typeFace-primary);
  --scale-s11-weight: var(--core-typeWeight-regular);
  --scale-s2-iconSize: 16;
  --scale-s2-letterSpacing: var(--core-typeLetterSpacing-2);
  --scale-s2-lineHeight: var(--core-typeLineHeight-125);
  --scale-s2-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s2-size: var(--core-typeSize-0875);
  --scale-s2-typeface: var(--core-typeFace-primary);
  --scale-s2-weight: var(--core-typeWeight-regular);
  --scale-s3-5-iconSize: 20;
  --scale-s3-5-letterSpacing: var(--core-typeLetterSpacing-4);
  --scale-s3-5-lineHeight: var(--core-typeLineHeight-175);
  --scale-s3-5-paragraphSpacing: var(--core-typeParagraphSpacing-100);
  --scale-s3-5-size: var(--core-typeSize-1125);
  --scale-s3-5-typeface: var(--core-typeFace-primary);
  --scale-s3-5-weight: var(--core-typeWeight-regular);
  --scale-s3-iconSize: 18;
  --scale-s3-letterSpacing: var(--core-typeLetterSpacing-3);
  --scale-s3-lineHeight: var(--core-typeLineHeight-150);
  --scale-s3-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s3-size: var(--core-typeSize-100);
  --scale-s3-typeface: var(--core-typeFace-primary);
  --scale-s3-weight: var(--core-typeWeight-regular);
  --scale-s4-iconSize: 20;
  --scale-s4-letterSpacing: var(--core-typeLetterSpacing-4);
  --scale-s4-lineHeight: var(--core-typeLineHeight-175);
  --scale-s4-paragraphSpacing: var(--core-typeParagraphSpacing-100);
  --scale-s4-size: var(--core-typeSize-125);
  --scale-s4-typeface: var(--core-typeFace-primary);
  --scale-s4-weight: var(--core-typeWeight-regular);
  --scale-s5-iconSize: 24;
  --scale-s5-letterSpacing: var(--core-typeLetterSpacing-5);
  --scale-s5-lineHeight: var(--core-typeLineHeight-200);
  --scale-s5-paragraphSpacing: var(--core-typeParagraphSpacing-050);
  --scale-s5-size: var(--core-typeSize-150);
  --scale-s5-typeface: var(--core-typeFace-primary);
  --scale-s5-weight: var(--core-typeWeight-regular);
  --scale-s6-iconSize: 32;
  --scale-s6-letterSpacing: var(--core-typeLetterSpacing-6);
  --scale-s6-lineHeight: var(--core-typeLineHeight-250);
  --scale-s6-paragraphSpacing: var(--core-typeParagraphSpacing-100);
  --scale-s6-size: var(--core-typeSize-200);
  --scale-s6-typeface: var(--core-typeFace-primary);
  --scale-s6-weight: var(--core-typeWeight-regular);
  --scale-s7-iconSize: 40;
  --scale-s7-letterSpacing: var(--core-typeLetterSpacing-7);
  --scale-s7-lineHeight: var(--core-typeLineHeight-325);
  --scale-s7-paragraphSpacing: var(--core-typeParagraphSpacing-100);
  --scale-s7-size: var(--core-typeSize-250);
  --scale-s7-typeface: var(--core-typeFace-primary);
  --scale-s7-weight: var(--core-typeWeight-regular);
  --scale-s8-iconSize: 48;
  --scale-s8-letterSpacing: var(--core-typeLetterSpacing-8);
  --scale-s8-lineHeight: var(--core-typeLineHeight-375);
  --scale-s8-paragraphSpacing: var(--core-typeParagraphSpacing-150);
  --scale-s8-size: var(--core-typeSize-300);
  --scale-s8-typeface: var(--core-typeFace-primary);
  --scale-s8-weight: var(--core-typeWeight-regular);
  --scale-s9-iconSize: 60;
  --scale-s9-letterSpacing: var(--core-typeLetterSpacing-9);
  --scale-s9-lineHeight: var(--core-typeLineHeight-475);
  --scale-s9-paragraphSpacing: var(--core-typeParagraphSpacing-150);
  --scale-s9-size: var(--core-typeSize-375);
  --scale-s9-typeface: var(--core-typeFace-primary);
  --scale-s9-weight: var(--core-typeWeight-regular);
  --science-100: rgb(243, 249, 255);
  --science-1000: rgb(56, 138, 220);
  --science-1100: rgb(35, 124, 212);
  --science-1200: rgb(16, 110, 205);
  --science-1300: rgb(0, 97, 195);
  --science-1400: rgb(0, 87, 175);
  --science-1500: rgb(0, 77, 155);
  --science-1600: rgb(0, 68, 137);
  --science-1700: rgb(0, 60, 119);
  --science-1800: rgb(0, 50, 100);
  --science-1900: rgb(0, 44, 88);
  --science-200: rgb(226, 241, 255);
  --science-2000: rgb(0, 39, 78);
  --science-2100: rgb(0, 35, 71);
  --science-2200: rgb(0, 31, 63);
  --science-2300: rgb(0, 28, 56);
  --science-2400: rgb(0, 20, 39);
  --science-300: rgb(206, 230, 255);
  --science-400: rgb(177, 216, 255);
  --science-500: rgb(162, 209, 255);
  --science-600: rgb(140, 195, 249);
  --science-700: rgb(121, 182, 242);
  --science-800: rgb(101, 168, 235);
  --science-900: rgb(79, 153, 228);
  --spacing-0: 0;
  --spacing-025: 4;
  --spacing-050: 8;
  --spacing-075: 12;
  --spacing-100: 16;
  --spacing-1050: 168;
  --spacing-125: 20;
  --spacing-1250: 200;
  --spacing-1450: 232;
  --spacing-150: 24;
  --spacing-175: 28;
  --spacing-200: 32;
  --spacing-225: 36;
  --spacing-250: 40;
  --spacing-275: 44;
  --spacing-300: 48;
  --spacing-350: 56;
  --spacing-400: 64;
  --spacing-450: 72;
  --spacing-500: 80;
  --spacing-550: 88;
  --spacing-600: 96;
  --spacing-650: 104;
  --spacing-700: 112;
  --spacing-750: 120;
  --spacing-850: 136;
  --spacing-950: 152;
  --spacing-micro-1: var(--spacing-025);
  --spacing-micro-2: var(--spacing-050);
  --spacing-micro-3: var(--spacing-075);
  --spacing-micro-4: var(--spacing-100);
  --spacing-micro-5: var(--spacing-125);
  --spacing-micro-6: var(--spacing-150);
  --spacing-static-10: var(--spacing-250);
  --spacing-static-11: var(--spacing-275);
  --spacing-static-12: var(--spacing-300);
  --spacing-static-13: var(--spacing-350);
  --spacing-static-14: var(--spacing-400);
  --spacing-static-15: var(--spacing-450);
  --spacing-static-16: var(--spacing-500);
  --spacing-static-17: var(--spacing-550);
  --spacing-static-18: var(--spacing-600);
  --spacing-static-7: var(--spacing-175);
  --spacing-static-8: var(--spacing-200);
  --spacing-static-9: var(--spacing-225);
  --violet-100: rgb(252, 246, 254);
  --violet-1000: rgb(194, 88, 229);
  --violet-1100: rgb(184, 65, 224);
  --violet-1200: rgb(175, 41, 219);
  --violet-1300: rgb(161, 16, 208);
  --violet-1400: rgb(145, 14, 189);
  --violet-1500: rgb(129, 13, 168);
  --violet-1600: rgb(115, 11, 149);
  --violet-1700: rgb(100, 10, 130);
  --violet-1800: rgb(84, 8, 110);
  --violet-1900: rgb(74, 7, 97);
  --violet-200: rgb(248, 235, 254);
  --violet-2000: rgb(67, 6, 86);
  --violet-2100: rgb(61, 6, 78);
  --violet-2200: rgb(55, 5, 72);
  --violet-2300: rgb(49, 5, 63);
  --violet-2400: rgb(36, 3, 47);
  --violet-300: rgb(243, 219, 252);
  --violet-400: rgb(237, 199, 251);
  --violet-500: rgb(233, 189, 250);
  --violet-600: rgb(226, 170, 247);
  --violet-700: rgb(218, 151, 243);
  --violet-800: rgb(211, 133, 239);
  --violet-900: rgb(203, 111, 234);
  --watercourse-100: rgb(228, 252, 246);
  --watercourse-1000: rgb(7, 153, 116);
  --watercourse-1100: rgb(6, 138, 105);
  --watercourse-1200: rgb(5, 126, 96);
  --watercourse-1300: rgb(4, 113, 85);
  --watercourse-1400: rgb(3, 101, 77);
  --watercourse-1500: rgb(3, 90, 69);
  --watercourse-1600: rgb(3, 79, 60);
  --watercourse-1700: rgb(2, 69, 53);
  --watercourse-1800: rgb(2, 57, 44);
  --watercourse-1900: rgb(2, 50, 38);
  --watercourse-200: rgb(201, 249, 237);
  --watercourse-2000: rgb(2, 44, 34);
  --watercourse-2100: rgb(1, 40, 31);
  --watercourse-2200: rgb(1, 36, 28);
  --watercourse-2300: rgb(1, 32, 25);
  --watercourse-2400: rgb(1, 22, 17);
  --watercourse-300: rgb(160, 244, 223);
  --watercourse-400: rgb(85, 236, 198);
  --watercourse-500: rgb(31, 230, 180);
  --watercourse-600: rgb(11, 215, 164);
  --watercourse-700: rgb(10, 200, 153);
  --watercourse-800: rgb(9, 185, 141);
  --watercourse-900: rgb(8, 169, 129);
}
