/* Themes - Theme Only */
:root {
  --brand-jllLetters: #000000;
  --brand-jllRed: #de0614;
  --icon-ai-accent: #37484f;
  --icon-ai-default: #2245b0;
  --icon-base-default: #01151d;
  --icon-base-persistent: #01151d;
  --icon-base-reversed: #ffffff;
  --icon-base-reversedPersistent: #ffffff;
  --icon-base-reversedSubdued: #b7c0c3;
  --icon-base-subdued: #637177;
  --icon-interaction-default: #09779e;
  --icon-interaction-reversed: #3eb0d7;
  --icon-rag-danger: #b0133a;
  --icon-rag-dangerAccessible: #8c0f2e;
  --icon-rag-success: #077f4e;
  --icon-rag-successAccessible: #046744;
  --icon-rag-warning: #c14701;
  --icon-rag-warningAccessible: #9c3901;
  --icon-utilities-disabled: #01151d59;
  --stroke-active: #01151d;
  --stroke-ai-contrast: #0000000f;
  --stroke-ai-default: #7491ec;
  --stroke-ai-interaction: #becbf7;
  --stroke-ai-subdued: #c8d3f8;
  --stroke-asSurface: #ffffff;
  --stroke-danger: #b0133a;
  --stroke-default: #ced5d8;
  --stroke-defaultAccessible: #637177;
  --stroke-disabled: #ced5d880;
  --stroke-interaction: #09779e;
  --stroke-interactionBright: #2fa0c7;
  --stroke-interactionSubdued: #95c6d5;
  --stroke-onPicture: #ffffff4d;
  --stroke-secondary: #a8b2b6;
  --stroke-subdued: #dfe5e8;
  --stroke-success: #077f4e;
  --stroke-warning: #c14701;
  --stroke-whisper: #eaeff1;
  --surface-accent-default: #01151d;
  --surface-accent-secondary: #dfe5e8;
  --surface-ai-default: #eaeefc;
  --surface-ai-defaultAlpha: #1642df17;
  --surface-ai-interaction: #becbf7;
  --surface-ai-interactionAlpha: #0538e142;
  --surface-ai-overlays-hover: #2245b012;
  --surface-ai-overlays-press: #2245b026;
  --surface-ai-secondary: #f7f8fe;
  --surface-ai-secondaryAlpha: #3752e60a;
  --surface-base-alternative: #f7ece3;
  --surface-base-default: #ffffff;
  --surface-base-persistent: #01151d;
  --surface-base-reversed: #091e25;
  --surface-base-secondary: #eaeff1;
  --surface-base-secondaryAlpha: #1e697614;
  --surface-base-secondarySubdued: #f6f9fa;
  --surface-base-secondarySubduedAlpha: #1d68810a;
  --surface-interaction-active: #09779e0f;
  --surface-interaction-activeSecondary: #ffffffd9;
  --surface-interaction-bright: #2fa0c7;
  --surface-interaction-default: #09779e;
  --surface-interaction-dialogue: #ffffff;
  --surface-interaction-dialogueSecondary: #4c5b62;
  --surface-interaction-idle: #4c5b62;
  --surface-interaction-idleActive: #f6f9fa;
  --surface-interaction-idleSecondary: #ffffff;
  --surface-interaction-subdued: #d2f4ff;
  --surface-interaction-subduedAlpha: #0fbfff21;
  --surface-rag-danger: #b0133a;
  --surface-rag-dangerBright: #e2718e;
  --surface-rag-dangerSubdued: #fef6f8;
  --surface-rag-dangerSubduedAlpha: #ff1a530d;
  --surface-rag-success: #077f4e;
  --surface-rag-successBright: #0dab60;
  --surface-rag-successSubdued: #ebfdf4;
  --surface-rag-successSubduedAlpha: #00ff7714;
  --surface-rag-warning: #c14701;
  --surface-rag-warningBright: #f06f25;
  --surface-rag-warningSubdued: #fff6f1;
  --surface-rag-warningSubduedAlpha: #ff61050d;
  --surface-utilities-disabled: #01151d05;
  --surface-utilities-disabledAlpha: #01151d05;
  --surface-utilities-overlays-backdrop: #33444a4d;
  --surface-utilities-overlays-DataViz: #33444a00;
  --surface-utilities-overlays-hover: #09779e12;
  --surface-utilities-overlays-neutralHover: #00000012;
  --surface-utilities-overlays-neutralPressed: #0000001c;
  --surface-utilities-overlays-off: #ffffff00;
  --surface-utilities-overlays-pressed: #09779e26;
  --surface-utilities-overlays-reversedHover: #86e1ff33;
  --surface-utilities-overlays-reversedPressed: #86e1ff4d;
  --surface-utilities-skeleton: #dfe5e8;
  --surface-utilities-zebra: #f6f9fa;
  --surface-utilities-zebraSecondary: #415158;
  --text-ai-accent: #37484f;
  --text-ai-default: #2245b0;
  --text-ai-subdued: #2245b0cc;
  --text-base-default: #01151d;
  --text-base-persistent: #01151d;
  --text-base-reversed: #ffffff;
  --text-base-reversedPersistent: #ffffff;
  --text-base-reversedSubdued: #b7c0c3;
  --text-base-subdued: #56656b;
  --text-interaction-default: #09779e;
  --text-interaction-reversed: #3eb0d7;
  --text-rag-danger: #b0133a;
  --text-rag-dangerAccessible: #8c0f2e;
  --text-rag-success: #077f4e;
  --text-rag-successAccessible: #046744;
  --text-rag-warning: #c14701;
  --text-rag-warningAccessible: #9c3901;
  --text-utilities-disabled: #01151d59;
  --text-utilities-placeholder: #637177;
  --tonal-amber-shade1: #ffce1b;
  --tonal-amber-shade2: #c08b00;
  --tonal-amber-strong: #674a00;
  --tonal-amber-subdued: #fff9da;
  --tonal-atoll-shade1: #54e9e9;
  --tonal-atoll-shade2: #0aa5a5;
  --tonal-atoll-strong: #075858;
  --tonal-atoll-subdued: #c8f8f8;
  --tonal-forest-shade1: #c4dac4;
  --tonal-forest-shade2: #6da16d;
  --tonal-forest-strong: #345734;
  --tonal-forest-subdued: #e9f2e8;
  --tonal-lavender-shade1: #e0cfe0;
  --tonal-lavender-shade2: #b187b1;
  --tonal-lavender-strong: #694169;
  --tonal-lavender-subdued: #f3ecf3;
  --tonal-lilac-shade1: #e2cbf8;
  --tonal-lilac-shade2: #b17ee5;
  --tonal-lilac-strong: #6d19c1;
  --tonal-lilac-subdued: #f3ebfc;
  --tonal-magenta-shade2: #e664c6;
  --tonal-magenta-Shade-1: #fcc3ed;
  --tonal-magenta-Strong: #960372;
  --tonal-magenta-Subdued: #ffe8f9;
  --tonal-neutral-shade1: #d4d4d4;
  --tonal-ocean-shade1: #aedcea;
  --tonal-ocean-shade2: #6ba0b1;
  --tonal-ocean-strong: #18556b;
  --tonal-ocean-subdued: #e4f6fb;
  --tonal-orange-shade1: #ffc8a9;
  --tonal-orange-shade2: #f06f25;
  --tonal-orange-strong: #8b3301;
  --tonal-orange-subdued: #ffebdf;
  --tonal-royal-shade1: #c8d3f8;
  --tonal-royal-shade2: #7491ec;
  --tonal-royal-strong: #2245b0;
  --tonal-royal-subdued: #eaeefc;
  --tonal-sand-shade1: #e9d0bb;
  --tonal-sand-shade2: #a49183;
  --tonal-sand-strong: #574d46;
  --tonal-sand-subdued: #f7ece3;
  --tonal-science-shade1: #b1d8ff;
  --tonal-science-shade2: #4f99e4;
  --tonal-science-strong: #004d9b;
  --tonal-science-subdued: #e2f1ff;
  --tonal-watercourse-shade1: #55ecc6;
  --tonal-watercourse-shade2: #08a981;
  --tonal-watercourse-strong: #035a45;
  --tonal-watercourse-subdued: #c9f9ed;
  --elevation-moderate-sharp-axis: 0px;
  --elevation-moderate-sharp-blur: 9px;
  --elevation-moderate-sharp-color: #4b5b611f;
  --elevation-moderate-sharp-projection: 6px;
  --elevation-moderate-sharp-projectionReversed: -6px;
  --elevation-moderate-soft-axis: 0px;
  --elevation-moderate-soft-blur: 34px;
  --elevation-moderate-soft-color: #01151c12;
  --elevation-moderate-soft-projection: 11px;
  --elevation-moderate-soft-projectionReversed: -11px;
  --elevation-strong-sharp-axis: 0px;
  --elevation-strong-sharp-Blur: 70px;
  --elevation-strong-sharp-Color: #4b5b610f;
  --elevation-strong-sharp-projection: 46px;
  --elevation-strong-sharp-projectionReversed: -46px;
  --elevation-strong-soft-axis: 0px;
  --elevation-strong-soft-blur: 149px;
  --elevation-strong-soft-color: #01151c0f;
  --elevation-strong-soft-projection: 92px;
  --elevation-strong-soft-projectionReversed: -92px;
  --elevation-weak-crisp-axis: 0px;
  --elevation-weak-crisp-blur: 3px;
  --elevation-weak-crisp-color: #4b5b611f;
  --elevation-weak-crisp-projection: 1px;
  --elevation-weak-crisp-projectionReversed: -1px;
  --elevation-weak-sharp-axis: 0px;
  --elevation-weak-sharp-blur: 3px;
  --elevation-weak-sharp-color: #4b5b611f;
  --elevation-weak-sharp-projection: 2px;
  --elevation-weak-sharp-projectionReversed: -2px;
  --elevation-weak-soft-axis: 0px;
  --elevation-weak-soft-blur: 16px;
  --elevation-weak-soft-color: #01151c14;
  --elevation-weak-soft-projection: 4px;
  --elevation-weak-soft-projectionReversed: -4px;
  --dontUseDV-ct-branded-7: #b2777a;
  --dontUseDV-ct-branded-9: #a677a6;
  --dontUseDV-ct-div-main-Cold: #236075;
  --dontUseDV-ct-div-main-Middle-neutral: #dfe5e8;
  --dontUseDV-ct-div-main-Warm: #9c3901;
  --dontUseDV-ct-div-overlays-5-steps-1: #ffffff00;
  --dontUseDV-ct-div-overlays-5-steps-2: #ffffff80;
  --dontUseDV-ct-div-overlays-7-steps-1: #ffffff00;
  --dontUseDV-ct-div-overlays-7-steps-2: #ffffff59;
  --dontUseDV-ct-div-overlays-7-steps-3: #ffffffb3;
  --dontUseDV-ct-div-overlays-9-steps-1: #ffffff00;
  --dontUseDV-ct-div-overlays-9-steps-2: #ffffff40;
  --dontUseDV-ct-div-overlays-9-steps-3: #ffffff80;
  --dontUseDV-ct-div-overlays-9-steps-4: #ffffffbf;
  --dontUseDV-ct-div-overlays-11-steps-1: #ffffff00;
  --dontUseDV-ct-div-overlays-11-steps-2: #ffffff26;
  --dontUseDV-ct-div-overlays-11-steps-3: #ffffff66;
  --dontUseDV-ct-div-overlays-11-steps-4: #ffffff8c;
  --dontUseDV-ct-div-overlays-11-steps-5: #ffffffb3;
  --dontUseDV-highlight-noData: #d4d4d4;
  --dontUseDV-maps-general-land: #ffffff;
  --dontUseDV-maps-overlaySaturation: #f6f9fa8c;
  --dontUseDV-maps-special-transportation: #ffffff;
  --dontUseDV-sq-ctBranded-categorical1Sand: #62574f;
  --dontUseDV-sq-ctBranded-categorical2Ocean: #236075;
  --dontUseDV-sq-ctBranded-categorical4Lavender: #774977;
  --dontUseDV-sq-ctBranded-categorical5Forest: #3b623b;
  --dontUseDV-sq-ctBranded-categorical7Royal: #8c4247;
  --dontUseDV-sq-ctBranded-categorical10Glacier: #4c5b62;
  --dontUseDV-sq-ctExtended-extended1Orange: #9c3901;
  --dontUseDV-sq-ctExtended-extended2Magenta: #a70780;
  --dontUseDV-sq-ctExtended-extended3Crimson: #b0133a;
  --dontUseDV-sq-ctExtended-extended4Watercourse: #03654d;
  --dontUseDV-sq-ctExtended-extended5Lilac: #7a27cc;
  --dontUseDV-sq-ctExtended-extended6Atoll: #086464;
  --dontUseDV-sq-ctExtended-extended7Violet: #910ebd;
  --dontUseDV-sq-ctExtended-extended8Royal: #274ec7;
  --dontUseDV-sq-ctExtended-extended9Amber: #745300;
  --dontUseDV-sq-ctExtended-extended10Science: #0057af;
  --dontUseDV-sq-overlays-1: #ffffff00;
  --dontUseDV-sq-overlays-2: #ffffff1a;
  --dontUseDV-sq-overlays-3: #ffffff33;
  --dontUseDV-sq-overlays-4: #ffffff4d;
  --dontUseDV-sq-overlays-5: #ffffff66;
  --dontUseDV-sq-overlays-6: #ffffff80;
  --dontUseDV-sq-overlays-7: #ffffff99;
  --dontUseDV-sq-overlays-8: #ffffffb3;
  --dontUseDV-sq-rag-ragDanger: #b0133a;
  --dontUseDV-sq-rag-ragSuccess: #046744;
  --dontUseDV-sq-rag-ragWarning: #9c3901;
  --theme: Light;
}

[data-theme="dark"] {
  --brand-jllLetters: #ffffff;
  --brand-jllRed: #de0614;
  --icon-ai-accent: #fcf7f4;
  --icon-ai-default: #acbdf4;
  --icon-base-default: #ffffff;
  --icon-base-persistent: #01151d;
  --icon-base-reversed: #01151d;
  --icon-base-reversedPersistent: #ffffff;
  --icon-base-reversedSubdued: #b7c0c3;
  --icon-base-subdued: #b7c0c3;
  --icon-interaction-default: #2fa0c7;
  --icon-interaction-reversed: #3eb0d7;
  --icon-rag-danger: #e2718e;
  --icon-rag-dangerAccessible: #e2718e;
  --icon-rag-success: #10da76;
  --icon-rag-successAccessible: #10da76;
  --icon-rag-warning: #fcac7e;
  --icon-rag-warningAccessible: #fcac7e;
  --icon-utilities-disabled: #ffffff4d;
  --stroke-active: #ffffff;
  --stroke-ai-contrast: #ffffff33;
  --stroke-ai-default: #2b57dc;
  --stroke-ai-interaction: #6081e9;
  --stroke-ai-subdued: #1a3588;
  --stroke-asSurface: #091e25;
  --stroke-danger: #e2718e;
  --stroke-default: #37484f;
  --stroke-defaultAccessible: #637177;
  --stroke-disabled: #ffffff0d;
  --stroke-interaction: #2fa0c7;
  --stroke-interactionBright: #2191b8;
  --stroke-interactionSubdued: #006082;
  --stroke-onPicture: #ffffff4d;
  --stroke-secondary: #637177;
  --stroke-subdued: #22343c;
  --stroke-success: #10da76;
  --stroke-warning: #fcac7e;
  --stroke-whisper: #162931;
  --surface-accent-default: #08475e;
  --surface-accent-secondary: #22343c;
  --surface-ai-default: #132763;
  --surface-ai-defaultAlpha: #2d3efb4a;
  --surface-ai-interaction: #6081e9;
  --surface-ai-interactionAlpha: #6b8effe6;
  --surface-ai-overlays-hover: #acbdf412;
  --surface-ai-overlays-press: #acbdf426;
  --surface-ai-secondary: #101f50;
  --surface-ai-secondaryAlpha: #2922fc33;
  --surface-base-alternative: #00151d;
  --surface-base-default: #091e25;
  --surface-base-persistent: #01151d;
  --surface-base-reversed: #ffffff;
  --surface-base-secondary: #162931;
  --surface-base-secondaryAlpha: #e3e5ee0f;
  --surface-base-secondarySubdued: #12252d;
  --surface-base-secondarySubduedAlpha: #eaceed0a;
  --surface-interaction-active: #32a4ca0f;
  --surface-interaction-activeSecondary: #0a1e268c;
  --surface-interaction-bright: #2191b8;
  --surface-interaction-default: #2fa0c7;
  --surface-interaction-dialogue: #091e25;
  --surface-interaction-dialogueSecondary: #12252d;
  --surface-interaction-idle: #4c5b62;
  --surface-interaction-idleActive: #12252d;
  --surface-interaction-idleSecondary: #01151d;
  --surface-interaction-subdued: #002a39;
  --surface-interaction-subduedAlpha: #002a39;
  --surface-rag-danger: #50081b;
  --surface-rag-dangerBright: #dc5b7c;
  --surface-rag-dangerSubdued: #b0133a26;
  --surface-rag-dangerSubduedAlpha: #b0133a26;
  --surface-rag-success: #042c27;
  --surface-rag-successBright: #0b9a59;
  --surface-rag-successSubdued: #077f4e26;
  --surface-rag-successSubduedAlpha: #077f4e26;
  --surface-rag-warning: #461900;
  --surface-rag-warningBright: #c14701;
  --surface-rag-warningSubdued: #9c390126;
  --surface-rag-warningSubduedAlpha: #9c390126;
  --surface-utilities-disabled: #ffffff08;
  --surface-utilities-disabledAlpha: #ffffff08;
  --surface-utilities-overlays-backdrop: #00151dbf;
  --surface-utilities-overlays-DataViz: #33444a4d;
  --surface-utilities-overlays-hover: #09779e1f;
  --surface-utilities-overlays-neutralHover: #ffffff0f;
  --surface-utilities-overlays-neutralPressed: #ffffff1a;
  --surface-utilities-overlays-off: #ffffff00;
  --surface-utilities-overlays-pressed: #09779e40;
  --surface-utilities-overlays-reversedHover: #002a3980;
  --surface-utilities-overlays-reversedPressed: #002a39cc;
  --surface-utilities-skeleton: #22343c;
  --surface-utilities-zebra: #1b2e36;
  --surface-utilities-zebraSecondary: #1b2e36;
  --text-ai-accent: #fcf7f4;
  --text-ai-default: #acbdf4;
  --text-ai-subdued: #89a1ef;
  --text-base-default: #ffffff;
  --text-base-persistent: #01151d;
  --text-base-reversed: #01151d;
  --text-base-reversedPersistent: #ffffff;
  --text-base-reversedSubdued: #b7c0c3;
  --text-base-subdued: #b7c0c3;
  --text-interaction-default: #2fa0c7;
  --text-interaction-reversed: #3eb0d7;
  --text-rag-danger: #e2718e;
  --text-rag-dangerAccessible: #e2718e;
  --text-rag-success: #10da76;
  --text-rag-successAccessible: #10da76;
  --text-rag-warning: #fcac7e;
  --text-rag-warningAccessible: #fcac7e;
  --text-utilities-disabled: #ffffff4d;
  --text-utilities-placeholder: #8b979b;
  --tonal-amber-shade1: #674a00;
  --tonal-amber-shade2: #af7e00;
  --tonal-amber-strong: #d39a00;
  --tonal-amber-subdued: #291d00;
  --tonal-atoll-shade1: #075858;
  --tonal-atoll-shade2: #0a9696;
  --tonal-atoll-strong: #0ab6b6;
  --tonal-atoll-subdued: #032323;
  --tonal-forest-shade1: #345734;
  --tonal-forest-shade2: #609261;
  --tonal-forest-strong: #81af81;
  --tonal-forest-subdued: #152215;
  --tonal-lavender-shade1: #694169;
  --tonal-lavender-shade2: #a677a6;
  --tonal-lavender-strong: #bd98bd;
  --tonal-lavender-subdued: #2a1929;
  --tonal-lilac-shade1: #6d19c1;
  --tonal-lilac-shade2: #a66cdf;
  --tonal-lilac-strong: #bd91ea;
  --tonal-lilac-subdued: #2d0a51;
  --tonal-magenta-shade2: #df4aba;
  --tonal-magenta-Shade-1: #960372;
  --tonal-magenta-Strong: #e664c6;
  --tonal-magenta-Subdued: #2c0021;
  --tonal-neutral-shade1: #959595;
  --tonal-ocean-shade1: #18556b;
  --tonal-ocean-shade2: #588fa1;
  --tonal-ocean-strong: #78abbc;
  --tonal-ocean-subdued: #00222f;
  --tonal-orange-shade1: #8b3301;
  --tonal-orange-shade2: #ea5601;
  --tonal-orange-strong: #f58647;
  --tonal-orange-subdued: #381500;
  --tonal-royal-shade1: #2245b0;
  --tonal-royal-shade2: #6081e9;
  --tonal-royal-strong: #89a1ef;
  --tonal-royal-subdued: #0c183e;
  --tonal-sand-shade1: #574d46;
  --tonal-sand-shade2: #948477;
  --tonal-sand-strong: #b4a090;
  --tonal-sand-subdued: #221e1b;
  --tonal-science-shade1: #004d9b;
  --tonal-science-shade2: #388adc;
  --tonal-science-strong: #65a8eb;
  --tonal-science-subdued: #001c38;
  --tonal-watercourse-shade1: #035a45;
  --tonal-watercourse-shade2: #079974;
  --tonal-watercourse-strong: #09b98d;
  --tonal-watercourse-subdued: #01241c;
  --elevation-moderate-sharp-axis: 0px;
  --elevation-moderate-sharp-blur: 9px;
  --elevation-moderate-sharp-color: #01151c4d;
  --elevation-moderate-sharp-projection: 6px;
  --elevation-moderate-sharp-projectionReversed: -6px;
  --elevation-moderate-soft-axis: 0px;
  --elevation-moderate-soft-blur: 34px;
  --elevation-moderate-soft-color: #01151c12;
  --elevation-moderate-soft-projection: 11px;
  --elevation-moderate-soft-projectionReversed: -11px;
  --elevation-strong-sharp-axis: 0px;
  --elevation-strong-sharp-Blur: 70px;
  --elevation-strong-sharp-Color: #01151c4d;
  --elevation-strong-sharp-projection: 46px;
  --elevation-strong-sharp-projectionReversed: -46px;
  --elevation-strong-soft-axis: 0px;
  --elevation-strong-soft-blur: 149px;
  --elevation-strong-soft-color: #01151c0f;
  --elevation-strong-soft-projection: 92px;
  --elevation-strong-soft-projectionReversed: -92px;
  --elevation-weak-crisp-axis: 0px;
  --elevation-weak-crisp-blur: 3px;
  --elevation-weak-crisp-color: #01151c4d;
  --elevation-weak-crisp-projection: 1px;
  --elevation-weak-crisp-projectionReversed: -1px;
  --elevation-weak-sharp-axis: 0px;
  --elevation-weak-sharp-blur: 3px;
  --elevation-weak-sharp-color: #01151c4d;
  --elevation-weak-sharp-projection: 2px;
  --elevation-weak-sharp-projectionReversed: -2px;
  --elevation-weak-soft-axis: 0px;
  --elevation-weak-soft-blur: 16px;
  --elevation-weak-soft-color: #01151c40;
  --elevation-weak-soft-projection: 4px;
  --elevation-weak-soft-projectionReversed: -4px;
  --dontUseDV-ct-branded-7: #cda8aa;
  --dontUseDV-ct-branded-9: #c7a7c7;
  --dontUseDV-ct-div-main-Cold: #86b8c8;
  --dontUseDV-ct-div-main-Middle-neutral: #37484f;
  --dontUseDV-ct-div-main-Warm: #f89963;
  --dontUseDV-ct-div-overlays-5-steps-1: #01151d00;
  --dontUseDV-ct-div-overlays-5-steps-2: #01151d80;
  --dontUseDV-ct-div-overlays-7-steps-1: #01151d00;
  --dontUseDV-ct-div-overlays-7-steps-2: #01151d59;
  --dontUseDV-ct-div-overlays-7-steps-3: #01151db3;
  --dontUseDV-ct-div-overlays-9-steps-1: #01151d00;
  --dontUseDV-ct-div-overlays-9-steps-2: #01151d40;
  --dontUseDV-ct-div-overlays-9-steps-3: #01151d80;
  --dontUseDV-ct-div-overlays-9-steps-4: #01151dbf;
  --dontUseDV-ct-div-overlays-11-steps-1: #01151d00;
  --dontUseDV-ct-div-overlays-11-steps-2: #01151d26;
  --dontUseDV-ct-div-overlays-11-steps-3: #01151d66;
  --dontUseDV-ct-div-overlays-11-steps-4: #01151d8c;
  --dontUseDV-ct-div-overlays-11-steps-5: #01151db3;
  --dontUseDV-highlight-noData: #4f4f4f;
  --dontUseDV-maps-general-land: #ffffff;
  --dontUseDV-maps-overlaySaturation: #091e258c;
  --dontUseDV-maps-special-transportation: #ffffff;
  --dontUseDV-sq-ctBranded-categorical1Sand: #c3ad9c;
  --dontUseDV-sq-ctBranded-categorical2Ocean: #86b8c8;
  --dontUseDV-sq-ctBranded-categorical4Lavender: #c7a7c7;
  --dontUseDV-sq-ctBranded-categorical5Forest: #93bb94;
  --dontUseDV-sq-ctBranded-categorical7Royal: #cda8aa;
  --dontUseDV-sq-ctBranded-categorical10Glacier: #a8b2b6;
  --dontUseDV-sq-ctExtended-extended1Orange: #f89963;
  --dontUseDV-sq-ctExtended-extended2Magenta: #f091d8;
  --dontUseDV-sq-ctExtended-extended3Crimson: #ed98ae;
  --dontUseDV-sq-ctExtended-extended4Watercourse: #0ac899;
  --dontUseDV-sq-ctExtended-extended5Lilac: #c8a1ee;
  --dontUseDV-sq-ctExtended-extended6Atoll: #0ac4c4;
  --dontUseDV-sq-ctExtended-extended7Violet: #da97f3;
  --dontUseDV-sq-ctExtended-extended8Royal: #9aaff1;
  --dontUseDV-sq-ctExtended-extended9Amber: #e3a600;
  --dontUseDV-sq-ctExtended-extended10Science: #79b6f2;
  --dontUseDV-sq-overlays-1: #01151d00;
  --dontUseDV-sq-overlays-2: #01151d1a;
  --dontUseDV-sq-overlays-3: #01151d33;
  --dontUseDV-sq-overlays-4: #01151d4d;
  --dontUseDV-sq-overlays-5: #01151d66;
  --dontUseDV-sq-overlays-6: #01151d80;
  --dontUseDV-sq-overlays-7: #01151d99;
  --dontUseDV-sq-overlays-8: #01151db3;
  --dontUseDV-sq-rag-ragDanger: #ed98ae;
  --dontUseDV-sq-rag-ragSuccess: #10cb6e;
  --dontUseDV-sq-rag-ragWarning: #f89963;
  --theme: Dark;
}

[data-brand="lasalle"] {
  --brand-jllLetters: #ffffff;
  --brand-jllRed: #de0614;
  --icon-ai-accent: #f820ff;
  --icon-ai-default: #f820ff;
  --icon-base-default: #ffffff;
  --icon-base-persistent: #000e2a;
  --icon-base-reversed: #000e2a;
  --icon-base-reversedPersistent: #ffffff;
  --icon-base-reversedSubdued: #b7c0c3;
  --icon-base-subdued: #b7c0c3;
  --icon-interaction-default: #2fa0c7;
  --icon-interaction-reversed: #3eb0d7;
  --icon-rag-danger: #e2718e;
  --icon-rag-dangerAccessible: #e2718e;
  --icon-rag-success: #10da76;
  --icon-rag-successAccessible: #10da76;
  --icon-rag-warning: #fcac7e;
  --icon-rag-warningAccessible: #fcac7e;
  --icon-utilities-disabled: #ffffff4d;
  --stroke-active: #ffffff;
  --stroke-ai-contrast: #f820ff;
  --stroke-ai-default: #f820ff;
  --stroke-ai-interaction: #f820ff;
  --stroke-ai-subdued: #f820ff;
  --stroke-asSurface: #0d0f13;
  --stroke-danger: #e2718e;
  --stroke-defaultAccessible: #6f7e9a;
  --stroke-disabled: #ffffff0d;
  --stroke-interaction: #2fa0c7;
  --stroke-interactionBright: #2191b8;
  --stroke-interactionSubdued: #006082;
  --stroke-onPicture: #ffffff4d;
  --stroke-secondary: #6f7e9a;
  --stroke-subdued: #384152;
  --stroke-success: #10da76;
  --stroke-warning: #fcac7e;
  --stroke-whisper: #272d38;
  --surface-accent-default: #0d327d;
  --surface-accent-secondary: #004cf01a;
  --surface-ai-default: #f820ff;
  --surface-ai-defaultAlpha: #f820ff;
  --surface-ai-interaction: #f820ff;
  --surface-ai-interactionAlpha: #f820ff;
  --surface-ai-overlays-hover: #f820ff;
  --surface-ai-overlays-press: #f820ff;
  --surface-ai-secondary: #f820ff;
  --surface-ai-secondaryAlpha: #f820ff;
  --surface-base-alternative: #00151d;
  --surface-base-default: #00102f;
  --surface-base-persistent: #001642;
  --surface-base-reversed: #ffffff;
  --surface-base-secondary: #001642;
  --surface-base-secondaryAlpha: #004cf01a;
  --surface-base-secondarySubdued: #001b50;
  --surface-base-secondarySubduedAlpha: #eaceed0a;
  --surface-interaction-active: #32a4ca0f;
  --surface-interaction-activeSecondary: #0a1e268c;
  --surface-interaction-bright: #2191b8;
  --surface-interaction-default: #2fa0c7;
  --surface-interaction-dialogue: #161920;
  --surface-interaction-dialogueSecondary: #1e232c;
  --surface-interaction-idle: #5b6984;
  --surface-interaction-idleActive: #12252d;
  --surface-interaction-idleSecondary: #01151d;
  --surface-interaction-subdued: #002a39;
  --surface-interaction-subduedAlpha: #002a39;
  --surface-rag-danger: #50081b;
  --surface-rag-dangerBright: #dc5b7c;
  --surface-rag-dangerSubdued: #b0133a26;
  --surface-rag-dangerSubduedAlpha: #b0133a26;
  --surface-rag-success: #042c27;
  --surface-rag-successBright: #0b9a59;
  --surface-rag-successSubdued: #077f4e26;
  --surface-rag-successSubduedAlpha: #077f4e26;
  --surface-rag-warning: #461900;
  --surface-rag-warningBright: #c14701;
  --surface-rag-warningSubdued: #9c390126;
  --surface-rag-warningSubduedAlpha: #9c390126;
  --surface-utilities-disabled: #ffffff08;
  --surface-utilities-disabledAlpha: #ffffff08;
  --surface-utilities-overlays-backdrop: #001e5abf;
  --surface-utilities-overlays-DataViz: #33444a4d;
  --surface-utilities-overlays-hover: #7a8fb81f;
  --surface-utilities-overlays-neutralHover: #ffffff0f;
  --surface-utilities-overlays-neutralPressed: #ffffff1a;
  --surface-utilities-overlays-off: #ffffff00;
  --surface-utilities-overlays-pressed: #7a8fb840;
  --surface-utilities-overlays-reversedHover: #001e5a80;
  --surface-utilities-overlays-reversedPressed: #001e5acc;
  --surface-utilities-skeleton: #001b50;
  --surface-utilities-zebra: #00246d;
  --surface-utilities-zebraSecondary: #002163;
  --text-ai-accent: #f820ff;
  --text-ai-default: #f820ff;
  --text-ai-subdued: #f820ff;
  --text-base-default: #ffffff;
  --text-base-persistent: #000e2a;
  --text-base-reversed: #000e2a;
  --text-base-reversedPersistent: #ffffff;
  --text-base-reversedSubdued: #b6c0d2;
  --text-base-subdued: #b6c0d2;
  --text-interaction-default: #2fa0c7;
  --text-interaction-reversed: #3eb0d7;
  --text-rag-danger: #e2718e;
  --text-rag-success: #10da76;
  --text-rag-successAccessible: #10da76;
  --text-rag-warning: #fcac7e;
  --text-rag-warningAccessible: #fcac7e;
  --text-utilities-disabled: #ffffff4d;
  --text-utilities-placeholder: #9ca9c2;
  --tonal-amber-shade1: #674a00;
  --tonal-amber-shade2: #af7e00;
  --tonal-amber-strong: #d39a00;
  --tonal-amber-subdued: #291d00;
  --tonal-atoll-shade1: #075858;
  --tonal-atoll-shade2: #0a9696;
  --tonal-atoll-strong: #0ab6b6;
  --tonal-atoll-subdued: #032323;
  --tonal-forest-shade1: #345734;
  --tonal-forest-shade2: #609261;
  --tonal-forest-strong: #81af81;
  --tonal-forest-subdued: #152215;
  --tonal-lavender-shade1: #694169;
  --tonal-lavender-shade2: #a677a6;
  --tonal-lavender-strong: #bd98bd;
  --tonal-lavender-subdued: #2a1929;
  --tonal-lilac-shade1: #6d19c1;
  --tonal-lilac-shade2: #a66cdf;
  --tonal-lilac-strong: #bd91ea;
  --tonal-lilac-subdued: #2d0a51;
  --tonal-magenta-shade2: #df4aba;
  --tonal-magenta-Shade-1: #960372;
  --tonal-magenta-Strong: #e664c6;
  --tonal-magenta-Subdued: #2c0021;
  --tonal-neutral-shade1: #959595;
  --tonal-ocean-shade1: #18556b;
  --tonal-ocean-shade2: #588fa1;
  --tonal-ocean-strong: #78abbc;
  --tonal-ocean-subdued: #00222f;
  --tonal-orange-shade1: #8b3301;
  --tonal-orange-shade2: #ea5601;
  --tonal-orange-strong: #f58647;
  --tonal-orange-subdued: #381500;
  --tonal-royal-shade1: #2245b0;
  --tonal-royal-shade2: #6081e9;
  --tonal-royal-strong: #89a1ef;
  --tonal-royal-subdued: #0c183e;
  --tonal-sand-shade1: #574d46;
  --tonal-sand-shade2: #948477;
  --tonal-sand-strong: #b4a090;
  --tonal-sand-subdued: #221e1b;
  --tonal-science-shade1: #004d9b;
  --tonal-science-shade2: #388adc;
  --tonal-science-strong: #65a8eb;
  --tonal-science-subdued: #001c38;
  --tonal-watercourse-shade1: #035a45;
  --tonal-watercourse-shade2: #079974;
  --tonal-watercourse-strong: #09b98d;
  --tonal-watercourse-subdued: #01241c;
  --elevation-moderate-sharp-axis: 0px;
  --elevation-moderate-sharp-blur: 9px;
  --elevation-moderate-sharp-color: #01151c4d;
  --elevation-moderate-sharp-projection: 6px;
  --elevation-moderate-sharp-projectionReversed: -6px;
  --elevation-moderate-soft-axis: 0px;
  --elevation-moderate-soft-blur: 34px;
  --elevation-moderate-soft-color: #01151c12;
  --elevation-moderate-soft-projection: 11px;
  --elevation-moderate-soft-projectionReversed: -11px;
  --elevation-strong-sharp-axis: 0px;
  --elevation-strong-sharp-Blur: 70px;
  --elevation-strong-sharp-Color: #01151c4d;
  --elevation-strong-sharp-projection: 46px;
  --elevation-strong-sharp-projectionReversed: -46px;
  --elevation-strong-soft-axis: 0px;
  --elevation-strong-soft-blur: 149px;
  --elevation-strong-soft-color: #01151c0f;
  --elevation-strong-soft-projection: 92px;
  --elevation-strong-soft-projectionReversed: -92px;
  --elevation-weak-crisp-axis: 0px;
  --elevation-weak-crisp-blur: 3px;
  --elevation-weak-crisp-color: #01151c4d;
  --elevation-weak-crisp-projection: 1px;
  --elevation-weak-crisp-projectionReversed: -1px;
  --elevation-weak-sharp-axis: 0px;
  --elevation-weak-sharp-blur: 3px;
  --elevation-weak-sharp-color: #01151c4d;
  --elevation-weak-sharp-projection: 2px;
  --elevation-weak-sharp-projectionReversed: -2px;
  --elevation-weak-soft-axis: 0px;
  --elevation-weak-soft-blur: 16px;
  --elevation-weak-soft-color: #01151c40;
  --elevation-weak-soft-projection: 4px;
  --elevation-weak-soft-projectionReversed: -4px;
  --dontUseDV-ct-branded-7: #cda8aa;
  --dontUseDV-ct-branded-9: #c7a7c7;
  --dontUseDV-ct-div-main-Cold: #86b8c8;
  --dontUseDV-ct-div-main-Middle-neutral: #37484f;
  --dontUseDV-ct-div-main-Warm: #f89963;
  --dontUseDV-ct-div-overlays-5-steps-1: #01151d00;
  --dontUseDV-ct-div-overlays-5-steps-2: #01151d80;
  --dontUseDV-ct-div-overlays-7-steps-1: #01151d00;
  --dontUseDV-ct-div-overlays-7-steps-2: #01151d59;
  --dontUseDV-ct-div-overlays-7-steps-3: #01151db3;
  --dontUseDV-ct-div-overlays-9-steps-1: #01151d00;
  --dontUseDV-ct-div-overlays-9-steps-2: #01151d40;
  --dontUseDV-ct-div-overlays-9-steps-3: #01151d80;
  --dontUseDV-ct-div-overlays-9-steps-4: #01151dbf;
  --dontUseDV-ct-div-overlays-11-steps-1: #01151d00;
  --dontUseDV-ct-div-overlays-11-steps-2: #01151d26;
  --dontUseDV-ct-div-overlays-11-steps-3: #01151d66;
  --dontUseDV-ct-div-overlays-11-steps-4: #01151d8c;
  --dontUseDV-ct-div-overlays-11-steps-5: #01151db3;
  --dontUseDV-highlight-noData: #4f4f4f;
  --dontUseDV-maps-general-land: #ffffff;
  --dontUseDV-maps-overlaySaturation: #091e258c;
  --dontUseDV-maps-special-transportation: #ffffff;
  --dontUseDV-sq-ctBranded-categorical1Sand: #c3ad9c;
  --dontUseDV-sq-ctBranded-categorical2Ocean: #86b8c8;
  --dontUseDV-sq-ctBranded-categorical4Lavender: #c7a7c7;
  --dontUseDV-sq-ctBranded-categorical5Forest: #93bb94;
  --dontUseDV-sq-ctBranded-categorical7Royal: #cda8aa;
  --dontUseDV-sq-ctBranded-categorical10Glacier: #a8b2b6;
  --dontUseDV-sq-ctExtended-extended1Orange: #f89963;
  --dontUseDV-sq-ctExtended-extended2Magenta: #f091d8;
  --dontUseDV-sq-ctExtended-extended3Crimson: #ed98ae;
  --dontUseDV-sq-ctExtended-extended4Watercourse: #0ac899;
  --dontUseDV-sq-ctExtended-extended5Lilac: #c8a1ee;
  --dontUseDV-sq-ctExtended-extended6Atoll: #0ac4c4;
  --dontUseDV-sq-ctExtended-extended7Violet: #da97f3;
  --dontUseDV-sq-ctExtended-extended8Royal: #9aaff1;
  --dontUseDV-sq-ctExtended-extended9Amber: #e3a600;
  --dontUseDV-sq-ctExtended-extended10Science: #79b6f2;
  --dontUseDV-sq-overlays-1: #01151d00;
  --dontUseDV-sq-overlays-2: #01151d1a;
  --dontUseDV-sq-overlays-3: #01151d33;
  --dontUseDV-sq-overlays-4: #01151d4d;
  --dontUseDV-sq-overlays-5: #01151d66;
  --dontUseDV-sq-overlays-6: #01151d80;
  --dontUseDV-sq-overlays-7: #01151d99;
  --dontUseDV-sq-overlays-8: #01151db3;
  --dontUseDV-sq-rag-ragDanger: #ed98ae;
  --dontUseDV-sq-rag-ragSuccess: #10cb6e;
  --dontUseDV-sq-rag-ragWarning: #f89963;
  --theme: "Lasalle - Dark";
}

[data-brand="lasalle"][data-theme="dark"] {
  --brand-jllLetters: #000000;
  --brand-jllRed: #de0614;
  --icon-ai-accent: #f820ff;
  --icon-ai-default: #f820ff;
  --icon-base-default: #001642;
  --icon-base-persistent: #000e2a;
  --icon-base-reversed: #ffffff;
  --icon-base-reversedPersistent: #ffffff;
  --icon-base-reversedSubdued: #b7c0c3;
  --icon-base-subdued: #637177;
  --icon-interaction-default: #09779e;
  --icon-interaction-reversed: #3eb0d7;
  --icon-rag-danger: #b0133a;
  --icon-rag-dangerAccessible: #8c0f2e;
  --icon-rag-success: #077f4e;
  --icon-rag-successAccessible: #046744;
  --icon-rag-warning: #c14701;
  --icon-rag-warningAccessible: #9c3901;
  --icon-utilities-disabled: #01151d59;
  --stroke-active: #000e2a;
  --stroke-ai-contrast: #f820ff;
  --stroke-ai-default: #f820ff;
  --stroke-ai-interaction: #f820ff;
  --stroke-ai-subdued: #f820ff;
  --stroke-asSurface: #ffffff;
  --stroke-danger: #b0133a;
  --stroke-defaultAccessible: #637177;
  --stroke-disabled: #ced5d880;
  --stroke-interaction: #09779e;
  --stroke-interactionBright: #2fa0c7;
  --stroke-interactionSubdued: #95c6d5;
  --stroke-onPicture: #ffffff4d;
  --stroke-secondary: #a8b2b6;
  --stroke-subdued: #dfe5e8;
  --stroke-success: #077f4e;
  --stroke-warning: #c14701;
  --stroke-whisper: #eaeff1;
  --surface-accent-default: #001e5a;
  --surface-accent-secondary: #0523761a;
  --surface-ai-default: #f820ff;
  --surface-ai-defaultAlpha: #f820ff;
  --surface-ai-interaction: #f820ff;
  --surface-ai-interactionAlpha: #f820ff;
  --surface-ai-overlays-hover: #f820ff;
  --surface-ai-overlays-press: #f820ff;
  --surface-ai-secondary: #f820ff;
  --surface-ai-secondaryAlpha: #f820ff;
  --surface-base-alternative: #f7ece3;
  --surface-base-default: #ffffff;
  --surface-base-persistent: #001642;
  --surface-base-reversed: #00102f;
  --surface-base-secondary: #e6e9f1;
  --surface-base-secondaryAlpha: #0523761a;
  --surface-base-secondarySubdued: #f2f4f8;
  --surface-base-secondarySubduedAlpha: #26488c0f;
  --surface-interaction-active: #09779e0f;
  --surface-interaction-activeSecondary: #ffffffd9;
  --surface-interaction-bright: #2fa0c7;
  --surface-interaction-default: #09779e;
  --surface-interaction-dialogue: #ffffff;
  --surface-interaction-dialogueSecondary: #5b6984;
  --surface-interaction-idle: #5b6984;
  --surface-interaction-idleActive: #f6f9fa;
  --surface-interaction-idleSecondary: #ffffff;
  --surface-interaction-subdued: #d2f4ff;
  --surface-interaction-subduedAlpha: #0fbfff21;
  --surface-rag-danger: #b0133a;
  --surface-rag-dangerBright: #e2718e;
  --surface-rag-dangerSubdued: #fef6f8;
  --surface-rag-dangerSubduedAlpha: #ff1a530d;
  --surface-rag-success: #077f4e;
  --surface-rag-successBright: #0dab60;
  --surface-rag-successSubdued: #ebfdf4;
  --surface-rag-successSubduedAlpha: #00ff7714;
  --surface-rag-warning: #c14701;
  --surface-rag-warningBright: #f06f25;
  --surface-rag-warningSubdued: #fff6f1;
  --surface-rag-warningSubduedAlpha: #ff61050d;
  --surface-utilities-disabled: #01151d05;
  --surface-utilities-disabledAlpha: #01151d05;
  --surface-utilities-overlays-backdrop: #33444a4d;
  --surface-utilities-overlays-DataViz: #33444a00;
  --surface-utilities-overlays-hover: #7a8fb812;
  --surface-utilities-overlays-neutralHover: #00000012;
  --surface-utilities-overlays-neutralPressed: #0000001c;
  --surface-utilities-overlays-off: #ffffff00;
  --surface-utilities-overlays-pressed: #7a8fb826;
  --surface-utilities-overlays-reversedHover: #ccd4e433;
  --surface-utilities-overlays-reversedPressed: #ccd4e44d;
  --surface-utilities-skeleton: #e6e9f1;
  --surface-utilities-zebra: #f6f9fa;
  --surface-utilities-zebraSecondary: #415158;
  --text-ai-accent: #f820ff;
  --text-ai-default: #f820ff;
  --text-ai-subdued: #f820ff;
  --text-base-default: #000e2a;
  --text-base-persistent: #000e2a;
  --text-base-reversed: #ffffff;
  --text-base-reversedPersistent: #ffffff;
  --text-base-reversedSubdued: #b6c0d2;
  --text-base-subdued: #535f77;
  --text-interaction-default: #09779e;
  --text-interaction-reversed: #3eb0d7;
  --text-rag-danger: #b0133a;
  --text-rag-success: #077f4e;
  --text-rag-successAccessible: #046744;
  --text-rag-warning: #c14701;
  --text-rag-warningAccessible: #9c3901;
  --text-utilities-disabled: #01151d59;
  --text-utilities-placeholder: #7586aa;
  --tonal-amber-shade1: #ffce1b;
  --tonal-amber-shade2: #c08b00;
  --tonal-amber-strong: #674a00;
  --tonal-amber-subdued: #fff9da;
  --tonal-atoll-shade1: #54e9e9;
  --tonal-atoll-shade2: #0aa5a5;
  --tonal-atoll-strong: #075858;
  --tonal-atoll-subdued: #c8f8f8;
  --tonal-forest-shade1: #c4dac4;
  --tonal-forest-shade2: #6da16d;
  --tonal-forest-strong: #345734;
  --tonal-forest-subdued: #e9f2e8;
  --tonal-lavender-shade1: #e0cfe0;
  --tonal-lavender-shade2: #b187b1;
  --tonal-lavender-strong: #694169;
  --tonal-lavender-subdued: #f3ecf3;
  --tonal-lilac-shade1: #e2cbf8;
  --tonal-lilac-shade2: #b17ee5;
  --tonal-lilac-strong: #6d19c1;
  --tonal-lilac-subdued: #f3ebfc;
  --tonal-magenta-shade2: #e664c6;
  --tonal-magenta-Shade-1: #fcc3ed;
  --tonal-magenta-Strong: #960372;
  --tonal-magenta-Subdued: #ffe8f9;
  --tonal-neutral-shade1: #d4d4d4;
  --tonal-ocean-shade1: #aedcea;
  --tonal-ocean-shade2: #6ba0b1;
  --tonal-ocean-strong: #18556b;
  --tonal-ocean-subdued: #e4f6fb;
  --tonal-orange-shade1: #ffc8a9;
  --tonal-orange-shade2: #f06f25;
  --tonal-orange-strong: #8b3301;
  --tonal-orange-subdued: #ffebdf;
  --tonal-royal-shade1: #c8d3f8;
  --tonal-royal-shade2: #7491ec;
  --tonal-royal-strong: #2245b0;
  --tonal-royal-subdued: #eaeefc;
  --tonal-sand-shade1: #e9d0bb;
  --tonal-sand-shade2: #a49183;
  --tonal-sand-strong: #574d46;
  --tonal-sand-subdued: #f7ece3;
  --tonal-science-shade1: #b1d8ff;
  --tonal-science-shade2: #4f99e4;
  --tonal-science-strong: #004d9b;
  --tonal-science-subdued: #e2f1ff;
  --tonal-watercourse-shade1: #55ecc6;
  --tonal-watercourse-shade2: #08a981;
  --tonal-watercourse-strong: #035a45;
  --tonal-watercourse-subdued: #c9f9ed;
  --elevation-moderate-sharp-axis: 0px;
  --elevation-moderate-sharp-blur: 9px;
  --elevation-moderate-sharp-color: #4b5b611f;
  --elevation-moderate-sharp-projection: 6px;
  --elevation-moderate-sharp-projectionReversed: -6px;
  --elevation-moderate-soft-axis: 0px;
  --elevation-moderate-soft-blur: 34px;
  --elevation-moderate-soft-color: #01151c12;
  --elevation-moderate-soft-projection: 11px;
  --elevation-moderate-soft-projectionReversed: -11px;
  --elevation-strong-sharp-axis: 0px;
  --elevation-strong-sharp-Blur: 70px;
  --elevation-strong-sharp-Color: #4b5b610f;
  --elevation-strong-sharp-projection: 46px;
  --elevation-strong-sharp-projectionReversed: -46px;
  --elevation-strong-soft-axis: 0px;
  --elevation-strong-soft-blur: 149px;
  --elevation-strong-soft-color: #01151c0f;
  --elevation-strong-soft-projection: 92px;
  --elevation-strong-soft-projectionReversed: -92px;
  --elevation-weak-crisp-axis: 0px;
  --elevation-weak-crisp-blur: 3px;
  --elevation-weak-crisp-color: #4b5b611f;
  --elevation-weak-crisp-projection: 1px;
  --elevation-weak-crisp-projectionReversed: -1px;
  --elevation-weak-sharp-axis: 0px;
  --elevation-weak-sharp-blur: 3px;
  --elevation-weak-sharp-color: #4b5b611f;
  --elevation-weak-sharp-projection: 2px;
  --elevation-weak-sharp-projectionReversed: -2px;
  --elevation-weak-soft-axis: 0px;
  --elevation-weak-soft-blur: 16px;
  --elevation-weak-soft-color: #01151c14;
  --elevation-weak-soft-projection: 4px;
  --elevation-weak-soft-projectionReversed: -4px;
  --dontUseDV-ct-branded-7: #b2777a;
  --dontUseDV-ct-branded-9: #a677a6;
  --dontUseDV-ct-div-main-Cold: #236075;
  --dontUseDV-ct-div-main-Middle-neutral: #dfe5e8;
  --dontUseDV-ct-div-main-Warm: #9c3901;
  --dontUseDV-ct-div-overlays-5-steps-1: #ffffff00;
  --dontUseDV-ct-div-overlays-5-steps-2: #ffffff80;
  --dontUseDV-ct-div-overlays-7-steps-1: #ffffff00;
  --dontUseDV-ct-div-overlays-7-steps-2: #ffffff59;
  --dontUseDV-ct-div-overlays-7-steps-3: #ffffffb3;
  --dontUseDV-ct-div-overlays-9-steps-1: #ffffff00;
  --dontUseDV-ct-div-overlays-9-steps-2: #ffffff40;
  --dontUseDV-ct-div-overlays-9-steps-3: #ffffff80;
  --dontUseDV-ct-div-overlays-9-steps-4: #ffffffbf;
  --dontUseDV-ct-div-overlays-11-steps-1: #ffffff00;
  --dontUseDV-ct-div-overlays-11-steps-2: #ffffff26;
  --dontUseDV-ct-div-overlays-11-steps-3: #ffffff66;
  --dontUseDV-ct-div-overlays-11-steps-4: #ffffff8c;
  --dontUseDV-ct-div-overlays-11-steps-5: #ffffffb3;
  --dontUseDV-highlight-noData: #d4d4d4;
  --dontUseDV-maps-general-land: #ffffff;
  --dontUseDV-maps-overlaySaturation: #f6f9fa8c;
  --dontUseDV-maps-special-transportation: #ffffff;
  --dontUseDV-sq-ctBranded-categorical1Sand: #62574f;
  --dontUseDV-sq-ctBranded-categorical2Ocean: #236075;
  --dontUseDV-sq-ctBranded-categorical4Lavender: #774977;
  --dontUseDV-sq-ctBranded-categorical5Forest: #3b623b;
  --dontUseDV-sq-ctBranded-categorical7Royal: #8c4247;
  --dontUseDV-sq-ctBranded-categorical10Glacier: #4c5b62;
  --dontUseDV-sq-ctExtended-extended1Orange: #9c3901;
  --dontUseDV-sq-ctExtended-extended2Magenta: #a70780;
  --dontUseDV-sq-ctExtended-extended3Crimson: #b0133a;
  --dontUseDV-sq-ctExtended-extended4Watercourse: #03654d;
  --dontUseDV-sq-ctExtended-extended5Lilac: #7a27cc;
  --dontUseDV-sq-ctExtended-extended6Atoll: #086464;
  --dontUseDV-sq-ctExtended-extended7Violet: #910ebd;
  --dontUseDV-sq-ctExtended-extended8Royal: #274ec7;
  --dontUseDV-sq-ctExtended-extended9Amber: #745300;
  --dontUseDV-sq-ctExtended-extended10Science: #0057af;
  --dontUseDV-sq-overlays-1: #ffffff00;
  --dontUseDV-sq-overlays-2: #ffffff1a;
  --dontUseDV-sq-overlays-3: #ffffff33;
  --dontUseDV-sq-overlays-4: #ffffff4d;
  --dontUseDV-sq-overlays-5: #ffffff66;
  --dontUseDV-sq-overlays-6: #ffffff80;
  --dontUseDV-sq-overlays-7: #ffffff99;
  --dontUseDV-sq-overlays-8: #ffffffb3;
  --dontUseDV-sq-rag-ragDanger: #b0133a;
  --dontUseDV-sq-rag-ragSuccess: #046744;
  --dontUseDV-sq-rag-ragWarning: #9c3901;
  --theme: "Lasalle - Light";
}

