/* Themes - Semantic colors with 4 theme modes */

/* JLL Light */
:root, [data-theme="light"], [data-brand="jll"] {
  --dontUseDV-ct-branded-7: var(--clay-1000);
  --dontUseDV-ct-branded-9: var(--lavender-1000);
  --dontUseDV-ct-div-main-Cold: var(--ocean-1400);
  --dontUseDV-ct-div-main-Middle-neutral: var(--glacier-300);
  --dontUseDV-ct-div-main-Warm: var(--orange-1400);
  --dontUseDV-ct-div-overlays-11-steps-1: rgba(255, 255, 255, 0);
  --dontUseDV-ct-div-overlays-11-steps-2: rgba(255, 255, 255, 0.15);
  --dontUseDV-ct-div-overlays-11-steps-3: rgba(255, 255, 255, 0.4);
  --dontUseDV-ct-div-overlays-11-steps-4: rgba(255, 255, 255, 0.55);
  --dontUseDV-ct-div-overlays-11-steps-5: rgba(255, 255, 255, 0.7);
  --dontUseDV-ct-div-overlays-5-steps-1: rgba(255, 255, 255, 0);
  --dontUseDV-ct-div-overlays-5-steps-2: rgba(255, 255, 255, 0.5);
  --dontUseDV-ct-div-overlays-7-steps-1: rgba(255, 255, 255, 0);
  --dontUseDV-ct-div-overlays-7-steps-2: rgba(255, 255, 255, 0.35);
  --dontUseDV-ct-div-overlays-7-steps-3: rgba(255, 255, 255, 0.7);
  --dontUseDV-ct-div-overlays-9-steps-1: rgba(255, 255, 255, 0);
  --dontUseDV-ct-div-overlays-9-steps-2: rgba(255, 255, 255, 0.25);
  --dontUseDV-ct-div-overlays-9-steps-3: rgba(255, 255, 255, 0.5);
  --dontUseDV-ct-div-overlays-9-steps-4: rgba(255, 255, 255, 0.75);
  --dontUseDV-highlight-noData: var(--grayscale-400);
  --dontUseDV-maps-general-land: rgb(255, 255, 255);
  --dontUseDV-maps-overlaySaturation: rgba(246, 249, 250, 0.55);
  --dontUseDV-maps-special-transportation: rgb(255, 255, 255);
  --dontUseDV-sq-ctBranded-categorical10Glacier: var(--glacier-1400);
  --dontUseDV-sq-ctBranded-categorical1Sand: var(--sand-1400);
  --dontUseDV-sq-ctBranded-categorical2Ocean: var(--ocean-1400);
  --dontUseDV-sq-ctBranded-categorical4Lavender: var(--lavender-1400);
  --dontUseDV-sq-ctBranded-categorical5Forest: var(--forest-1400);
  --dontUseDV-sq-ctBranded-categorical7Royal: var(--clay-1400);
  --dontUseDV-sq-ctExtended-extended10Science: var(--science-1400);
  --dontUseDV-sq-ctExtended-extended1Orange: var(--orange-1400);
  --dontUseDV-sq-ctExtended-extended2Magenta: var(--magenta-1400);
  --dontUseDV-sq-ctExtended-extended3Crimson: var(--crimson-1400);
  --dontUseDV-sq-ctExtended-extended4Watercourse: var(--watercourse-1400);
  --dontUseDV-sq-ctExtended-extended5Lilac: var(--lilac-1400);
  --dontUseDV-sq-ctExtended-extended6Atoll: var(--atoll-1400);
  --dontUseDV-sq-ctExtended-extended7Violet: var(--violet-1400);
  --dontUseDV-sq-ctExtended-extended8Royal: var(--royal-1400);
  --dontUseDV-sq-ctExtended-extended9Amber: var(--amber-1400);
  --dontUseDV-sq-overlays-1: rgba(255, 255, 255, 0);
  --dontUseDV-sq-overlays-2: rgba(255, 255, 255, 0.1);
  --dontUseDV-sq-overlays-3: rgba(255, 255, 255, 0.2);
  --dontUseDV-sq-overlays-4: rgba(255, 255, 255, 0.3);
  --dontUseDV-sq-overlays-5: rgba(255, 255, 255, 0.4);
  --dontUseDV-sq-overlays-6: rgba(255, 255, 255, 0.5);
  --dontUseDV-sq-overlays-7: rgba(255, 255, 255, 0.6);
  --dontUseDV-sq-overlays-8: rgba(255, 255, 255, 0.7);
  --dontUseDV-sq-rag-ragDanger: var(--crimson-1400);
  --dontUseDV-sq-rag-ragSuccess: var(--salem-1400);
  --dontUseDV-sq-rag-ragWarning: var(--orange-1400);
  --brand-jllLetters: var(--basics-black);
  --brand-jllRed: var(--jllRed-1200);
  --elevation-moderate-sharp-axis: var(--elevationLevels-e4-sharp-axis);
  --elevation-moderate-sharp-blur: var(--elevationLevels-e4-sharp-blur);
  --elevation-moderate-sharp-color: var(--elevationLevels-e1-sharp-color);
  --elevation-moderate-sharp-projection: var(--elevationLevels-e4-sharp-projection);
  --elevation-moderate-sharp-projectionReversed: var(--elevationLevels-e4-sharp-projectionReversed);
  --elevation-moderate-soft-axis: var(--elevationLevels-e4-soft-axis);
  --elevation-moderate-soft-blur: var(--elevationLevels-e4-soft-blur);
  --elevation-moderate-soft-color: var(--elevationLevels-e4-soft-color);
  --elevation-moderate-soft-projection: var(--elevationLevels-e4-soft-projection);
  --elevation-moderate-soft-projectionReversed: var(--elevationLevels-e4-soft-projectionReversed);
  --elevation-strong-sharp-axis: var(--elevationLevels-e10-sharp-axis);
  --elevation-strong-sharp-Blur: var(--elevationLevels-e10-sharp-blur);
  --elevation-strong-sharp-Color: var(--elevationLevels-e10-sharp-color);
  --elevation-strong-sharp-projection: var(--elevationLevels-e10-sharp-projection);
  --elevation-strong-sharp-projectionReversed: var(--elevationLevels-e10-sharp-projectionReversed);
  --elevation-strong-soft-axis: var(--elevationLevels-e10-soft-axis);
  --elevation-strong-soft-blur: var(--elevationLevels-e10-soft-blur);
  --elevation-strong-soft-color: var(--elevationLevels-e10-soft-color);
  --elevation-strong-soft-projection: var(--elevationLevels-e10-soft-projection);
  --elevation-strong-soft-projectionReversed: var(--elevationLevels-e10-soft-projectionReversed);
  --elevation-weak-crisp-axis: var(--elevationLevels-e1-crisp-axis);
  --elevation-weak-crisp-blur: var(--elevationLevels-e1-crisp-blur);
  --elevation-weak-crisp-color: var(--elevationLevels-e1-crisp-color);
  --elevation-weak-crisp-projection: var(--elevationLevels-e1-crisp-projection);
  --elevation-weak-crisp-projectionReversed: var(--elevationLevels-e1-crisp-projectionReversed);
  --elevation-weak-sharp-axis: var(--elevationLevels-e1-sharp-axis);
  --elevation-weak-sharp-blur: var(--elevationLevels-e1-sharp-blur);
  --elevation-weak-sharp-color: var(--elevationLevels-e1-sharp-color);
  --elevation-weak-sharp-projection: var(--elevationLevels-e1-sharp-projection);
  --elevation-weak-sharp-projectionReversed: var(--elevationLevels-e1-sharp-projectionReversed);
  --elevation-weak-soft-axis: var(--elevationLevels-e1-soft-axis);
  --elevation-weak-soft-blur: var(--elevationLevels-e1-soft-blur);
  --elevation-weak-soft-color: var(--elevationLevels-e1-soft-color);
  --elevation-weak-soft-projection: var(--elevationLevels-e1-soft-projection);
  --elevation-weak-soft-projectionReversed: var(--elevationLevels-e1-soft-projectionReversed);
  --icon-ai-accent: var(--glacier-1600);
  --icon-ai-default: var(--royal-1500);
  --icon-base-default: var(--glacier-2400);
  --icon-base-persistent: var(--glacier-2400);
  --icon-base-reversed: var(--basics-white);
  --icon-base-reversedPersistent: var(--basics-white);
  --icon-base-reversedSubdued: var(--glacier-600);
  --icon-base-subdued: var(--glacier-1200);
  --icon-interaction-default: var(--bahama-1200);
  --icon-interaction-reversed: var(--bahama-800);
  --icon-rag-danger: var(--crimson-1400);
  --icon-rag-dangerAccessible: var(--crimson-1600);
  --icon-rag-success: var(--salem-1200);
  --icon-rag-successAccessible: var(--salem-1400);
  --icon-rag-warning: var(--orange-1200);
  --icon-rag-warningAccessible: var(--orange-1400);
  --icon-utilities-disabled: rgba(1, 21, 29, 0.35);
  --stroke-active: var(--glacier-2400);
  --stroke-ai-contrast: rgba(0, 0, 0, 0.06);
  --stroke-ai-default: var(--royal-900);
  --stroke-ai-interaction: var(--royal-500);
  --stroke-ai-subdued: var(--royal-400);
  --stroke-asSurface: var(--basics-white);
  --stroke-danger: var(--crimson-1400);
  --stroke-default: var(--glacier-400);
  --stroke-defaultAccessible: var(--glacier-1200);
  --stroke-disabled: rgba(206, 213, 216, 0.5);
  --stroke-interaction: var(--bahama-1200);
  --stroke-interactionBright: var(--bahama-900);
  --stroke-interactionSubdued: var(--ocean-600);
  --stroke-onPicture: rgba(255, 255, 255, 0.3);
  --stroke-secondary: var(--glacier-700);
  --stroke-subdued: var(--glacier-300);
  --stroke-success: var(--salem-1200);
  --stroke-warning: var(--orange-1200);
  --stroke-whisper: var(--glacier-200);
  --surface-accent-default: var(--glacier-2400);
  --surface-accent-secondary: var(--glacier-300);
  --surface-ai-default: var(--royal-200);
  --surface-ai-defaultAlpha: rgba(22, 66, 223, 0.09);
  --surface-ai-interaction: var(--royal-500);
  --surface-ai-interactionAlpha: rgba(5, 56, 225, 0.26);
  --surface-ai-overlays-hover: rgba(34, 69, 176, 0.07);
  --surface-ai-overlays-press: rgba(34, 69, 176, 0.15);
  --surface-ai-secondary: var(--royal-100);
  --surface-ai-secondaryAlpha: rgba(55, 82, 230, 0.04);
  --surface-base-alternative: var(--sand-200);
  --surface-base-default: var(--basics-white);
  --surface-base-persistent: var(--glacier-2400);
  --surface-base-reversed: var(--glacier-2300);
  --surface-base-secondary: var(--glacier-200);
  --surface-base-secondaryAlpha: rgba(30, 105, 118, 0.08);
  --surface-base-secondarySubdued: var(--glacier-100);
  --surface-base-secondarySubduedAlpha: rgba(29, 104, 129, 0.04);
  --surface-interaction-active: rgba(9, 119, 158, 0.06);
  --surface-interaction-activeSecondary: rgba(255, 255, 255, 0.85);
  --surface-interaction-bright: var(--bahama-900);
  --surface-interaction-default: var(--bahama-1200);
  --surface-interaction-dialogue: var(--basics-white);
  --surface-interaction-dialogueSecondary: var(--glacier-1400);
  --surface-interaction-idle: var(--glacier-1400);
  --surface-interaction-idleActive: var(--glacier-100);
  --surface-interaction-idleSecondary: var(--basics-white);
  --surface-interaction-subdued: var(--bahama-200);
  --surface-interaction-subduedAlpha: rgba(15, 191, 255, 0.13);
  --surface-rag-danger: var(--crimson-1400);
  --surface-rag-dangerBright: var(--crimson-900);
  --surface-rag-dangerSubdued: var(--crimson-100);
  --surface-rag-dangerSubduedAlpha: rgba(255, 26, 83, 0.05);
  --surface-rag-success: var(--salem-1200);
  --surface-rag-successBright: var(--salem-900);
  --surface-rag-successSubdued: var(--salem-100);
  --surface-rag-successSubduedAlpha: rgba(0, 255, 119, 0.08);
  --surface-rag-warning: var(--orange-1200);
  --surface-rag-warningBright: var(--orange-900);
  --surface-rag-warningSubdued: var(--orange-100);
  --surface-rag-warningSubduedAlpha: rgba(255, 97, 5, 0.05);
  --surface-utilities-disabled: rgba(1, 21, 29, 0.02);
  --surface-utilities-disabledAlpha: rgba(1, 21, 29, 0.02);
  --surface-utilities-overlays-backdrop: rgba(51, 68, 74, 0.3);
  --surface-utilities-overlays-DataViz: rgba(51, 68, 74, 0);
  --surface-utilities-overlays-hover: rgba(9, 119, 158, 0.07);
  --surface-utilities-overlays-neutralHover: rgba(0, 0, 0, 0.07);
  --surface-utilities-overlays-neutralPressed: rgba(0, 0, 0, 0.11);
  --surface-utilities-overlays-off: rgba(255, 255, 255, 0);
  --surface-utilities-overlays-pressed: rgba(9, 119, 158, 0.15);
  --surface-utilities-overlays-reversedHover: rgba(134, 225, 255, 0.2);
  --surface-utilities-overlays-reversedPressed: rgba(134, 225, 255, 0.3);
  --surface-utilities-skeleton: var(--glacier-300);
  --surface-utilities-zebra: var(--glacier-100);
  --surface-utilities-zebraSecondary: var(--glacier-1500);
  --text-ai-accent: var(--glacier-1600);
  --text-ai-default: var(--royal-1500);
  --text-ai-subdued: rgba(34, 69, 176, 0.8);
  --text-base-default: var(--glacier-2400);
  --text-base-persistent: var(--glacier-2400);
  --text-base-reversed: var(--basics-white);
  --text-base-reversedPersistent: var(--basics-white);
  --text-base-reversedSubdued: var(--glacier-600);
  --text-base-subdued: var(--glacier-1300);
  --text-interaction-default: var(--bahama-1200);
  --text-interaction-reversed: var(--bahama-800);
  --text-rag-danger: var(--crimson-1400);
  --text-rag-dangerAccessible: var(--crimson-1600);
  --text-rag-success: var(--salem-1200);
  --text-rag-successAccessible: var(--salem-1400);
  --text-rag-warning: var(--orange-1200);
  --text-rag-warningAccessible: var(--orange-1400);
  --text-utilities-disabled: rgba(1, 21, 29, 0.35);
  --text-utilities-placeholder: var(--glacier-1200);
  --theme: Light;
  --tonal-amber-shade1: var(--amber-400);
  --tonal-amber-shade2: var(--amber-900);
  --tonal-amber-strong: var(--amber-1500);
  --tonal-amber-subdued: var(--amber-100);
  --tonal-atoll-shade1: var(--atoll-400);
  --tonal-atoll-shade2: var(--atoll-900);
  --tonal-atoll-strong: var(--atoll-1500);
  --tonal-atoll-subdued: var(--atoll-200);
  --tonal-forest-shade1: var(--forest-400);
  --tonal-forest-shade2: var(--forest-900);
  --tonal-forest-strong: var(--forest-1500);
  --tonal-forest-subdued: var(--forest-200);
  --tonal-lavender-shade1: var(--lavender-400);
  --tonal-lavender-shade2: var(--lavender-900);
  --tonal-lavender-strong: var(--lavender-1500);
  --tonal-lavender-subdued: var(--lavender-200);
  --tonal-lilac-shade1: var(--lilac-400);
  --tonal-lilac-shade2: var(--lilac-900);
  --tonal-lilac-strong: var(--lilac-1500);
  --tonal-lilac-subdued: var(--lilac-200);
  --tonal-magenta-Shade-1: var(--magenta-400);
  --tonal-magenta-shade2: var(--magenta-900);
  --tonal-magenta-Strong: var(--magenta-1500);
  --tonal-magenta-Subdued: var(--magenta-200);
  --tonal-neutral-shade1: var(--grayscale-400);
  --tonal-ocean-shade1: var(--ocean-400);
  --tonal-ocean-shade2: var(--ocean-900);
  --tonal-ocean-strong: var(--ocean-1500);
  --tonal-ocean-subdued: var(--ocean-200);
  --tonal-orange-shade1: var(--orange-400);
  --tonal-orange-shade2: var(--orange-900);
  --tonal-orange-strong: var(--orange-1500);
  --tonal-orange-subdued: var(--orange-200);
  --tonal-royal-shade1: var(--royal-400);
  --tonal-royal-shade2: var(--royal-900);
  --tonal-royal-strong: var(--royal-1500);
  --tonal-royal-subdued: var(--royal-200);
  --tonal-sand-shade1: var(--sand-400);
  --tonal-sand-shade2: var(--sand-900);
  --tonal-sand-strong: var(--sand-1500);
  --tonal-sand-subdued: var(--sand-200);
  --tonal-science-shade1: var(--science-400);
  --tonal-science-shade2: var(--science-900);
  --tonal-science-strong: var(--science-1500);
  --tonal-science-subdued: var(--science-200);
  --tonal-watercourse-shade1: var(--watercourse-400);
  --tonal-watercourse-shade2: var(--watercourse-900);
  --tonal-watercourse-strong: var(--watercourse-1500);
  --tonal-watercourse-subdued: var(--watercourse-200);
}

/* JLL Dark */
[data-theme="dark"], [data-brand="jll"] {
  --dontUseDV-ct-branded-7: var(--clay-700);
  --dontUseDV-ct-branded-9: var(--lavender-700);
  --dontUseDV-ct-div-main-Cold: var(--ocean-700);
  --dontUseDV-ct-div-main-Middle-neutral: var(--glacier-1600);
  --dontUseDV-ct-div-main-Warm: var(--orange-700);
  --dontUseDV-ct-div-overlays-11-steps-1: rgba(1, 21, 29, 0);
  --dontUseDV-ct-div-overlays-11-steps-2: rgba(1, 21, 29, 0.15);
  --dontUseDV-ct-div-overlays-11-steps-3: rgba(1, 21, 29, 0.4);
  --dontUseDV-ct-div-overlays-11-steps-4: rgba(1, 21, 29, 0.55);
  --dontUseDV-ct-div-overlays-11-steps-5: rgba(1, 21, 29, 0.7);
  --dontUseDV-ct-div-overlays-5-steps-1: rgba(1, 21, 29, 0);
  --dontUseDV-ct-div-overlays-5-steps-2: rgba(1, 21, 29, 0.5);
  --dontUseDV-ct-div-overlays-7-steps-1: rgba(1, 21, 29, 0);
  --dontUseDV-ct-div-overlays-7-steps-2: rgba(1, 21, 29, 0.35);
  --dontUseDV-ct-div-overlays-7-steps-3: rgba(1, 21, 29, 0.7);
  --dontUseDV-ct-div-overlays-9-steps-1: rgba(1, 21, 29, 0);
  --dontUseDV-ct-div-overlays-9-steps-2: rgba(1, 21, 29, 0.25);
  --dontUseDV-ct-div-overlays-9-steps-3: rgba(1, 21, 29, 0.5);
  --dontUseDV-ct-div-overlays-9-steps-4: rgba(1, 21, 29, 0.75);
  --dontUseDV-highlight-noData: var(--grayscale-1500);
  --dontUseDV-maps-general-land: rgb(255, 255, 255);
  --dontUseDV-maps-overlaySaturation: rgba(9, 30, 37, 0.55);
  --dontUseDV-maps-special-transportation: rgb(255, 255, 255);
  --dontUseDV-sq-ctBranded-categorical10Glacier: var(--glacier-700);
  --dontUseDV-sq-ctBranded-categorical1Sand: var(--sand-700);
  --dontUseDV-sq-ctBranded-categorical2Ocean: var(--ocean-700);
  --dontUseDV-sq-ctBranded-categorical4Lavender: var(--lavender-700);
  --dontUseDV-sq-ctBranded-categorical5Forest: var(--forest-700);
  --dontUseDV-sq-ctBranded-categorical7Royal: var(--clay-700);
  --dontUseDV-sq-ctExtended-extended10Science: var(--science-700);
  --dontUseDV-sq-ctExtended-extended1Orange: var(--orange-700);
  --dontUseDV-sq-ctExtended-extended2Magenta: var(--magenta-700);
  --dontUseDV-sq-ctExtended-extended3Crimson: var(--crimson-700);
  --dontUseDV-sq-ctExtended-extended4Watercourse: var(--watercourse-700);
  --dontUseDV-sq-ctExtended-extended5Lilac: var(--lilac-700);
  --dontUseDV-sq-ctExtended-extended6Atoll: var(--atoll-700);
  --dontUseDV-sq-ctExtended-extended7Violet: var(--violet-700);
  --dontUseDV-sq-ctExtended-extended8Royal: var(--royal-700);
  --dontUseDV-sq-ctExtended-extended9Amber: var(--amber-700);
  --dontUseDV-sq-overlays-1: rgba(1, 21, 29, 0);
  --dontUseDV-sq-overlays-2: rgba(1, 21, 29, 0.1);
  --dontUseDV-sq-overlays-3: rgba(1, 21, 29, 0.2);
  --dontUseDV-sq-overlays-4: rgba(1, 21, 29, 0.3);
  --dontUseDV-sq-overlays-5: rgba(1, 21, 29, 0.4);
  --dontUseDV-sq-overlays-6: rgba(1, 21, 29, 0.5);
  --dontUseDV-sq-overlays-7: rgba(1, 21, 29, 0.6);
  --dontUseDV-sq-overlays-8: rgba(1, 21, 29, 0.7);
  --dontUseDV-sq-rag-ragDanger: var(--crimson-700);
  --dontUseDV-sq-rag-ragSuccess: var(--salem-700);
  --dontUseDV-sq-rag-ragWarning: var(--orange-700);
  --brand-jllLetters: var(--basics-white);
  --brand-jllRed: var(--jllRed-1200);
  --elevation-moderate-sharp-axis: var(--elevationLevels-e4-sharp-axis);
  --elevation-moderate-sharp-blur: var(--elevationLevels-e4-sharp-blur);
  --elevation-moderate-sharp-color: rgba(1, 21, 28, 0.3);
  --elevation-moderate-sharp-projection: var(--elevationLevels-e4-sharp-projection);
  --elevation-moderate-sharp-projectionReversed: var(--elevationLevels-e4-sharp-projectionReversed);
  --elevation-moderate-soft-axis: var(--elevationLevels-e4-soft-axis);
  --elevation-moderate-soft-blur: var(--elevationLevels-e4-soft-blur);
  --elevation-moderate-soft-color: var(--elevationLevels-e4-soft-color);
  --elevation-moderate-soft-projection: var(--elevationLevels-e4-soft-projection);
  --elevation-moderate-soft-projectionReversed: var(--elevationLevels-e4-soft-projectionReversed);
  --elevation-strong-sharp-axis: var(--elevationLevels-e10-sharp-axis);
  --elevation-strong-sharp-Blur: var(--elevationLevels-e10-sharp-blur);
  --elevation-strong-sharp-Color: rgba(1, 21, 28, 0.3);
  --elevation-strong-sharp-projection: var(--elevationLevels-e10-sharp-projection);
  --elevation-strong-sharp-projectionReversed: var(--elevationLevels-e10-sharp-projectionReversed);
  --elevation-strong-soft-axis: var(--elevationLevels-e10-soft-axis);
  --elevation-strong-soft-blur: var(--elevationLevels-e10-soft-blur);
  --elevation-strong-soft-color: var(--elevationLevels-e10-soft-color);
  --elevation-strong-soft-projection: var(--elevationLevels-e10-soft-projection);
  --elevation-strong-soft-projectionReversed: var(--elevationLevels-e10-soft-projectionReversed);
  --elevation-weak-crisp-axis: var(--elevationLevels-e1-crisp-axis);
  --elevation-weak-crisp-blur: var(--elevationLevels-e1-crisp-blur);
  --elevation-weak-crisp-color: rgba(1, 21, 28, 0.3);
  --elevation-weak-crisp-projection: var(--elevationLevels-e1-crisp-projection);
  --elevation-weak-crisp-projectionReversed: var(--elevationLevels-e1-crisp-projectionReversed);
  --elevation-weak-sharp-axis: var(--elevationLevels-e1-sharp-axis);
  --elevation-weak-sharp-blur: var(--elevationLevels-e1-sharp-blur);
  --elevation-weak-sharp-color: rgba(1, 21, 28, 0.3);
  --elevation-weak-sharp-projection: var(--elevationLevels-e1-sharp-projection);
  --elevation-weak-sharp-projectionReversed: var(--elevationLevels-e1-sharp-projectionReversed);
  --elevation-weak-soft-axis: var(--elevationLevels-e1-soft-axis);
  --elevation-weak-soft-blur: var(--elevationLevels-e1-soft-blur);
  --elevation-weak-soft-color: rgba(1, 21, 28, 0.25);
  --elevation-weak-soft-projection: var(--elevationLevels-e1-soft-projection);
  --elevation-weak-soft-projectionReversed: var(--elevationLevels-e1-soft-projectionReversed);
  --icon-ai-accent: var(--sand-100);
  --icon-ai-default: var(--royal-600);
  --icon-base-default: var(--basics-white);
  --icon-base-persistent: var(--glacier-2400);
  --icon-base-reversed: var(--glacier-2400);
  --icon-base-reversedPersistent: var(--basics-white);
  --icon-base-reversedSubdued: var(--glacier-600);
  --icon-base-subdued: var(--glacier-600);
  --icon-interaction-default: var(--bahama-900);
  --icon-interaction-reversed: var(--bahama-800);
  --icon-rag-danger: var(--crimson-900);
  --icon-rag-dangerAccessible: var(--crimson-900);
  --icon-rag-success: var(--salem-600);
  --icon-rag-successAccessible: var(--salem-600);
  --icon-rag-warning: var(--orange-600);
  --icon-rag-warningAccessible: var(--orange-600);
  --icon-utilities-disabled: rgba(255, 255, 255, 0.3);
  --stroke-active: var(--basics-white);
  --stroke-ai-contrast: rgba(255, 255, 255, 0.2);
  --stroke-ai-default: var(--royal-1300);
  --stroke-ai-interaction: var(--royal-1000);
  --stroke-ai-subdued: var(--royal-1700);
  --stroke-asSurface: var(--glacier-2300);
  --stroke-danger: var(--crimson-900);
  --stroke-default: var(--glacier-1600);
  --stroke-defaultAccessible: var(--glacier-1200);
  --stroke-disabled: rgba(255, 255, 255, 0.05);
  --stroke-interaction: var(--bahama-900);
  --stroke-interactionBright: var(--bahama-1000);
  --stroke-interactionSubdued: var(--bahama-1400);
  --stroke-onPicture: rgba(255, 255, 255, 0.3);
  --stroke-secondary: var(--glacier-1200);
  --stroke-subdued: var(--glacier-1800);
  --stroke-success: var(--salem-600);
  --stroke-warning: var(--orange-600);
  --stroke-whisper: var(--glacier-2000);
  --surface-accent-default: var(--ocean-1600);
  --surface-accent-secondary: var(--glacier-1800);
  --surface-ai-default: var(--royal-1900);
  --surface-ai-defaultAlpha: rgba(45, 62, 251, 0.29);
  --surface-ai-interaction: var(--royal-1000);
  --surface-ai-interactionAlpha: rgba(107, 142, 255, 0.9);
  --surface-ai-overlays-hover: rgba(172, 189, 244, 0.07);
  --surface-ai-overlays-press: rgba(172, 189, 244, 0.15);
  --surface-ai-secondary: var(--royal-2100);
  --surface-ai-secondaryAlpha: rgba(41, 34, 252, 0.2);
  --surface-base-alternative: var(--ocean-2400);
  --surface-base-default: var(--glacier-2300);
  --surface-base-persistent: var(--glacier-2400);
  --surface-base-reversed: var(--basics-white);
  --surface-base-secondary: var(--glacier-2000);
  --surface-base-secondaryAlpha: rgba(227, 229, 238, 0.06);
  --surface-base-secondarySubdued: var(--glacier-2100);
  --surface-base-secondarySubduedAlpha: rgba(234, 206, 237, 0.04);
  --surface-interaction-active: rgba(50, 164, 202, 0.06);
  --surface-interaction-activeSecondary: rgba(10, 30, 38, 0.55);
  --surface-interaction-bright: var(--bahama-1000);
  --surface-interaction-default: var(--bahama-900);
  --surface-interaction-dialogue: var(--glacier-2300);
  --surface-interaction-dialogueSecondary: var(--glacier-2100);
  --surface-interaction-idle: var(--glacier-1400);
  --surface-interaction-idleActive: var(--glacier-2100);
  --surface-interaction-idleSecondary: var(--glacier-2400);
  --surface-interaction-subdued: var(--bahama-2000);
  --surface-interaction-subduedAlpha: var(--bahama-2000);
  --surface-rag-danger: var(--crimson-2000);
  --surface-rag-dangerBright: var(--crimson-1000);
  --surface-rag-dangerSubdued: rgba(176, 19, 58, 0.15);
  --surface-rag-dangerSubduedAlpha: rgba(176, 19, 58, 0.15);
  --surface-rag-success: var(--salem-2000);
  --surface-rag-successBright: var(--salem-1000);
  --surface-rag-successSubdued: rgba(7, 127, 78, 0.15);
  --surface-rag-successSubduedAlpha: rgba(7, 127, 78, 0.15);
  --surface-rag-warning: var(--orange-2000);
  --surface-rag-warningBright: var(--orange-1200);
  --surface-rag-warningSubdued: rgba(156, 57, 1, 0.15);
  --surface-rag-warningSubduedAlpha: rgba(156, 57, 1, 0.15);
  --surface-utilities-disabled: rgba(255, 255, 255, 0.03);
  --surface-utilities-disabledAlpha: rgba(255, 255, 255, 0.03);
  --surface-utilities-overlays-backdrop: rgba(0, 21, 29, 0.75);
  --surface-utilities-overlays-DataViz: rgba(51, 68, 74, 0.3);
  --surface-utilities-overlays-hover: rgba(9, 119, 158, 0.12);
  --surface-utilities-overlays-neutralHover: rgba(255, 255, 255, 0.06);
  --surface-utilities-overlays-neutralPressed: rgba(255, 255, 255, 0.1);
  --surface-utilities-overlays-off: rgba(255, 255, 255, 0);
  --surface-utilities-overlays-pressed: rgba(9, 119, 158, 0.25);
  --surface-utilities-overlays-reversedHover: rgba(0, 42, 57, 0.5);
  --surface-utilities-overlays-reversedPressed: rgba(0, 42, 57, 0.8);
  --surface-utilities-skeleton: var(--glacier-1800);
  --surface-utilities-zebra: var(--glacier-1900);
  --surface-utilities-zebraSecondary: var(--glacier-1900);
  --text-ai-accent: var(--sand-100);
  --text-ai-default: var(--royal-600);
  --text-ai-subdued: var(--royal-800);
  --text-base-default: var(--basics-white);
  --text-base-persistent: var(--glacier-2400);
  --text-base-reversed: var(--glacier-2400);
  --text-base-reversedPersistent: var(--basics-white);
  --text-base-reversedSubdued: var(--glacier-600);
  --text-base-subdued: var(--glacier-600);
  --text-interaction-default: var(--bahama-900);
  --text-interaction-reversed: var(--bahama-800);
  --text-rag-danger: var(--crimson-900);
  --text-rag-dangerAccessible: var(--crimson-900);
  --text-rag-success: var(--salem-600);
  --text-rag-successAccessible: var(--salem-600);
  --text-rag-warning: var(--orange-600);
  --text-rag-warningAccessible: var(--orange-600);
  --text-utilities-disabled: rgba(255, 255, 255, 0.3);
  --text-utilities-placeholder: var(--glacier-900);
  --theme: Dark;
  --tonal-amber-shade1: var(--amber-1500);
  --tonal-amber-shade2: var(--amber-1000);
  --tonal-amber-strong: var(--amber-800);
  --tonal-amber-subdued: var(--amber-2200);
  --tonal-atoll-shade1: var(--atoll-1500);
  --tonal-atoll-shade2: var(--atoll-1000);
  --tonal-atoll-strong: var(--atoll-800);
  --tonal-atoll-subdued: var(--atoll-2200);
  --tonal-forest-shade1: var(--forest-1500);
  --tonal-forest-shade2: var(--forest-1000);
  --tonal-forest-strong: var(--forest-800);
  --tonal-forest-subdued: var(--forest-2200);
  --tonal-lavender-shade1: var(--lavender-1500);
  --tonal-lavender-shade2: var(--lavender-1000);
  --tonal-lavender-strong: var(--lavender-800);
  --tonal-lavender-subdued: var(--lavender-2200);
  --tonal-lilac-shade1: var(--lilac-1500);
  --tonal-lilac-shade2: var(--lilac-1000);
  --tonal-lilac-strong: var(--lilac-800);
  --tonal-lilac-subdued: var(--lilac-2200);
  --tonal-magenta-Shade-1: var(--magenta-1500);
  --tonal-magenta-shade2: var(--magenta-1000);
  --tonal-magenta-Strong: var(--magenta-900);
  --tonal-magenta-Subdued: var(--magenta-2400);
  --tonal-neutral-shade1: var(--grayscale-900);
  --tonal-ocean-shade1: var(--ocean-1500);
  --tonal-ocean-shade2: var(--ocean-1000);
  --tonal-ocean-strong: var(--ocean-800);
  --tonal-ocean-subdued: var(--ocean-2200);
  --tonal-orange-shade1: var(--orange-1500);
  --tonal-orange-shade2: var(--orange-1000);
  --tonal-orange-strong: var(--orange-800);
  --tonal-orange-subdued: var(--orange-2200);
  --tonal-royal-shade1: var(--royal-1500);
  --tonal-royal-shade2: var(--royal-1000);
  --tonal-royal-strong: var(--royal-800);
  --tonal-royal-subdued: var(--royal-2300);
  --tonal-sand-shade1: var(--sand-1500);
  --tonal-sand-shade2: var(--sand-1000);
  --tonal-sand-strong: var(--sand-800);
  --tonal-sand-subdued: var(--sand-2200);
  --tonal-science-shade1: var(--science-1500);
  --tonal-science-shade2: var(--science-1000);
  --tonal-science-strong: var(--science-800);
  --tonal-science-subdued: var(--science-2300);
  --tonal-watercourse-shade1: var(--watercourse-1500);
  --tonal-watercourse-shade2: var(--watercourse-1000);
  --tonal-watercourse-strong: var(--watercourse-800);
  --tonal-watercourse-subdued: var(--watercourse-2200);
}

/* Lasalle Light */
[data-theme="light"], [data-brand="lasalle"] {
  --dontUseDV-ct-branded-7: var(--clay-700);
  --dontUseDV-ct-branded-9: var(--lavender-700);
  --dontUseDV-ct-div-main-Cold: var(--ocean-700);
  --dontUseDV-ct-div-main-Middle-neutral: var(--glacier-1600);
  --dontUseDV-ct-div-main-Warm: var(--orange-700);
  --dontUseDV-ct-div-overlays-11-steps-1: rgba(1, 21, 29, 0);
  --dontUseDV-ct-div-overlays-11-steps-2: rgba(1, 21, 29, 0.15);
  --dontUseDV-ct-div-overlays-11-steps-3: rgba(1, 21, 29, 0.4);
  --dontUseDV-ct-div-overlays-11-steps-4: rgba(1, 21, 29, 0.55);
  --dontUseDV-ct-div-overlays-11-steps-5: rgba(1, 21, 29, 0.7);
  --dontUseDV-ct-div-overlays-5-steps-1: rgba(1, 21, 29, 0);
  --dontUseDV-ct-div-overlays-5-steps-2: rgba(1, 21, 29, 0.5);
  --dontUseDV-ct-div-overlays-7-steps-1: rgba(1, 21, 29, 0);
  --dontUseDV-ct-div-overlays-7-steps-2: rgba(1, 21, 29, 0.35);
  --dontUseDV-ct-div-overlays-7-steps-3: rgba(1, 21, 29, 0.7);
  --dontUseDV-ct-div-overlays-9-steps-1: rgba(1, 21, 29, 0);
  --dontUseDV-ct-div-overlays-9-steps-2: rgba(1, 21, 29, 0.25);
  --dontUseDV-ct-div-overlays-9-steps-3: rgba(1, 21, 29, 0.5);
  --dontUseDV-ct-div-overlays-9-steps-4: rgba(1, 21, 29, 0.75);
  --dontUseDV-highlight-noData: var(--grayscale-1500);
  --dontUseDV-maps-general-land: rgb(255, 255, 255);
  --dontUseDV-maps-overlaySaturation: rgba(9, 30, 37, 0.55);
  --dontUseDV-maps-special-transportation: rgb(255, 255, 255);
  --dontUseDV-sq-ctBranded-categorical10Glacier: var(--glacier-700);
  --dontUseDV-sq-ctBranded-categorical1Sand: var(--sand-700);
  --dontUseDV-sq-ctBranded-categorical2Ocean: var(--ocean-700);
  --dontUseDV-sq-ctBranded-categorical4Lavender: var(--lavender-700);
  --dontUseDV-sq-ctBranded-categorical5Forest: var(--forest-700);
  --dontUseDV-sq-ctBranded-categorical7Royal: var(--clay-700);
  --dontUseDV-sq-ctExtended-extended10Science: var(--science-700);
  --dontUseDV-sq-ctExtended-extended1Orange: var(--orange-700);
  --dontUseDV-sq-ctExtended-extended2Magenta: var(--magenta-700);
  --dontUseDV-sq-ctExtended-extended3Crimson: var(--crimson-700);
  --dontUseDV-sq-ctExtended-extended4Watercourse: var(--watercourse-700);
  --dontUseDV-sq-ctExtended-extended5Lilac: var(--lilac-700);
  --dontUseDV-sq-ctExtended-extended6Atoll: var(--atoll-700);
  --dontUseDV-sq-ctExtended-extended7Violet: var(--violet-700);
  --dontUseDV-sq-ctExtended-extended8Royal: var(--royal-700);
  --dontUseDV-sq-ctExtended-extended9Amber: var(--amber-700);
  --dontUseDV-sq-overlays-1: rgba(1, 21, 29, 0);
  --dontUseDV-sq-overlays-2: rgba(1, 21, 29, 0.1);
  --dontUseDV-sq-overlays-3: rgba(1, 21, 29, 0.2);
  --dontUseDV-sq-overlays-4: rgba(1, 21, 29, 0.3);
  --dontUseDV-sq-overlays-5: rgba(1, 21, 29, 0.4);
  --dontUseDV-sq-overlays-6: rgba(1, 21, 29, 0.5);
  --dontUseDV-sq-overlays-7: rgba(1, 21, 29, 0.6);
  --dontUseDV-sq-overlays-8: rgba(1, 21, 29, 0.7);
  --dontUseDV-sq-rag-ragDanger: var(--crimson-700);
  --dontUseDV-sq-rag-ragSuccess: var(--salem-700);
  --dontUseDV-sq-rag-ragWarning: var(--orange-700);
  --brand-jllLetters: var(--basics-white);
  --brand-jllRed: var(--jllRed-1200);
  --elevation-moderate-sharp-axis: var(--elevationLevels-e4-sharp-axis);
  --elevation-moderate-sharp-blur: var(--elevationLevels-e4-sharp-blur);
  --elevation-moderate-sharp-color: rgba(1, 21, 28, 0.3);
  --elevation-moderate-sharp-projection: var(--elevationLevels-e4-sharp-projection);
  --elevation-moderate-sharp-projectionReversed: var(--elevationLevels-e4-sharp-projectionReversed);
  --elevation-moderate-soft-axis: var(--elevationLevels-e4-soft-axis);
  --elevation-moderate-soft-blur: var(--elevationLevels-e4-soft-blur);
  --elevation-moderate-soft-color: var(--elevationLevels-e4-soft-color);
  --elevation-moderate-soft-projection: var(--elevationLevels-e4-soft-projection);
  --elevation-moderate-soft-projectionReversed: var(--elevationLevels-e4-soft-projectionReversed);
  --elevation-strong-sharp-axis: var(--elevationLevels-e10-sharp-axis);
  --elevation-strong-sharp-Blur: var(--elevationLevels-e10-sharp-blur);
  --elevation-strong-sharp-Color: rgba(1, 21, 28, 0.3);
  --elevation-strong-sharp-projection: var(--elevationLevels-e10-sharp-projection);
  --elevation-strong-sharp-projectionReversed: var(--elevationLevels-e10-sharp-projectionReversed);
  --elevation-strong-soft-axis: var(--elevationLevels-e10-soft-axis);
  --elevation-strong-soft-blur: var(--elevationLevels-e10-soft-blur);
  --elevation-strong-soft-color: var(--elevationLevels-e10-soft-color);
  --elevation-strong-soft-projection: var(--elevationLevels-e10-soft-projection);
  --elevation-strong-soft-projectionReversed: var(--elevationLevels-e10-soft-projectionReversed);
  --elevation-weak-crisp-axis: var(--elevationLevels-e1-crisp-axis);
  --elevation-weak-crisp-blur: var(--elevationLevels-e1-crisp-blur);
  --elevation-weak-crisp-color: rgba(1, 21, 28, 0.3);
  --elevation-weak-crisp-projection: var(--elevationLevels-e1-crisp-projection);
  --elevation-weak-crisp-projectionReversed: var(--elevationLevels-e1-crisp-projectionReversed);
  --elevation-weak-sharp-axis: var(--elevationLevels-e1-sharp-axis);
  --elevation-weak-sharp-blur: var(--elevationLevels-e1-sharp-blur);
  --elevation-weak-sharp-color: rgba(1, 21, 28, 0.3);
  --elevation-weak-sharp-projection: var(--elevationLevels-e1-sharp-projection);
  --elevation-weak-sharp-projectionReversed: var(--elevationLevels-e1-sharp-projectionReversed);
  --elevation-weak-soft-axis: var(--elevationLevels-e1-soft-axis);
  --elevation-weak-soft-blur: var(--elevationLevels-e1-soft-blur);
  --elevation-weak-soft-color: rgba(1, 21, 28, 0.25);
  --elevation-weak-soft-projection: var(--elevationLevels-e1-soft-projection);
  --elevation-weak-soft-projectionReversed: var(--elevationLevels-e1-soft-projectionReversed);
  --icon-ai-accent: rgb(248, 32, 255);
  --icon-ai-default: rgb(248, 32, 255);
  --icon-base-default: var(--basics-white);
  --icon-base-persistent: var(--lasalle-blue-2400);
  --icon-base-reversed: var(--lasalle-blue-2400);
  --icon-base-reversedPersistent: var(--basics-white);
  --icon-base-reversedSubdued: var(--glacier-600);
  --icon-base-subdued: var(--glacier-600);
  --icon-interaction-default: var(--bahama-900);
  --icon-interaction-reversed: var(--bahama-800);
  --icon-rag-danger: var(--crimson-900);
  --icon-rag-dangerAccessible: var(--crimson-900);
  --icon-rag-success: var(--salem-600);
  --icon-rag-successAccessible: var(--salem-600);
  --icon-rag-warning: var(--orange-600);
  --icon-rag-warningAccessible: var(--orange-600);
  --icon-utilities-disabled: rgba(255, 255, 255, 0.3);
  --stroke-active: var(--basics-white);
  --stroke-ai-contrast: rgb(248, 32, 255);
  --stroke-ai-default: rgb(248, 32, 255);
  --stroke-ai-interaction: rgb(248, 32, 255);
  --stroke-ai-subdued: rgb(248, 32, 255);
  --stroke-asSurface: var(--lasalle-gray-2300);
  --stroke-danger: var(--crimson-900);
  --stroke-defaultAccessible: var(--lasalle-gray-1200);
  --stroke-disabled: rgba(255, 255, 255, 0.05);
  --stroke-interaction: var(--bahama-900);
  --stroke-interactionBright: var(--bahama-1000);
  --stroke-interactionSubdued: var(--bahama-1400);
  --stroke-onPicture: rgba(255, 255, 255, 0.3);
  --stroke-secondary: var(--lasalle-gray-1200);
  --stroke-subdued: var(--lasalle-gray-1800);
  --stroke-success: var(--salem-600);
  --stroke-warning: var(--orange-600);
  --stroke-whisper: var(--lasalle-gray-2000);
  --surface-accent-default: var(--lasalle-blue-1600);
  --surface-accent-secondary: rgba(0, 76, 240, 0.1);
  --surface-ai-default: rgb(248, 32, 255);
  --surface-ai-defaultAlpha: rgb(248, 32, 255);
  --surface-ai-interaction: rgb(248, 32, 255);
  --surface-ai-interactionAlpha: rgb(248, 32, 255);
  --surface-ai-overlays-hover: rgb(248, 32, 255);
  --surface-ai-overlays-press: rgb(248, 32, 255);
  --surface-ai-secondary: rgb(248, 32, 255);
  --surface-ai-secondaryAlpha: rgb(248, 32, 255);
  --surface-base-alternative: var(--ocean-2400);
  --surface-base-default: var(--lasalle-blue-2300);
  --surface-base-persistent: var(--lasalle-blue-2200);
  --surface-base-reversed: var(--basics-white);
  --surface-base-secondary: var(--lasalle-blue-2200);
  --surface-base-secondaryAlpha: rgba(0, 76, 240, 0.1);
  --surface-base-secondarySubdued: var(--lasalle-blue-2100);
  --surface-base-secondarySubduedAlpha: rgba(234, 206, 237, 0.04);
  --surface-interaction-active: rgba(50, 164, 202, 0.06);
  --surface-interaction-activeSecondary: rgba(10, 30, 38, 0.55);
  --surface-interaction-bright: var(--bahama-1000);
  --surface-interaction-default: var(--bahama-900);
  --surface-interaction-dialogue: var(--lasalle-gray-2200);
  --surface-interaction-dialogueSecondary: var(--lasalle-gray-2100);
  --surface-interaction-idle: var(--lasalle-gray-1400);
  --surface-interaction-idleActive: var(--glacier-2100);
  --surface-interaction-idleSecondary: var(--glacier-2400);
  --surface-interaction-subdued: var(--bahama-2000);
  --surface-interaction-subduedAlpha: var(--bahama-2000);
  --surface-rag-danger: var(--crimson-2000);
  --surface-rag-dangerBright: var(--crimson-1000);
  --surface-rag-dangerSubdued: rgba(176, 19, 58, 0.15);
  --surface-rag-dangerSubduedAlpha: rgba(176, 19, 58, 0.15);
  --surface-rag-success: var(--salem-2000);
  --surface-rag-successBright: var(--salem-1000);
  --surface-rag-successSubdued: rgba(7, 127, 78, 0.15);
  --surface-rag-successSubduedAlpha: rgba(7, 127, 78, 0.15);
  --surface-rag-warning: var(--orange-2000);
  --surface-rag-warningBright: var(--orange-1200);
  --surface-rag-warningSubdued: rgba(156, 57, 1, 0.15);
  --surface-rag-warningSubduedAlpha: rgba(156, 57, 1, 0.15);
  --surface-utilities-disabled: rgba(255, 255, 255, 0.03);
  --surface-utilities-disabledAlpha: rgba(255, 255, 255, 0.03);
  --surface-utilities-overlays-backdrop: rgba(0, 30, 90, 0.75);
  --surface-utilities-overlays-DataViz: rgba(51, 68, 74, 0.3);
  --surface-utilities-overlays-hover: rgba(122, 143, 184, 0.12);
  --surface-utilities-overlays-neutralHover: rgba(255, 255, 255, 0.06);
  --surface-utilities-overlays-neutralPressed: rgba(255, 255, 255, 0.1);
  --surface-utilities-overlays-off: rgba(255, 255, 255, 0);
  --surface-utilities-overlays-pressed: rgba(122, 143, 184, 0.25);
  --surface-utilities-overlays-reversedHover: rgba(0, 30, 90, 0.5);
  --surface-utilities-overlays-reversedPressed: rgba(0, 30, 90, 0.8);
  --surface-utilities-skeleton: var(--lasalle-blue-2100);
  --surface-utilities-zebra: var(--lasalle-blue-1800);
  --surface-utilities-zebraSecondary: var(--lasalle-blue-1900);
  --text-ai-accent: rgb(248, 32, 255);
  --text-ai-default: rgb(248, 32, 255);
  --text-ai-subdued: rgb(248, 32, 255);
  --text-base-default: var(--basics-white);
  --text-base-persistent: var(--lasalle-blue-2400);
  --text-base-reversed: var(--lasalle-blue-2400);
  --text-base-reversedPersistent: var(--basics-white);
  --text-base-reversedSubdued: var(--lasalle-gray-600);
  --text-base-subdued: var(--lasalle-gray-600);
  --text-interaction-default: var(--bahama-900);
  --text-interaction-reversed: var(--bahama-800);
  --text-rag-danger: var(--crimson-900);
  --text-rag-success: var(--salem-600);
  --text-rag-successAccessible: var(--salem-600);
  --text-rag-warning: var(--orange-600);
  --text-rag-warningAccessible: var(--orange-600);
  --text-utilities-disabled: rgba(255, 255, 255, 0.3);
  --text-utilities-placeholder: var(--lasalle-gray-800);
  --theme: Lasalle - Dark;
  --tonal-amber-shade1: var(--amber-1500);
  --tonal-amber-shade2: var(--amber-1000);
  --tonal-amber-strong: var(--amber-800);
  --tonal-amber-subdued: var(--amber-2200);
  --tonal-atoll-shade1: var(--atoll-1500);
  --tonal-atoll-shade2: var(--atoll-1000);
  --tonal-atoll-strong: var(--atoll-800);
  --tonal-atoll-subdued: var(--atoll-2200);
  --tonal-forest-shade1: var(--forest-1500);
  --tonal-forest-shade2: var(--forest-1000);
  --tonal-forest-strong: var(--forest-800);
  --tonal-forest-subdued: var(--forest-2200);
  --tonal-lavender-shade1: var(--lavender-1500);
  --tonal-lavender-shade2: var(--lavender-1000);
  --tonal-lavender-strong: var(--lavender-800);
  --tonal-lavender-subdued: var(--lavender-2200);
  --tonal-lilac-shade1: var(--lilac-1500);
  --tonal-lilac-shade2: var(--lilac-1000);
  --tonal-lilac-strong: var(--lilac-800);
  --tonal-lilac-subdued: var(--lilac-2200);
  --tonal-magenta-Shade-1: var(--magenta-1500);
  --tonal-magenta-shade2: var(--magenta-1000);
  --tonal-magenta-Strong: var(--magenta-900);
  --tonal-magenta-Subdued: var(--magenta-2400);
  --tonal-neutral-shade1: var(--grayscale-900);
  --tonal-ocean-shade1: var(--ocean-1500);
  --tonal-ocean-shade2: var(--ocean-1000);
  --tonal-ocean-strong: var(--ocean-800);
  --tonal-ocean-subdued: var(--ocean-2200);
  --tonal-orange-shade1: var(--orange-1500);
  --tonal-orange-shade2: var(--orange-1000);
  --tonal-orange-strong: var(--orange-800);
  --tonal-orange-subdued: var(--orange-2200);
  --tonal-royal-shade1: var(--royal-1500);
  --tonal-royal-shade2: var(--royal-1000);
  --tonal-royal-strong: var(--royal-800);
  --tonal-royal-subdued: var(--royal-2300);
  --tonal-sand-shade1: var(--sand-1500);
  --tonal-sand-shade2: var(--sand-1000);
  --tonal-sand-strong: var(--sand-800);
  --tonal-sand-subdued: var(--sand-2200);
  --tonal-science-shade1: var(--science-1500);
  --tonal-science-shade2: var(--science-1000);
  --tonal-science-strong: var(--science-800);
  --tonal-science-subdued: var(--science-2300);
  --tonal-watercourse-shade1: var(--watercourse-1500);
  --tonal-watercourse-shade2: var(--watercourse-1000);
  --tonal-watercourse-strong: var(--watercourse-800);
  --tonal-watercourse-subdued: var(--watercourse-2200);
}

/* Lasalle Dark */
[data-theme="dark"], [data-brand="lasalle"] {
  --dontUseDV-ct-branded-7: var(--clay-1000);
  --dontUseDV-ct-branded-9: var(--lavender-1000);
  --dontUseDV-ct-div-main-Cold: var(--ocean-1400);
  --dontUseDV-ct-div-main-Middle-neutral: rgb(223, 229, 232);
  --dontUseDV-ct-div-main-Warm: var(--orange-1400);
  --dontUseDV-ct-div-overlays-11-steps-1: rgba(255, 255, 255, 0);
  --dontUseDV-ct-div-overlays-11-steps-2: rgba(255, 255, 255, 0.15);
  --dontUseDV-ct-div-overlays-11-steps-3: rgba(255, 255, 255, 0.4);
  --dontUseDV-ct-div-overlays-11-steps-4: rgba(255, 255, 255, 0.55);
  --dontUseDV-ct-div-overlays-11-steps-5: rgba(255, 255, 255, 0.7);
  --dontUseDV-ct-div-overlays-5-steps-1: rgba(255, 255, 255, 0);
  --dontUseDV-ct-div-overlays-5-steps-2: rgba(255, 255, 255, 0.5);
  --dontUseDV-ct-div-overlays-7-steps-1: rgba(255, 255, 255, 0);
  --dontUseDV-ct-div-overlays-7-steps-2: rgba(255, 255, 255, 0.35);
  --dontUseDV-ct-div-overlays-7-steps-3: rgba(255, 255, 255, 0.7);
  --dontUseDV-ct-div-overlays-9-steps-1: rgba(255, 255, 255, 0);
  --dontUseDV-ct-div-overlays-9-steps-2: rgba(255, 255, 255, 0.25);
  --dontUseDV-ct-div-overlays-9-steps-3: rgba(255, 255, 255, 0.5);
  --dontUseDV-ct-div-overlays-9-steps-4: rgba(255, 255, 255, 0.75);
  --dontUseDV-highlight-noData: var(--grayscale-400);
  --dontUseDV-maps-general-land: rgb(255, 255, 255);
  --dontUseDV-maps-overlaySaturation: rgba(246, 249, 250, 0.55);
  --dontUseDV-maps-special-transportation: rgb(255, 255, 255);
  --dontUseDV-sq-ctBranded-categorical10Glacier: var(--glacier-1400);
  --dontUseDV-sq-ctBranded-categorical1Sand: var(--sand-1400);
  --dontUseDV-sq-ctBranded-categorical2Ocean: var(--ocean-1400);
  --dontUseDV-sq-ctBranded-categorical4Lavender: var(--lavender-1400);
  --dontUseDV-sq-ctBranded-categorical5Forest: var(--forest-1400);
  --dontUseDV-sq-ctBranded-categorical7Royal: var(--clay-1400);
  --dontUseDV-sq-ctExtended-extended10Science: var(--science-1400);
  --dontUseDV-sq-ctExtended-extended1Orange: var(--orange-1400);
  --dontUseDV-sq-ctExtended-extended2Magenta: var(--magenta-1400);
  --dontUseDV-sq-ctExtended-extended3Crimson: var(--crimson-1400);
  --dontUseDV-sq-ctExtended-extended4Watercourse: var(--watercourse-1400);
  --dontUseDV-sq-ctExtended-extended5Lilac: var(--lilac-1400);
  --dontUseDV-sq-ctExtended-extended6Atoll: var(--atoll-1400);
  --dontUseDV-sq-ctExtended-extended7Violet: var(--violet-1400);
  --dontUseDV-sq-ctExtended-extended8Royal: var(--royal-1400);
  --dontUseDV-sq-ctExtended-extended9Amber: var(--amber-1400);
  --dontUseDV-sq-overlays-1: rgba(255, 255, 255, 0);
  --dontUseDV-sq-overlays-2: rgba(255, 255, 255, 0.1);
  --dontUseDV-sq-overlays-3: rgba(255, 255, 255, 0.2);
  --dontUseDV-sq-overlays-4: rgba(255, 255, 255, 0.3);
  --dontUseDV-sq-overlays-5: rgba(255, 255, 255, 0.4);
  --dontUseDV-sq-overlays-6: rgba(255, 255, 255, 0.5);
  --dontUseDV-sq-overlays-7: rgba(255, 255, 255, 0.6);
  --dontUseDV-sq-overlays-8: rgba(255, 255, 255, 0.7);
  --dontUseDV-sq-rag-ragDanger: var(--crimson-1400);
  --dontUseDV-sq-rag-ragSuccess: var(--salem-1400);
  --dontUseDV-sq-rag-ragWarning: var(--orange-1400);
  --brand-jllLetters: var(--basics-black);
  --brand-jllRed: var(--jllRed-1200);
  --elevation-moderate-sharp-axis: var(--elevationLevels-e4-sharp-axis);
  --elevation-moderate-sharp-blur: var(--elevationLevels-e4-sharp-blur);
  --elevation-moderate-sharp-color: var(--elevationLevels-e1-sharp-color);
  --elevation-moderate-sharp-projection: var(--elevationLevels-e4-sharp-projection);
  --elevation-moderate-sharp-projectionReversed: var(--elevationLevels-e4-sharp-projectionReversed);
  --elevation-moderate-soft-axis: var(--elevationLevels-e4-soft-axis);
  --elevation-moderate-soft-blur: var(--elevationLevels-e4-soft-blur);
  --elevation-moderate-soft-color: var(--elevationLevels-e4-soft-color);
  --elevation-moderate-soft-projection: var(--elevationLevels-e4-soft-projection);
  --elevation-moderate-soft-projectionReversed: var(--elevationLevels-e4-soft-projectionReversed);
  --elevation-strong-sharp-axis: var(--elevationLevels-e10-sharp-axis);
  --elevation-strong-sharp-Blur: var(--elevationLevels-e10-sharp-blur);
  --elevation-strong-sharp-Color: var(--elevationLevels-e10-sharp-color);
  --elevation-strong-sharp-projection: var(--elevationLevels-e10-sharp-projection);
  --elevation-strong-sharp-projectionReversed: var(--elevationLevels-e10-sharp-projectionReversed);
  --elevation-strong-soft-axis: var(--elevationLevels-e10-soft-axis);
  --elevation-strong-soft-blur: var(--elevationLevels-e10-soft-blur);
  --elevation-strong-soft-color: var(--elevationLevels-e10-soft-color);
  --elevation-strong-soft-projection: var(--elevationLevels-e10-soft-projection);
  --elevation-strong-soft-projectionReversed: var(--elevationLevels-e10-soft-projectionReversed);
  --elevation-weak-crisp-axis: var(--elevationLevels-e1-crisp-axis);
  --elevation-weak-crisp-blur: var(--elevationLevels-e1-crisp-blur);
  --elevation-weak-crisp-color: var(--elevationLevels-e1-crisp-color);
  --elevation-weak-crisp-projection: var(--elevationLevels-e1-crisp-projection);
  --elevation-weak-crisp-projectionReversed: var(--elevationLevels-e1-crisp-projectionReversed);
  --elevation-weak-sharp-axis: var(--elevationLevels-e1-sharp-axis);
  --elevation-weak-sharp-blur: var(--elevationLevels-e1-sharp-blur);
  --elevation-weak-sharp-color: var(--elevationLevels-e1-sharp-color);
  --elevation-weak-sharp-projection: var(--elevationLevels-e1-sharp-projection);
  --elevation-weak-sharp-projectionReversed: var(--elevationLevels-e1-sharp-projectionReversed);
  --elevation-weak-soft-axis: var(--elevationLevels-e1-soft-axis);
  --elevation-weak-soft-blur: var(--elevationLevels-e1-soft-blur);
  --elevation-weak-soft-color: var(--elevationLevels-e1-soft-color);
  --elevation-weak-soft-projection: var(--elevationLevels-e1-soft-projection);
  --elevation-weak-soft-projectionReversed: var(--elevationLevels-e1-soft-projectionReversed);
  --icon-ai-accent: rgb(248, 32, 255);
  --icon-ai-default: rgb(248, 32, 255);
  --icon-base-default: var(--lasalle-blue-2200);
  --icon-base-persistent: var(--lasalle-blue-2400);
  --icon-base-reversed: var(--basics-white);
  --icon-base-reversedPersistent: var(--basics-white);
  --icon-base-reversedSubdued: var(--glacier-600);
  --icon-base-subdued: var(--glacier-1200);
  --icon-interaction-default: var(--bahama-1200);
  --icon-interaction-reversed: var(--bahama-800);
  --icon-rag-danger: var(--crimson-1400);
  --icon-rag-dangerAccessible: var(--crimson-1600);
  --icon-rag-success: var(--salem-1200);
  --icon-rag-successAccessible: var(--salem-1400);
  --icon-rag-warning: var(--orange-1200);
  --icon-rag-warningAccessible: var(--orange-1400);
  --icon-utilities-disabled: rgba(1, 21, 29, 0.35);
  --stroke-active: var(--lasalle-blue-2400);
  --stroke-ai-contrast: rgb(248, 32, 255);
  --stroke-ai-default: rgb(248, 32, 255);
  --stroke-ai-interaction: rgb(248, 32, 255);
  --stroke-ai-subdued: rgb(248, 32, 255);
  --stroke-asSurface: var(--basics-white);
  --stroke-danger: var(--crimson-1400);
  --stroke-defaultAccessible: var(--glacier-1200);
  --stroke-disabled: rgba(206, 213, 216, 0.5);
  --stroke-interaction: var(--bahama-1200);
  --stroke-interactionBright: var(--bahama-900);
  --stroke-interactionSubdued: var(--ocean-600);
  --stroke-onPicture: rgba(255, 255, 255, 0.3);
  --stroke-secondary: var(--glacier-700);
  --stroke-subdued: var(--glacier-300);
  --stroke-success: var(--salem-1200);
  --stroke-warning: var(--orange-1200);
  --stroke-whisper: var(--glacier-200);
  --surface-accent-default: var(--lasalle-blue-2000);
  --surface-accent-secondary: rgba(5, 35, 118, 0.1);
  --surface-ai-default: rgb(248, 32, 255);
  --surface-ai-defaultAlpha: rgb(248, 32, 255);
  --surface-ai-interaction: rgb(248, 32, 255);
  --surface-ai-interactionAlpha: rgb(248, 32, 255);
  --surface-ai-overlays-hover: rgb(248, 32, 255);
  --surface-ai-overlays-press: rgb(248, 32, 255);
  --surface-ai-secondary: rgb(248, 32, 255);
  --surface-ai-secondaryAlpha: rgb(248, 32, 255);
  --surface-base-alternative: var(--sand-200);
  --surface-base-default: var(--basics-white);
  --surface-base-persistent: var(--lasalle-blue-2200);
  --surface-base-reversed: var(--lasalle-blue-2300);
  --surface-base-secondary: var(--lasalle-blue-200);
  --surface-base-secondaryAlpha: rgba(5, 35, 118, 0.1);
  --surface-base-secondarySubdued: var(--lasalle-blue-100);
  --surface-base-secondarySubduedAlpha: rgba(38, 72, 140, 0.06);
  --surface-interaction-active: rgba(9, 119, 158, 0.06);
  --surface-interaction-activeSecondary: rgba(255, 255, 255, 0.85);
  --surface-interaction-bright: var(--bahama-900);
  --surface-interaction-default: var(--bahama-1200);
  --surface-interaction-dialogue: var(--basics-white);
  --surface-interaction-dialogueSecondary: var(--lasalle-gray-1400);
  --surface-interaction-idle: var(--lasalle-gray-1400);
  --surface-interaction-idleActive: var(--glacier-100);
  --surface-interaction-idleSecondary: var(--basics-white);
  --surface-interaction-subdued: var(--bahama-200);
  --surface-interaction-subduedAlpha: rgba(15, 191, 255, 0.13);
  --surface-rag-danger: var(--crimson-1400);
  --surface-rag-dangerBright: var(--crimson-900);
  --surface-rag-dangerSubdued: var(--crimson-100);
  --surface-rag-dangerSubduedAlpha: rgba(255, 26, 83, 0.05);
  --surface-rag-success: var(--salem-1200);
  --surface-rag-successBright: var(--salem-900);
  --surface-rag-successSubdued: var(--salem-100);
  --surface-rag-successSubduedAlpha: rgba(0, 255, 119, 0.08);
  --surface-rag-warning: var(--orange-1200);
  --surface-rag-warningBright: var(--orange-900);
  --surface-rag-warningSubdued: var(--orange-100);
  --surface-rag-warningSubduedAlpha: rgba(255, 97, 5, 0.05);
  --surface-utilities-disabled: rgba(1, 21, 29, 0.02);
  --surface-utilities-disabledAlpha: rgba(1, 21, 29, 0.02);
  --surface-utilities-overlays-backdrop: rgba(51, 68, 74, 0.3);
  --surface-utilities-overlays-DataViz: rgba(51, 68, 74, 0);
  --surface-utilities-overlays-hover: rgba(122, 143, 184, 0.07);
  --surface-utilities-overlays-neutralHover: rgba(0, 0, 0, 0.07);
  --surface-utilities-overlays-neutralPressed: rgba(0, 0, 0, 0.11);
  --surface-utilities-overlays-off: rgba(255, 255, 255, 0);
  --surface-utilities-overlays-pressed: rgba(122, 143, 184, 0.15);
  --surface-utilities-overlays-reversedHover: rgba(204, 212, 228, 0.2);
  --surface-utilities-overlays-reversedPressed: rgba(204, 212, 228, 0.3);
  --surface-utilities-skeleton: var(--lasalle-blue-200);
  --surface-utilities-zebra: var(--glacier-100);
  --surface-utilities-zebraSecondary: var(--glacier-1500);
  --text-ai-accent: rgb(248, 32, 255);
  --text-ai-default: rgb(248, 32, 255);
  --text-ai-subdued: rgb(248, 32, 255);
  --text-base-default: var(--lasalle-blue-2400);
  --text-base-persistent: var(--lasalle-blue-2400);
  --text-base-reversed: var(--basics-white);
  --text-base-reversedPersistent: var(--basics-white);
  --text-base-reversedSubdued: var(--lasalle-gray-600);
  --text-base-subdued: var(--lasalle-gray-1500);
  --text-interaction-default: var(--bahama-1200);
  --text-interaction-reversed: var(--bahama-800);
  --text-rag-danger: var(--crimson-1400);
  --text-rag-success: var(--salem-1200);
  --text-rag-successAccessible: var(--salem-1400);
  --text-rag-warning: var(--orange-1200);
  --text-rag-warningAccessible: var(--orange-1400);
  --text-utilities-disabled: rgba(1, 21, 29, 0.35);
  --text-utilities-placeholder: var(--lasalle-gray-1100);
  --theme: Lasalle - Light;
  --tonal-amber-shade1: var(--amber-400);
  --tonal-amber-shade2: var(--amber-900);
  --tonal-amber-strong: var(--amber-1500);
  --tonal-amber-subdued: var(--amber-100);
  --tonal-atoll-shade1: var(--atoll-400);
  --tonal-atoll-shade2: var(--atoll-900);
  --tonal-atoll-strong: var(--atoll-1500);
  --tonal-atoll-subdued: var(--atoll-200);
  --tonal-forest-shade1: var(--forest-400);
  --tonal-forest-shade2: var(--forest-900);
  --tonal-forest-strong: var(--forest-1500);
  --tonal-forest-subdued: var(--forest-200);
  --tonal-lavender-shade1: var(--lavender-400);
  --tonal-lavender-shade2: var(--lavender-900);
  --tonal-lavender-strong: var(--lavender-1500);
  --tonal-lavender-subdued: var(--lavender-200);
  --tonal-lilac-shade1: var(--lilac-400);
  --tonal-lilac-shade2: var(--lilac-900);
  --tonal-lilac-strong: var(--lilac-1500);
  --tonal-lilac-subdued: var(--lilac-200);
  --tonal-magenta-Shade-1: var(--magenta-400);
  --tonal-magenta-shade2: var(--magenta-900);
  --tonal-magenta-Strong: var(--magenta-1500);
  --tonal-magenta-Subdued: var(--magenta-200);
  --tonal-neutral-shade1: var(--grayscale-400);
  --tonal-ocean-shade1: var(--ocean-400);
  --tonal-ocean-shade2: var(--ocean-900);
  --tonal-ocean-strong: var(--ocean-1500);
  --tonal-ocean-subdued: var(--ocean-200);
  --tonal-orange-shade1: var(--orange-400);
  --tonal-orange-shade2: var(--orange-900);
  --tonal-orange-strong: var(--orange-1500);
  --tonal-orange-subdued: var(--orange-200);
  --tonal-royal-shade1: var(--royal-400);
  --tonal-royal-shade2: var(--royal-900);
  --tonal-royal-strong: var(--royal-1500);
  --tonal-royal-subdued: var(--royal-200);
  --tonal-sand-shade1: var(--sand-400);
  --tonal-sand-shade2: var(--sand-900);
  --tonal-sand-strong: var(--sand-1500);
  --tonal-sand-subdued: var(--sand-200);
  --tonal-science-shade1: var(--science-400);
  --tonal-science-shade2: var(--science-900);
  --tonal-science-strong: var(--science-1500);
  --tonal-science-subdued: var(--science-200);
  --tonal-watercourse-shade1: var(--watercourse-400);
  --tonal-watercourse-shade2: var(--watercourse-900);
  --tonal-watercourse-strong: var(--watercourse-1500);
  --tonal-watercourse-subdued: var(--watercourse-200);
}
